section.section-box.mt-30
    .container
        .row
            // Item
            .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
                .card-grid-style-2.card-grid-style-2-small
                    .image-box
                        a(href='shop-fullwidth.html')
                            img(src='assets/imgs/page/homepage8/img1.png', alt='Ecom')
                        .mt-10.text-center
                            a.btn.btn-gray(href='shop-fullwidth.html') View all
                    .info-right
                        a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                            h6 Business & Money
                        ul.list-links-disc
                            li
                                a.font-sm(href='shop-fullwidth.html') Accounting
                            li
                                a.font-sm(href='shop-fullwidth.html') Biography & History
                            li
                                a.font-sm(href='shop-fullwidth.html') Business Culture
                            li
                                a.font-sm(href='shop-fullwidth.html') Economics
            // End item
            // Item
            .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
                .card-grid-style-2.card-grid-style-2-small
                    .image-box
                        a(href='shop-fullwidth.html')
                            img(src='assets/imgs/page/homepage8/img2.png', alt='Ecom')
                        .mt-10.text-center
                            a.btn.btn-gray(href='shop-fullwidth.html') View all
                    .info-right
                        a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                            h6 Biographies
                        ul.list-links-disc
                            li
                                a.font-sm(href='shop-fullwidth.html') HD DVD Players
                            li
                                a.font-sm(href='shop-fullwidth.html') Projection Screens
                            li
                                a.font-sm(href='shop-fullwidth.html') Television Accessories
                            li
                                a.font-sm(href='shop-fullwidth.html') TV-DVD Combos
            // End item
            // Item
            .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
                .card-grid-style-2.card-grid-style-2-small
                    .image-box
                        a(href='shop-fullwidth.html')
                            img(src='assets/imgs/page/homepage8/img3.png', alt='Ecom')
                        .mt-10.text-center
                            a.btn.btn-gray(href='shop-fullwidth.html') View all
                    .info-right
                        a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                            h6 Children's Books
                        ul.list-links-disc
                            li
                                a.font-sm(href='shop-fullwidth.html') Action & Adventure
                            li
                                a.font-sm(href='shop-fullwidth.html') Activities, Crafts
                            li
                                a.font-sm(href='shop-fullwidth.html') Arts, Music
                            li
                                a.font-sm(href='shop-fullwidth.html') Early Learning
            // End item
            // Item
            .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
                .card-grid-style-2.card-grid-style-2-small
                    .image-box
                        a(href='shop-fullwidth.html')
                            img(src='assets/imgs/page/homepage8/img4.png', alt='Ecom')
                        .mt-10.text-center
                            a.btn.btn-gray(href='shop-fullwidth.html') View all
                    .info-right
                        a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                            h6 Education & Teaching
                        ul.list-links-disc
                            li
                                a.font-sm(href='shop-fullwidth.html') Higher & Continuing
                            li
                                a.font-sm(href='shop-fullwidth.html') Schools & Teaching
                            li
                                a.font-sm(href='shop-fullwidth.html') Study Guides
                            li
                                a.font-sm(href='shop-fullwidth.html') Test Preparation 
            // End item
