section.section-box.mt-50
    .container
        .row
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Best seller
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-best-seller
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book1.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book2.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book6.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book3.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-bestseller
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-bestseller
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Featured products
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-featured
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book4.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book5.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book6.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book7.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-featured
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-featured
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Most viewed
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-mostviewed
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book7.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book8.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book9.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book5.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-mostviewed
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-mostviewed
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Trending
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-trending
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book4.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book5.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book9.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage8/book1.png', 'Steven Job', 'How Great Leaders Inspire Everyone to Take Action', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-trending
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-trending