section.section-box.mt-50
    .container
        .row
            .col-lg-12
                .head-main
                    h3.mb-5 Top Selling Books
                    p.font-base.color-gray-500 Special products in this month.
                    .box-button-slider
                        .swiper-button-next.swiper-button-next-group-1
                        .swiper-button-prev.swiper-button-prev-group-1
                .box-swiper
                    .swiper-container.swiper-group-1.style-label-right
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .row
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book1.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-success New
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book2.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-info Deal
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book3.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500 -175
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book4.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-danger Hot
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book5.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-danger Hot
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book6.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-success New
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book7.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500 -17%
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book8.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-success New
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage8/book9.png', 'Steven Job', 'Eight Unconventional CEOs and Their Radically Rational Blueprint for Success', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            label.label.font-xs.color-gray-500.bg-danger Hot