.section-box.mt-30.mb-50
    .container
        .box-ads-2.box-ads-3 
            img(src="assets/imgs/page/homepage8/ads1.png", alt="Ecom")
            .ads-info 
                h6.color-white.mb-5 Best Book Colletion
                h3.color-white.mb-15 Let’s Change Things Inspire Book
                a.btn.btn-brand-2.btn-arrow-right Shop Now