section.section-box.pt-30
  .container
    .head-main.bd-gray-200
      .row
        .col-lg-6
          h3.mb-5 Latest Deals
          p.font-base.color-gray-500 Special products in this month.
        .col-lg-6.text-end
          .box-all-hurry
            .d-inline-block.box-text-hurryup
              span.font-md-bold.color-gray-900 Hurry up!
              br
              span.font-xs.color-gray-500 Offers end in:
            .box-count.box-count-square.hide-period
              .deals-countdown(data-countdown='2023/08/25 00:00:00')
            a.btn.btn-view-all.font-md-bold(href='shop-single-product.html') View All
    .row
        .col-lg-12
            .list-products-5.list-brand-2
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp1.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp2.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp3.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp4.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp5.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp6.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp7.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp8.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp9.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')
                +cardGridStyle3_3('assets/imgs/page/homepage8/sp10.png', "Benjamin Graham", "-17%", 'Start with Why: How Great Leaders Inspire Everyone to Take Action', '$256.3', "$198.5", 'shop-single-product-3.html')