section.section-box.pt-50.pb-50.bg-27
    .container
        .head-main.bd-gray-200.border-none
            .row
                .col-xl-12.text-center
                    h3.mb-5 Picked By Ecom
                    p.font-base.color-gray-500 Special products in this month.
        .mt-0
            .pick-by-ecom
                .box-swiper
                    .swiper-container.swiper-group-2-style-2.pb-15
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                +cardStyle3TopDeal('assets/imgs/page/homepage1/smartwatches.png', 'assets/imgs/page/homepage1/imgsp4.png', 'assets/imgs/page/homepage1/screen-3.png', 'Top', 'Deals', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', 'shop-single-product.html', '$3856.3', '$2856.3', '568', '289', '1')
                            .swiper-slide
                                +cardStyle3TopDeal('assets/imgs/page/homepage1/screen-2.png', 'assets/imgs/page/homepage1/screen-3.png', 'assets/imgs/page/homepage1/screen.png', 'Top', 'Deals', 'Apple', 'Apple MacBook Air with Apple M1 Chip 13-inch, 8GB RAM', 'shop-single-product.html', '$3856.3', '$2856.3', '568', '289', '1')
                            .swiper-slide
                                +cardStyle3TopDeal('assets/imgs/page/homepage1/screen-2.png', 'assets/imgs/page/homepage1/screen-3.png', 'assets/imgs/page/homepage1/screen.png', 'Top', 'Deals', 'Apple', 'Apple MacBook Air with Apple M1 Chip 13-inch, 8GB RAM', 'shop-single-product.html', '$3856.3', '$2856.3', '568', '289', '1')
                        .swiper-pagination.swiper-pagination-3
                    .swiper-button-next.swiper-button-next-ecom
                    .swiper-button-prev.swiper-button-prev-ecom