section.section-box.mt-50
    .container
        .row   
            .col-lg-6.mb-20
                .block-sale-3
                    .row.height-100 
                        .col-lg-5.col-md-6.col-sm-6.col-12.height-100.align-items-center.d-flex
                            .box-sale
                                span.font-sm.color-brand-3 Latest Books
                                h4.mt-5.mb-5 Exclusive Offers
                                p.color-brand-3.font-sm.mb-5 Nullam diam tellus, convallis vel rhoncus vel, condimentum
                                a.btn.btn-arrow(href="#") Shop Now
                        .col-lg-7.col-md-6.col-sm-6.col-12.height-100.align-items-end.d-flex
                            img(src="assets/imgs/page/homepage8/book-ads1.png", alt="Ecom")
            .col-lg-6.mb-20
                .block-sale-3.bg-29
                    .row.height-100  
                        .col-lg-5.col-md-6.col-sm-6.col-12.height-100.align-items-center.d-flex
                            .box-sale
                                span.font-sm.color-brand-3 For Collection
                                h4.mt-5.mb-10 History Books
                                p.color-brand-3.font-sm.mb-5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean maximus laoreet
                                a.btn.btn-arrow(href="#") Shop Now
                        .col-lg-7.col-md-6.col-sm-6.col-12.height-100.align-items-end.d-flex
                            img(src="assets/imgs/page/homepage8/book-ads2.png", alt="Ecom")