section.section-box.mt-50
    .container
        .row
            .col-lg-6.mb-30
                .card-banner.hover-up 
                    .card-image
                        a(href="#") 
                            img(src="assets/imgs/page/homepage6/banner-bottom-1.png", alt="Ecom")
                    .card-info.mt-10.text-center 
                        a(href="#")
                            h4.color-gray-900 Kitchen sets from $9.99
                        p.font-md.color-gray-900 Upto 30% offer
            .col-lg-6.mb-30
                .card-banner.hover-up 
                    .card-image 
                        a(href="#")
                            img(src="assets/imgs/page/homepage6/banner-bottom-2.png", alt="Ecom")
                    .card-info.mt-10.text-center 
                        a(href="#")
                            h4.color-gray-900 Livingroom sets from $9.99
                        p.font-md.color-gray-900 Upto 30% offer
        .border-bottom