section.section-box.mt-40
    .container
        .banner-ads-3 
            h5.mb-5.color-gray-900 70% off on limited chairs
            p.font-base.color-gray-900.mb-10 Free shipping available for purchases more than $80.
            a.btn.btn-brand-3 View Products 