section.section-box.mt-35
    .container
        .row
            .col-lg-3
                .banner-left
                    .box-adsolute-banner
                        h5.color-gray-900 Office Collection
                        a.btn.btn-link-brand-2.text-capitalize Shop Now
            .col-lg-6.mb-30
                .box-swiper
                    .swiper-container.swiper-banner-1
                        .swiper-wrapper
                            .swiper-slide
                                .banner-middle(style="background-image: url(assets/imgs/page/homepage6/banner2.png)")
                                    .box-adsolute-banner
                                        h6.color-gray-900.mb-10 Big & Fresh Offers
                                        h2.color-gray-1000.mb-5 DECORA & CRAFTS
                                        h6.sale-tag Sale On This Weekend
                            .swiper-slide
                                .banner-middle(style="background-image: url(assets/imgs/page/homepage6/banner2-2.png)")
                                    .box-adsolute-banner
                                        h6.color-gray-900.mb-10 Big & Fresh Offers
                                        h2.color-gray-1000.mb-5 DECORA & CRAFTS
                                        h6.sale-tag Sale On This Weekend
                        .swiper-button-next.swiper-button-next-style-4
                        .swiper-button-prev.swiper-button-prev-style-4
            .col-lg-3
                .banner-right-home6
                    .box-adsolute-banner
                        h5.color-gray-900 Comfort Chair
                        a.btn.btn-link-brand-2.text-capitalize Shop Now