section.section-box.mt-50
    .container
        .row 
            .col-lg-4
                .row 
                    .col-lg-12.col-md-6.col-sm-6
                        .banner-bottom-1 
                            a(href="#")
                                .banner-bottom-info.top-style-1 
                                    h4.color-white.mb-5 Reading Table
                                    p.font-base-2.color-white Under $50
                    .col-lg-12.col-md-6.col-sm-6
                        .banner-bottom-2 
                            a(href="#")
                                .banner-bottom-info.top-style-1 
                                    h4.color-white.mb-5 Table Lamp Collection
                                    p.font-base-2.color-white Aqua Shift Special Edition
            .col-lg-4
                .banner-bottom-3 
                    .banner-bottom-info.top-style-2 
                        h4.color-white.mb-5 Top Rated Chair
                        p.font-base-2.color-white.mb-20 Under $120
                        a.btn.btn-info.btn-arrow-right Shop Now
            .col-lg-4
                .row 
                    .col-lg-12.col-md-6.col-sm-6
                        .banner-bottom-4 
                            a(href="#")
                                .banner-bottom-info.top-style-1 
                                    h4.color-white.mb-5 Sofa Collection
                                    p.font-base-2.color-white Aqua Shift Special Edition
                    .col-lg-12.col-md-6.col-sm-6
                        .banner-bottom-5 
                            a(href="#")
                                .banner-bottom-info.top-style-1 
                                    h4.color-white.mb-5 Relaxing Chair
                                    p.font-base-2.color-white From $100. Free shipping