section.section-box.mt-50
    .container
        .head-main.bd-gray-200
            .row
                .col-xl-6.col-lg-6
                    h3.mb-5 Weekly selection
                    p.font-base.color-gray-500 Shop living room furniture, crafted by designers all over the world
                .col-xl-6.col-lg-6
                    ul.nav.nav-tabs.text-uppercase.pr-100(role='tablist')
                        li
                            a.active(href='#tab-4-all', data-bs-toggle='tab', role='tab', aria-controls='tab-4-all', aria-selected='true', data-index='5') All
                        li
                            a(href='#tab-4-bestseller', data-bs-toggle='tab', role='tab', aria-controls='tab-4-bestseller', aria-selected='false', data-index='6') Best seller
                        li
                            a(href='#tab-4-mostviewed', data-bs-toggle='tab', role='tab', aria-controls='tab-4-mostviewed', aria-selected='false', data-index='7') Most viewed
                        li
                            a(href='#tab-4-topbrands', data-bs-toggle='tab', role='tab', aria-controls='tab-4-topbrands', aria-selected='false', data-index='8') Top Brands
                    // Button slider
                    .box-button-slider
                        #tab-4-all-nav.button-slider-nav
                            .swiper-button-next.swiper-button-next-tab-5
                            .swiper-button-prev.swiper-button-prev-tab-5
                        #tab-4-bestseller-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-6
                            .swiper-button-prev.swiper-button-prev-tab-6
                        #tab-4-mostviewed-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-7
                            .swiper-button-prev.swiper-button-prev-tab-7
                        #tab-4-topbrands-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-8
                            .swiper-button-prev.swiper-button-prev-tab-8
                    // End Button slider
        .tab-content.tab-content-slider
            #tab-4-all.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-4-all')
                .box-swiper
                    .swiper-container.swiper-tab-5
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-4-bestseller.tab-pane.fade(role='tabpanel', aria-labelledby='tab-4-bestseller')
                .box-swiper
                    .swiper-container.swiper-tab-6
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-4-mostviewed.tab-pane.fade(role='tabpanel', aria-labelledby='tab-4-mostviewed')
                .box-swiper
                    .swiper-container.swiper-tab-7
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-4-topbrands.tab-pane.fade(role='tabpanel', aria-labelledby='tab-4-topbrands')
                .box-swiper
                    .swiper-container.swiper-tab-8
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
