section.section-box.mt-50
    .container
        .head-main.bd-gray-200
            .row
                .col-xl-6.col-lg-6
                    h3.mb-5 Weekly selection
                    p.font-base.color-gray-500 Shop living room furniture, crafted by designers all over the world
                .col-xl-6.col-lg-6
                    ul.nav.nav-tabs.text-uppercase.pr-100(role='tablist')
                        li
                            a.active(href='#tab-3-all', data-bs-toggle='tab', role='tab', aria-controls='tab-3-all', aria-selected='true', data-index='1') All
                        li
                            a(href='#tab-3-bestseller', data-bs-toggle='tab', role='tab', aria-controls='tab-3-bestseller', aria-selected='false', data-index='2') Best seller
                        li
                            a(href='#tab-3-mostviewed', data-bs-toggle='tab', role='tab', aria-controls='tab-3-mostviewed', aria-selected='false', data-index='3') Most viewed
                        li
                            a(href='#tab-3-topbrands', data-bs-toggle='tab', role='tab', aria-controls='tab-3-topbrands', aria-selected='false', data-index='4') Top Brands
                    // Button slider
                    .box-button-slider
                        #tab-3-all-nav.button-slider-nav
                            .swiper-button-next.swiper-button-next-tab-1
                            .swiper-button-prev.swiper-button-prev-tab-1
                        #tab-3-bestseller-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-2
                            .swiper-button-prev.swiper-button-prev-tab-2
                        #tab-3-mostviewed-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-3
                            .swiper-button-prev.swiper-button-prev-tab-3
                        #tab-3-topbrands-nav.button-slider-nav(style='display: none;')
                            .swiper-button-next.swiper-button-next-tab-4
                            .swiper-button-prev.swiper-button-prev-tab-4
                    // End Button slider
        .tab-content.tab-content-slider
            #tab-3-all.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-3-all')
                .box-swiper
                    .swiper-container.swiper-tab-1
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp6.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp7.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp8.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp9.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp10.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-3-bestseller.tab-pane.fade(role='tabpanel', aria-labelledby='tab-3-bestseller')
                .box-swiper
                    .swiper-container.swiper-tab-2
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp6.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp7.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp8.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp9.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp10.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-3-mostviewed.tab-pane.fade(role='tabpanel', aria-labelledby='tab-3-mostviewed')
                .box-swiper
                    .swiper-container.swiper-tab-3
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp6.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp7.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp8.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp9.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp10.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
            #tab-3-topbrands.tab-pane.fade(role='tabpanel', aria-labelledby='tab-3-topbrands')
                .box-swiper
                    .swiper-container.swiper-tab-4
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .list-products-5
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp1.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp2.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp3.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp4.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp5.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp6.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp7.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-danger Hot
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp8.png', "Apple", "-17%", '2020 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                        span.label.bg-success New
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp9.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                                    +cardGridStyle3_home6('assets/imgs/page/homepage6/sp10.png', "Apple", "", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
