.container.mt-10
    .box-swiper
        .swiper-container.swiper-group-4
            .swiper-wrapper.pt-5
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage6/news1.png', 'News', 'Smart home that makes you feel like living in resort', 'August 30, 2022', '4', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage6/news2.png', 'News', 'New chair styles make your room interesting', 'August 30, 2022', '5', 'blog-single.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage6/news3.png', 'News', 'Kitchen furniture you need to get a cozy house', 'August 30, 2022', '3', 'blog-single-3.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage6/news4.png', 'Tips', 'How to decore your living room that interesting', 'August 30, 2022', '7', 'blog-single-2.html')