.row.mt-60
    .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
        .card-grid-style-2.card-grid-style-2-small
            .image-box
                a(href='shop-fullwidth.html')
                    img(src='assets/imgs/page/homepage1/smartphone.png', alt='Ecom')
                .mt-10.text-center
                    a.btn.btn-gray(href='shop-fullwidth.html') View all
            .info-right
                a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                    h6 Smart Phone
                ul.list-links-disc
                    li
                        a.font-sm(href='shop-fullwidth.html') Phone Accessories
                    li
                        a.font-sm(href='shop-fullwidth.html') Phone Cases
                    li
                        a.font-sm(href='shop-fullwidth.html') Postpaid Phones
                    li
                        a.font-sm(href='shop-fullwidth.html') Refurbished Phones
    .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
        .card-grid-style-2.card-grid-style-2-small
            .image-box
                a(href='shop-fullwidth.html')
                    img(src='assets/imgs/page/homepage1/television.png', alt='Ecom')
                .mt-10.text-center
                    a.btn.btn-gray(href='shop-fullwidth.html') View all
            .info-right
                a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                    h6 Television
                ul.list-links-disc
                    li
                        a.font-sm(href='shop-fullwidth.html') HD DVD Players
                    li
                        a.font-sm(href='shop-fullwidth.html') Projection Screens
                    li
                        a.font-sm(href='shop-fullwidth.html') Television Accessories
                    li
                        a.font-sm(href='shop-fullwidth.html') TV-DVD Combos
    .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
        .card-grid-style-2.card-grid-style-2-small
            .image-box
                a(href='shop-fullwidth.html')
                    img(src='assets/imgs/page/homepage1/computer.png', alt='Ecom')
                .mt-10.text-center
                    a.btn.btn-gray(href='shop-fullwidth.html') View all
            .info-right
                a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                    h6 Computers
                ul.list-links-disc
                    li
                        a.font-sm(href='shop-fullwidth.html') Computer Components
                    li
                        a.font-sm(href='shop-fullwidth.html') Computer Accessories
                    li
                        a.font-sm(href='shop-fullwidth.html') Desktops
                    li
                        a.font-sm(href='shop-fullwidth.html') Monitors
    .col-xl-3.col-lg-4.col-md-6.col-sm-12.col-12
        .card-grid-style-2.card-grid-style-2-small
            .image-box
                a(href='shop-fullwidth.html')
                    img(src='assets/imgs/page/homepage1/electric.png', alt='Ecom')
                .mt-10.text-center
                    a.btn.btn-gray(href='shop-fullwidth.html') View all
            .info-right
                a.color-brand-3.font-sm-bold(href='shop-fullwidth.html')
                    h6 Electronics
                ul.list-links-disc
                    li
                        a.font-sm(href='shop-fullwidth.html') Office Electronics
                    li
                        a.font-sm(href='shop-fullwidth.html') Portable Audio &amp; Video
                    li
                        a.font-sm(href='shop-fullwidth.html') Washing Machine
                    li
                        a.font-sm(href='shop-fullwidth.html') Accessories &amp; Supplies