.section-box
    .breadcrumbs-div.mb-0
        .container
            ul.breadcrumb
                li
                    a.font-xs.color-gray-1000(href='index.html') Home
                li
                    a.font-xs.color-gray-500(href='index.html') Page
                li
                    a.font-xs.color-gray-500(href='page-contact.html') Contact

section.section-box.shop-template.mt-0
    .container
        .box-contact
            .row
                .col-lg-6
                    .contact-form
                        h3.color-brand-3.mt-60 Contact Us
                        p.font-sm.color-gray-700.mb-30 Our team would love to hear from you!
                        .row
                            .col-lg-6.col-md-6
                                .form-group
                                    input.form-control(type="text", placeholder='First name')
                            .col-lg-6.col-md-6
                                .form-group
                                    input.form-control(type="text", placeholder='Last name')
                            .col-lg-12
                                .form-group
                                    input.form-control(type="email", placeholder='Email')
                            .col-lg-12
                                .form-group
                                    input.form-control(type="tel", placeholder='Phone number')
                            .col-lg-12
                                .form-group
                                    textarea.form-control(placeholder='Message', rows='5')
                            .col-lg-12
                                .form-group
                                    input.btn.btn-buy.w-auto(type="submit", value='Send message')
                .col-lg-6
                    .map
                        iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d325467.51371614134!2d-73.98947743776016!3d40.72209526768085!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m3!3e0!4m0!4m0!5e0!3m2!1svi!2s!4v1664373110059!5m2!1svi!2s', height='550', style='border:0;', allowfullscreen='', loading='lazy', referrerpolicy='no-referrer-when-downgrade')
        .box-contact-address.pt-80.pb-50
            .row
                .col-lg-3.mb-30
                    h3.mb-5 Visit our stores
                    p.font-sm.color-gray-700.mb-30 Find us at these locations
                    a.btn.btn-buy.w-auto View map
                .col-lg-3
                    .mb-30
                        h4 Melbourne
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 San Francisco
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 Byron Bay
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                .col-lg-3
                    .mb-30
                        h4 Sydney
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 Sweden
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 Ha Noi
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                .col-lg-3
                    .mb-30
                        h4 Bangkok
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 Seoul
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
                    .mb-30
                        h4 Paris
                        p.font-sm.color-gray-700 205 North Michigan Avenue, Suite 810
                            br
                            | Chicago, 60601, USA
    .box-contact-support.pt-80.pb-50.background-gray-50
        .container
            .row
                .col-lg-3.mb-30.text-center.text-lg-start
                    h3.mb-5 We‘d love to here from you
                    p.font-sm.color-gray-700 Chat with our friendly team
                .col-lg-3.text-center.mb-30
                    .box-image.mb-20
                        img(src="assets/imgs/page/contact/chat.svg", alt="Ecom")
                    h4.mb-5 Chat to sales
                    p.font-sm.color-gray-700.mb-5 Speak to our team.
                    a.font-sm.color-gray-900(href='mailto:sales@ecom.com') sales@ecom.com
                .col-lg-3.text-center.mb-30
                    .box-image.mb-20
                        img(src="assets/imgs/page/contact/call.svg", alt="Ecom")
                    h4.mb-5 Call us
                    p.font-sm.color-gray-700.mb-5 Mon-Fri from 8am to 5pm
                    a.font-sm.color-gray-900(href='tel:+1(555)000-0000') +1(555)000-0000
                .col-lg-3.text-center.mb-30
                    .box-image.mb-20
                        img(src="assets/imgs/page/contact/map.svg", alt="Ecom")
                    h4.mb-5 Visit us
                    p.font-sm.color-gray-700.mb-5 Visit our office
                    span.font-sm.color-gray-900 205 North Michigan Avenue, Suite 810
                        br
                        | Chicago, 60601, USA