section.section-box.shop-template.mt-60
    .container
        .row.mb-100
            .col-lg-1
            .col-lg-5
                h3 Member Login
                p.font-md.color-gray-500 Welcome back!
                .form-register.mt-30.mb-30
                    .form-group
                        label.mb-5.font-sm.color-gray-700 Email / Phone / Username *
                        input.form-control(type="text", placeholder='stevenjob@gmail.com')
                    .form-group
                        label.mb-5.font-sm.color-gray-700 Password *
                        input.form-control(type="password", placeholder='******************')
                    .row
                        .col-lg-6
                            .form-group
                                label.color-gray-500.font-xs
                                    input.checkagree(type="checkbox")
                                    | Remember me
                        .col-lg-6.text-end
                            .form-group
                                a.font-xs.color-gray-500(href='#') Forgot your password?
                    .form-group
                        input.font-md-bold.btn.btn-buy(type="submit", value='Sign Up')
                    .mt-20
                        span.font-xs.color-gray-500.font-medium Have not an account?
                        a.font-xs.color-brand-3.font-medium(href='page-register.html') Sign Up
            .col-lg-5