section.section-box.shop-template.mt-30
    .container
        +bannerTop('assets/imgs/page/shop/grid-2/banner.png')
        .row
            .col-xl-9.col-lg-8.order-first
                include ../elements/box-filters.pug
                .row.mt-20.display-list
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp3.png', "Logitech", "-17%", 'Logitech MK345 Wireless Combo Full-Sized Keyboard with Palm ', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp4.png', "HP", "-17%", 'HP DeskJet 2755e Wireless Color All-in-One Printer with Bonus', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp5.png', "Kasa", "-17%", 'Kasa Outdoor Smart Plug, Smart Home Wi-Fi Outlet with 2 Sockets', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp6.png', "Sceptre", "-17%", 'Sceptre 24" Professional Thin 75Hz 1080p LED Monitor 2x HDMI', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp7.png', "Seagate", "-17%", 'Seagate Portable 2TB External Hard Drive Portable HDD – USB 3.0 ', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp1.png', "SanDisk", "-17%", 'SanDisk 128GB Ultra microSDXC UHS-I Memory Card with Adapter', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp2.png', "HP", "-17%", 'Original HP 63XL Black High-yield Ink Cartridge | Works with HP', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp3.png', "Logitech", "-17%", 'Logitech C920x HD Pro Webcam, Full HD 1080p/30fps Video Calling', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp4.png', "HP", "-17%", 'HP 24mh FHD Monitor - Computer Monitor with 23.8-Inch IPS Display', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp5.png', "Logitech", "-17%", 'Logitech H390 Wired Headset, Stereo Headphones with Noise', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp6.png', "Logitech", "-17%", 'Logitech MK345 Wireless Combo Full-Sized Keyboard with Palm', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp7.png', "Logitech", "-17%", 'Logitech Brio 4K Webcam, Ultra 4K HD Video Calling, Noise-Canceling mic', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp1.png', "EVO", "-17%", 'EVO Select Micro SD-Memory-Card + Adapter', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp2.png', "Samsung", "-17%", 'Samsung 970 EVO Plus SSD 2TB NVMe M.2 Internal Solid State', '$3225.6', "$2856.3", 'shop-single-product.html')
                include ../elements/pagination.pug
            .col-xl-3.col-lg-4.order-last
                include ../components/sidebar.pug