.section-box
    .breadcrumbs-div
        .container
            ul.breadcrumb
                li
                    a.font-xs.color-gray-1000(href='index.html') Home
                li
                    a.font-xs.color-gray-500(href='shop-grid-2.html') Electronics
                li
                    a.font-xs.color-gray-500(href='shop-grid-2.html') Cell phone
                li
                    a.font-xs.color-gray-500(href='shop-grid-2.html') Accessories
