section.section-box.shop-template
    .container
        .row
            .col-lg-12
                h3.color-brand-3.mb-5.mw-80
                    | Samsung Galaxy S22 Ultra 5G 128/256GB SM-S906U1 Unlocked Cell Phones All Colors - Good Condition
                .row
                    .col-xl-6.col-lg-7.col-md-8.col-sm-7.text-center.text-sm-start.mb-mobile
                        span.bytext.color-gray-500.font-xs.font-medium by
                        a.byAUthor.color-gray-900.font-xs.font-medium(href='shop-vendor-single.html')
                            |  Ecom Tech
                        .rating.mt-5.d-inline-block.mr-20
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            span.font-xs.color-gray-500.font-medium
                                |  (65 reviews)
                        .sku-product.d-inline-block
                            span.font-sm.color-brand-3.font-medium SKU:
                            span.font-sm.color-gray-500
                                |  EcomTech13689
                    .col-xl-6.col-lg-5.col-md-4.col-sm-5.text-center.text-sm-end
                        .d-inline-block
                            a.mr-20(href='shop-wishlist.html')
                                span.btn.btn-wishlist.mr-5.opacity-100.transform-none
                                span.font-md.color-gray-900 Add to Wish list
                            a(href='shop-compare.html')
                                span.btn.btn-compare.mr-5.opacity-100.transform-none
                                span.font-md.color-gray-900 Add to Compare
                            .d-inline-block.align-middle.ml-50
                                .share-link
                                    span.font-md-bold.color-brand-3.mr-15.d-none.d-lg-inline-block Share
                                    a.facebook.hover-up(href='#')
                                    a.printest.hover-up(href='#')
                                    a.twitter.hover-up(href='#')
                                    a.instagram.hover-up(href='#')
                .border-bottom.pt-10.mb-20
            .col-lg-5
                .gallery-image
                    .galleries
                        .detail-gallery
                            label.label -17%
                            .product-image-slider
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')
                        .slider-nav-thumbnails
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')

                .box-tags.mt-15.mb-30
                    .d-inline-block.mr-25
                        span.font-sm.font-medium.color-gray-900 Category:
                        a.link(href='#') Smartphones
                    .d-inline-block
                        span.font-sm.font-medium.color-gray-900 Tags:
                        a.link(href='#') Blue
                        |,
                        a.link(href='#') Smartphone
            .col-lg-7
                .row
                    .col-lg-7.col-md-7.mb-30
                        .box-product-price
                            h3.color-brand-3.price-main.d-inline-block.mr-10 $2856.3
                            span.color-gray-500.price-line.font-xl.line-througt $3225.6
                        .box-progress-product.mt-15.mb-20
                            .progress.mb-5
                                .progress-bar(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100')
                            span.font-xs.color-gray-500 Sold: 135/320
                        .product-description.color-gray-900.mb-30
                            ul.list-dot
                                li 8k super steady video
                                li Nightography plus portait mode
                                li 50mp photo resolution plus bright display
                                li Adaptive color contrast
                                li premium design & craftmanship
                                li Long lasting battery plus fast charging

                        .box-product-color
                            p.font-sm.color-gray-900 Color:
                                span.color-brand-2.nameColor Pink Gold
                            ul.list-colors
                                li.disabled
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Pink')
                                li
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Gold')
                                li
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Pink Gold')
                                li
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Silver')
                                li.active
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Pink Gold')
                                li.disabled
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Pink Gold')
                                li.disabled
                                    img(src="assets/imgs/page/product/img-thumb.png", alt="Ecom", title='Pink Gold')

                        .box-product-style-size.mt-30
                            .row
                                .col-lg-12.mb-20
                                    p.font-sm.color-gray-900 Style:
                                        span.color-brand-2.nameStyle S22
                                    ul.list-styles
                                        li.disabled(title='S22 Ultra') S22 Ultra
                                        li.active(title='S22') S22
                                        li(title='S22 + Standing Cover') S22 + Standing Cover
                                .col-lg-12.mb-10
                                    p.font-sm.color-gray-900 Size:
                                        span.color-brand-2.nameSize 512GB
                                    ul.list-sizes
                                        li.disabled(title='1GB') 1GB
                                        li.active(title='512 GB') 512 GB
                                        li(title='256 GB') 256 GB
                                        li.disabled(title='64GB') 64GB

                        .buy-product.mt-25
                            .font-sm.text-quantity.mb-10 Quantity
                            .box-quantity
                                .input-quantity
                                    input.font-xl.color-brand-3(type="text", value="1")
                                    span.minus-cart
                                    span.plus-cart
                                .button-buy.button-buy-full
                                    a.btn.btn-buy(href='shop-checkout.html') Buy now

                    .col-lg-5.col-md-5
                        .pl-30.pl-mb-0
                            .box-featured-product
                                .item-featured
                                    .featured-icon
                                        img(src="assets/imgs/page/product/delivery.svg", alt="Ecom")
                                    .featured-info
                                        span.font-sm-bold.color-gray-1000 Free Delivery
                                        p.font-sm.color-gray-500.font-medium From all orders over $10
                                .item-featured
                                    .featured-icon
                                        img(src="assets/imgs/page/product/support.svg", alt="Ecom")
                                    .featured-info
                                        span.font-sm-bold.color-gray-1000 Support 24/7
                                        p.font-sm.color-gray-500.font-medium Shop with an expert
                                .item-featured
                                    .featured-icon
                                        img(src="assets/imgs/page/product/return.svg", alt="Ecom")
                                    .featured-info
                                        span.font-sm-bold.color-gray-1000 Return & Refund
                                        p.font-sm.color-gray-500.font-medium Free return over $200
                                .item-featured
                                    .featured-icon
                                        img(src="assets/imgs/page/product/payment.svg", alt="Ecom")
                                    .featured-info
                                        span.font-sm-bold.color-gray-1000 Secure payment
                                        p.font-sm.color-gray-500.font-medium 100% Protected

                            .box-sidebar-product
                                .banner-right.h-500.text-center.mb-30.banner-right-product
                                    span.text-no.font-11 No.9
                                    h5.font-md-bold.mt-10
                                        | Sensitive Touch
                                        br.d-none.d-lg-block
                                        | without fingerprint
                                    p.text-desc.font-xs.mt-10 Smooth handle and accurate click


        .border-bottom.pt-30.mb-40
        h4.color-brand-3.mb-20 Frequently Bought Together
        .box-bought-together
            .box-product-bought.box-product-bought-2
                .product-bought
                    img(src="assets/imgs/page/product/sp1.png", alt="Ecom")
                .product-bought
                    img(src="assets/imgs/page/product/sp2.png", alt="Ecom")
                .product-bought
                    img(src="assets/imgs/page/product/sp3.png", alt="Ecom")
            .price-bought
                h3.color-brand-3.mr-10 $2856.3
                span.font-lg.color-gray-900 (3 items)
                .box-btn-add-cart
                    a.btn.btn-cart(href='shop-cart.html') Add To Cart
        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                strong This item:
                | iPhone 12 Pro Max 128GB Pacific Blue - $1,099.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple AirPods Pro, Active Noise Cancellation, Custom Fit - $197.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple iMac 24" All-In-One Computer, Apple M1, 8GB RAM, 512GB SSD, macOS Big Sur, Green, MGPJ3LL/A - $1,599.00
            span.checkmark