section.section-box.shop-template.mt-30
    .container
        .d-flex.box-banner-vendor
            .vendor-left
                .banner-vendor
                    img(src="assets/imgs/page/vendor/featured.png", alt="Ecom")
                    .d-flex.box-info-vendor
                        .avarta
                            img.mb-5(src="assets/imgs/page/vendor/fasfox.png", alt="Ecom")
                            a.btn.btn-buy.font-xs(href="shop-fullwidth.html") 360 Products
                        .info-vendor
                            h4.mb-5 Fasfox Coporation
                            span.font-xs.color-gray-500.mr-20 Member since 2012
                            .rating.d-inline-block
                                img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                span.font-xs.color-gray-500
                                    |  (65)
                        .vendor-contact
                            .row
                                .col-xl-7.col-lg-12
                                    .d-inline-block.font-md.color-gray-500.location.mb-10 5171 W Campbell Ave undefined Kent, Utah 53127 United States
                                .col-xl-5.col-lg-12
                                    .d-inline-block.font-md.color-gray-500.phone
                                        | (+91) - 540-025-124553
                                        br
                                        | (+91) - 540-025-235688

            .vendor-right
                .box-featured-product
                    .item-featured
                        .featured-icon
                            img(src="assets/imgs/page/product/delivery.svg", alt="Ecom")
                        .featured-info
                            span.font-sm-bold.color-gray-1000 Free Delivery
                            p.font-sm.color-gray-500.font-medium From all orders over $10
                    .item-featured
                        .featured-icon
                            img(src="assets/imgs/page/product/support.svg", alt="Ecom")
                        .featured-info
                            span.font-sm-bold.color-gray-1000 Support 24/7
                            p.font-sm.color-gray-500.font-medium Shop with an expert
                    .item-featured
                        .featured-icon
                            img(src="assets/imgs/page/product/return.svg", alt="Ecom")
                        .featured-info
                            span.font-sm-bold.color-gray-1000 Return & Refund
                            p.font-sm.color-gray-500.font-medium Free return over $200
                    .item-featured
                        .featured-icon
                            img(src="assets/imgs/page/product/payment.svg", alt="Ecom")
                        .featured-info
                            span.font-sm-bold.color-gray-1000 Secure payment
                            p.font-sm.color-gray-500.font-medium 100% Protected
        .border-bottom.mb-20.border-vendor
        .row
            .col-lg-12
                include ../elements/box-filters.pug
                .list-products-5.mt-20
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Samsung 36" French door 28 cu. ft. Smart Energy Star ', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                .mt-20
                    include ../elements/pagination.pug