.section-box
    .breadcrumbs-div
        .container
            ul.breadcrumb
                li
                    a.font-xs.color-gray-1000(href='index.html') Home
                li
                    a.font-xs.color-gray-500(href='shop-grid.html') Shop
                li
                    a.font-xs.color-gray-500(href='shop-wishlist.html') Wishlist
