section.section-box.pt-50
    .container
        .row
            .col-xl-4.col-lg-7.col-md-12.col-sm-12.mb-30
                .bg-4.block-charge
                    span.color-brand-3.font-sm-lh32 Power Bank
                    h3.font-xl.mb-10 Quick Charge
                    p.font-base.color-brand-3.mb-20
                        | Lightweight and Portable
                        br.d-none.d-lg-block
                        |  Dual port fast charge
                    a.btn.btn-brand-2.btn-arrow-right(href='shop-fullwidth.html') Shop Now
            .col-xl-5.col-lg-12.col-md-12.col-sm-12.mb-30
                .bg-6.block-player
                    h3.font-33.mb-20 Xbox Series XS Game Controller
                    .mb-30
                        strong.font-16 Replacement Kit D-pad ABXY Keys
                    a.btn.btn-brand-3.btn-arrow-right(href='shop-fullwidth.html') learn more
            .col-xl-3.col-lg-5.col-md-12.col-sm-12.mb-30
                .bg-5.block-iphone
                    span.color-brand-3.font-sm-lh32 Starting from $899
                    h3.font-xl.mb-10 iPhone 12 Pro 128Gb
                    p.font-base.color-brand-3.mb-10 Special Sale
                    a.btn.btn-arrow(href='shop-fullwidth.html') learn more
