section.section-box.mt-50
    .container
        .row
            .col-lg-12
                .head-main
                    h3.mb-5 Top Selling Products
                    p.font-base.color-gray-500 Special products in this month.
        .row
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'SAMSUNG', 'SAMSUNG Galaxy Tab S7 Plus 12.4" 128GB Mystic Black', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'HP', 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'RCA', 'RCA 43" Class 4K Ultra HD (2160P) HDR Roku Smart', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'ASUS', 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'LG', 'LG 65" Class 4K UHD Smart TV OLED A1 Series ', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'SAMSUNG', 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'Apple', 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', '$2556.3', '#')
            .col-lg-4.col-md-6.col-sm-12
                +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'HP', 'HP Slim Desktop, Intel Celeron J4025, 4GB RAM', '$3225.6', '$2556.3', '#')
