.section-box.pt-60.pb-60.bg-gray-50.mt-50
    .container
        .row
            .col-xl-9.col-lg-8
                .box-content
                    .head-main.bd-gray-200
                        .row
                            .col-xl-7.col-lg-6
                                h4.mb-5 Trending Products
                            .col-xl-5.col-lg-6
                                // Button slider
                                .box-button-slider-normal
                                    #tab-1-all-nav.button-slider-nav
                                        .swiper-button-prev.swiper-button-prev-tab-4
                                        .swiper-button-next.swiper-button-next-tab-4
                                // End Button slider
                    .box-swiper
                        .swiper-container.swiper-tab-4
                            .swiper-wrapper.pt-5
                                .swiper-slide
                                    .row
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "SAMSUNG", "-17%", 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Dell", "-17%", 'Dell Optiplex 9020 Small Form Business Desktop', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Gateway", "-17%", 'Gateway 23.8" All-in-one Desktop, Fully Adjustable', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "HP", "-17%", 'HP 22 All-in-One PC, Intel Pentium J5040, 4GB RAM', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Roku", "-17%", 'Class 4K UHD (2160P) LED Roku Smart TV HDR', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "SAMSUNG", "-17%", 'SAMSUNG Galaxy Tab S7 Plus 12.4" 128GB Mystic Black', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "MSI", "-17%", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .mt-20
                        a(href='shop-single-product.html')
                            img(src='assets/imgs/page/homepage4/banner-ads.png', alt='Ecom')

                .box-content.mt-45
                    .head-main.bd-gray-200
                        .row
                            .col-xl-7.col-lg-6
                                h4.mb-5 Top Rate Products
                            .col-xl-5.col-lg-6
                                // Button slider
                                .box-button-slider-normal
                                    #tab-2-all-nav.button-slider-nav
                                        .swiper-button-prev.swiper-button-prev-tab-5
                                        .swiper-button-next.swiper-button-next-tab-5
                                // End Button slider
                    .box-swiper
                        .swiper-container.swiper-tab-5
                            .swiper-wrapper.pt-5
                                .swiper-slide
                                    .row
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Chromecast with Google TV - Streaming', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2HDR Smart Portable Projector - SP-LSP3BL', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Class 4K UHD (2160P) LED Roku Smart TV HDR', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'HP 24 All-in-One PC, Intel Core i3-1115G4, 4GB RAM', '$3225.6', "$2856.3", 'shop-single-product.html')
                                        .col-xl-3.col-lg-6.col-md-6
                                            +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Dell Optiplex 9020 Small Form Business Desktop', '$3225.6', "$2856.3", 'shop-single-product.html')
            .col-xl-3.col-lg-4
                .box-slider-item.box-sidebar
                    .head
                        h4.d-inline-block Best seller
                        .box-button-control
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-bestseller
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-bestseller
                    .content-slider.pl-10.pr-10
                        .box-swiper
                            .swiper-container.swiper-best-seller
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/camera.png', 'LG 65" Class 4K UHD Smart TV OLED A1 Series ', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/clock.png', 'Chromecast with Google TV - Streaming Entertainment', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/airpod.png', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/camera.png', 'RCA 43" Class 4K Ultra HD (2160P) HDR Roku Smart', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/clock.png', 'Apple Watch Series 7 GPS + Cellular, 41mm Midnight', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/airpod.png', 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', '$2556.3', 'shop-single-product.html')
                .banner-right.h-500.text-center.mb-30
                    span.text-no.font-11 No.9
                    h5.font-23.mt-20
                        | Sensitive Touch
                        br.d-none.d-lg-block
                        | without fingerprint
                    p.text-desc.font-16.mt-15 Smooth handle and accurate click
                .box-slider-item.box-sidebar
                    .head
                        h4.d-inline-block New Products
                        .box-button-control
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-featured
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-featured
                    .content-slider.pl-10.pr-10
                        .box-swiper
                            .swiper-container.swiper-featured
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/camera.png', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/clock.png', 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/airpod.png', 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/camera.png', 'Apple Watch Series 7 GPS + Cellular, 41mm Midnight', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/clock.png', 'LG 65" Class 4K UHD Smart TV OLED A1 Series D', '$3225.6', '$2556.3', 'shop-single-product.html')
                                        +cardGridStyle2_2('assets/imgs/page/homepage2/airpod.png', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product.html')