section.section-box
    .banner-hero.banner-1.pt-10
        .container
            .row
                .col-xl-7.col-lg-12.col-md-12.mb-30
                    .box-swiper
                        .swiper-container.swiper-group-1
                            .swiper-wrapper
                                .swiper-slide
                                    .banner-big.banner-big-3.bg-22(style="background-image: url(assets/imgs/page/homepage4/bg-banner.png)")
                                        h1.color-gray-100.text-uppercase.text-shadow
                                            | Enjoy
                                            br.d-none.d-lg-block
                                            |  The Music
                                        .row
                                            .col-lg-12.col-md-12.col-sm-12
                                                ul.list-disc
                                                    li.font-lg.color-brand-3 Free Shipping. Secure Payment
                                                    li.font-lg.color-brand-3 Contact us 24hrs a day
                                                    li.font-lg.color-brand-3 Support gift service
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-list-2.html') Shop now
                                            a.btn.btn-link.text-underline(href='shop-list-2.html') Learn more
                                .swiper-slide
                                    .banner-big.banner-big-3.bg-22(style="background-image: url(assets/imgs/page/homepage4/bg-banner-2.png)")
                                        h1.color-gray-100.text-uppercase.text-shadow
                                            | 360 DEGREE
                                            br.d-none.d-lg-block
                                            |  VIRTUAL REALITY
                                        .row
                                            .col-lg-12.col-md-12.col-sm-12
                                                ul.list-disc
                                                    li.font-lg.color-brand-3 Free Shipping. Secure Payment
                                                    li.font-lg.color-brand-3 Contact us 24hrs a day
                                                    li.font-lg.color-brand-3 Support gift service
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-list-2.html') Shop now
                                            a.btn.btn-link.text-underline(href='shop-list-2.html') Learn more
                                .swiper-slide
                                    .banner-big.banner-big-3.bg-22(style="background-image: url(assets/imgs/page/homepage4/bg-banner-3.png)")
                                        h1.color-gray-100.text-uppercase.text-shadow
                                            | Enjoy
                                            br.d-none.d-lg-block
                                            |  The Music
                                        .row
                                            .col-lg-12.col-md-12.col-sm-12
                                                ul.list-disc
                                                    li.font-lg.color-brand-3 Free Shipping. Secure Payment
                                                    li.font-lg.color-brand-3 Contact us 24hrs a day
                                                    li.font-lg.color-brand-3 Support gift service
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-list-2.html') Shop now
                                            a.btn.btn-link.text-underline(href='shop-list-2.html') Learn more
                            .swiper-pagination.swiper-pagination-1
                .col-xl-5.col-lg-12.col-md-12
                    .row
                        .col-xl-7.col-lg-9.col-md-8.col-sm-12.mb-30
                            .bg-metaverse.bg-22.pt-25.mb-20.pl-20.h-175
                                h3.mb-10.font-32 Metaverse
                                p.font-16 The Future of Creativity
                                .mt-10
                                    a.btn.btn-link-brand-2.btn-arrow-brand-2(href='shop-list-2.html') learn more
                            .bg-4.box-bdrd-4.bg-headphone.pt-20.mh-307
                                span.font-md.color-brand-3 Headphone
                                h4.font-32.color-gray-1000.mb-10.mt-5 Rockez 547
                                p.color-brand-1.font-sm
                                    | MUSIC EVERYWHERE
                                    br.d-none.d-lg-block
                                    | ANYTIME
                                .mt-35
                                    a.btn.btn-brand-2.btn-arrow-right(href='shop-list-2.html') Shop Now
                        .col-xl-5.col-lg-3.col-md-4.col-sm-12
                            .box-promotions
                                // Swiper
                                .swiper.swiper-vertical-1
                                    .swiper-wrapper
                                        .swiper-slide
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion1.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion2.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion3.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion4.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion5.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion6.png', alt='Ecom')
                                        .swiper-slide
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion2.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion4.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion6.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion1.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion3.png', alt='Ecom')
                                            a(href='shop-list-2.html')
                                                img(src='assets/imgs/page/homepage4/promotion5.png', alt='Ecom')
