footer.main-footer.font-xs
  .row.pb-30.pt-15
    .col-sm-6
      script.
        document.write(new Date().getFullYear())
      |  &copy;, Ecom - HTML Ecommerce Template .
    .col-sm-6
      .text-sm-end
        | All rights reserved