script(src='assets/js/vendors/jquery-3.6.0.min.js')
script(src='assets/js/vendors/bootstrap.bundle.min.js')
script(src='assets/js/vendors/select2.min.js')
script(src='assets/js/vendors/perfect-scrollbar.js')
script(src='assets/js/vendors/jquery.fullscreen.min.js')
script(src='assets/js/vendors/chart.js')
