section.section-box.mt-30
    .container
        .banner-ads.text-center
            h2.color-brand-2.font-46.mb-5 appareils de cuisine
            p.font-bold.font-17.color-white
                |  Gardez les armoires, les comptoirs &amp; plus en ordre avec
                br.d-none.d-lg-block
                |  le droit résout. Obtenez le maintenant!
            .mt-20
                a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Achetez maintenant
