.section-box.mt-30
    .container
        ul.list-col-5
            li
                +itemList('assets/imgs/template/delivery.svg', 'Livraison gratuite', 'De toutes les commandes de plus de 10 $')
            li
                +itemList('assets/imgs/template/support.svg', 'Assistance 24h/24 et 7j/7', 'Acheter avec un expert')
            li
                +itemList('assets/imgs/template/voucher.svg', 'Bon cadeau', 'Parrainer un ami')
            li
                +itemList('assets/imgs/template/return.svg',  'Retour et remboursement', 'Retour gratuit de plus de 200$')
            li
                +itemList('assets/imgs/template/secure.svg', 'Paiement sécurisé', '100% protégé')

