section.section-box.mt-50
    .container
        .row
            .col-lg-6
                .block-ads-1
                    h4.color-gray-1000.mb-10
                        | Faites de chaque jour une amende
                        br.d-none.d-lg-block
                        |  Expérience culinaire
                    p.color-border-1 Avec nos appareils de cuisine
                    .mt-25
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-list-2.html') Achetez maintenant
            .col-lg-6
                .block-ads-2
                    h4.color-gray-1000.mb-10
                        | Soyez le meilleur cadeau
                        br.d-none.d-lg-block
                        | cette saison de mariage!
                    p.color-border-1 Avec nos appareils de cuisine
                    .mt-25
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-list-2.html') Achetez maintenant
