section.section-box
    .banner-hero.banner-homepage3
        .container-banner
            .box-swiper
                .swiper-container.swiper-group-1.swiper-home-3
                    .swiper-wrapper.pt-5
                        .swiper-slide
                            .box-slide-bg-1
                                span.label-green.text-uppercase new arrival
                                h1.font-68.mt-20
                                    | Pre-Order
                                    br
                                    |  Home Appliances
                                .mt-10
                                    ul.list-disc
                                        li.font-lg Free Shipping. Secure Payment
                                        li.font-lg Contact us 24hrs a day
                                        li.font-lg Support gift service
                                .mt-30.mb-120
                                    a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                    a.btn.btn-link.text-underline(href='shop-grid.html') Learn more
                        .swiper-slide
                            .box-slide-bg-1
                                span.label-green.text-uppercase new arrival
                                h1.font-68.mt-20
                                    | Pre-Order
                                    br
                                    |  Home Appliances
                                .mt-10
                                    ul.list-disc
                                        li.font-lg Free Shipping. Secure Payment
                                        li.font-lg Contact us 24hrs a day
                                        li.font-lg Support gift service
                                .mt-30.mb-120
                                    a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                    a.btn.btn-link.text-underline(href='shop-grid.html') Learn more
                        .swiper-slide
                            .box-slide-bg-1
                                span.label-green.text-uppercase new arrival
                                h1.font-68.mt-20
                                    | Pre-Order
                                    br
                                    |  Home Appliances
                                .mt-10
                                    ul.list-disc
                                        li.font-lg Free Shipping. Secure Payment
                                        li.font-lg Contact us 24hrs a day
                                        li.font-lg Support gift service
                                .mt-30.mb-120
                                    a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                    a.btn.btn-link.text-underline(href='shop-grid.html') Learn more
                    .swiper-pagination.swiper-pagination-1
