section.section-box.mt-30
    .container
        .row
            .col-xl-4.col-lg-4.col-md-6.col-sm-12.mb-30
                .bg-19.pt-30.box-bdrd-4.block-water
                    h3.font-xl.mb-10
                        | Monde Meilleur
                        br.d-none.d-lg-block
                        | Purificateurs d'eau OI
                    p.font-16.color-brand-3.mb-10 Eau 100% Pure
                    div
                        ul.list-disc.mt-10
                            li.font-11 Rend l'eau 100% pure
                            li.font-11 Processus de purification multiple
                            li.font-11 Conserve les minéraux essentiels
            .col-xl-5.col-lg-5.col-md-6.col-sm-12.mb-30
                .bg-20.pt-30.box-bdrd-4.block-kitchen
                    h3.font-xl.mb-10
                        | Cuisine intelligente
                        br.d-none.d-lg-block
                        | appareils électroménagers
                    p.font-16.color-brand-3.mb-10
                        | Cuisinez intelligemment, cuisinez savoureux
                        br.d-none.d-lg-block
                        |  et cuisinez facilement
                    a.btn.btn-link.font-xs.pl-0.text-uppercase.color-brand-1(href='shop-grid.html') apprendre encore plus
            .col-xl-3.col-lg-3.col-md-12.col-sm-12
                .bg-21.pt-30.box-bdrd-4.block-electric
                    span.font-sm.color-brand-3 À partir de 82 $
                    h3.font-xl.mb-5 Bouilloires électriques
                    p.font-16.mb-10 Bouilloires électriques de grande capacité pour faire bouillir de l'eau
                    a.btn.btn-link.font-xs.pl-0.text-uppercase.color-brand-1(href='shop-grid.html') apprendre encore plus
