section.section-box.pt-50
    .container
        .head-main.bd-gray-200
            .row
                .col-xl-7.col-lg-6
                    h3.mb-5 Trending Products
                    p.font-base.color-gray-500 Special products in this month.
                .col-xl-5.col-lg-6
                    ul.nav.nav-tabs.text-uppercase(role='tablist')
                        li
                            a.active(href='#tab-2-all', data-bs-toggle='tab', role='tab', aria-controls='tab-2-all', aria-selected='true') All
                        li
                            a(href='#tab-2-bestseller', data-bs-toggle='tab', role='tab', aria-controls='tab-2-bestseller', aria-selected='true') Best seller
                        li
                            a(href='#tab-2-mostviewed', data-bs-toggle='tab', role='tab', aria-controls='tab-2-mostviewed', aria-selected='true') Most viewed
                        li
                            a(href='#tab-2-topbrands', data-bs-toggle='tab', role='tab', aria-controls='tab-2-topbrands', aria-selected='true') Top Brands
        .tab-content
            #tab-2-all.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-2-all')
                .row
                    .col-lg-4
                        +cardGridStyle3HurryUp2('assets/imgs/page/homepage3/sp6.png', 'assets/imgs/page/homepage3/sp5.png', 'assets/imgs/page/homepage3/sp3.png', 'Hurry Up!', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', 'Special Offer', 'Remains until the end of the offer', 'shop-single-product-3.html', '$3856.3', '$2856.3', '568', '289', '1')
                    .col-lg-8
                        .row
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp7.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp8.png', "Apple", "-17%", 'Hamilton Beach Smoothie Electric Blender with 10 Speeds, 56 oz', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp5.png', "Apple", "-17%", 'Ninja Professional 1000-Watt Blender Fruit Vegetable Machine, BL710WM', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp6.png', "Apple", "-17%", 'Suzicca 500mL Portable Juicer Electric Mixer Cup USB Smoothie Blender Shakes Handheld', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
            #tab-2-bestseller.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-bestseller')
                .row
                    .col-lg-4
                        +cardGridStyle3HurryUp2('assets/imgs/page/homepage3/sp6.png', 'assets/imgs/page/homepage3/sp5.png', 'assets/imgs/page/homepage3/sp3.png', 'Hurry Up!', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', 'Special Offer', 'Remains until the end of the offer', 'shop-single-product-3.html', '$3856.3', '$2856.3', '568', '289', '1')
                    .col-lg-8
                        .row
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp7.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp8.png', "Apple", "-17%", 'Hamilton Beach Smoothie Electric Blender with 10 Speeds, 56 oz', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp5.png', "Apple", "-17%", 'Ninja Professional 1000-Watt Blender, BL710WM', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')
                            .col-lg-4.col-md-6.col-sm-6
                                +cardGridStyle3_1('assets/imgs/page/homepage3/sp6.png', "Apple", "-17%", 'Suzicca 500mL Portable Juicer Electric Mixer Cup USB Smoothie Blender Shakes Handheld Fruit Vegetable Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                                    .box-count
                                        .deals-countdown(data-countdown='2022/12/25 00:00:00')

            #tab-2-mostviewed.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-mostviewed')
                .row
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp7.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp8.png', "Apple", "-17%", 'Hamilton Beach Smoothie Electric Blender with 10 Speeds, 56 oz', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp5.png', "Apple", "-17%", 'Ninja Professional 1000-Watt Blender, BL710WM', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp6.png', "Apple", "-17%", 'Suzicca 500mL Portable Juicer Electric Mixer Cup USB Smoothie Blender Shakes Handheld Fruit Vegetable Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')

            #tab-2-topbrands.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-topbrands')
                .row
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp7.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp8.png', "Apple", "-17%", 'Hamilton Beach Smoothie Electric Blender with 10 Speeds, 56 oz', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp5.png', "Apple", "-17%", 'Ninja Professional 1000-Watt Blender, BL710WM', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp6.png', "Apple", "-17%", 'Suzicca 500mL Portable Juicer Electric Mixer Cup USB Smoothie Blender Shakes Handheld Fruit Vegetable Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp9.png', "Apple", "-17%", '. BPA-Free Plastic Jar, Model 50190 11914.2 out of 5 Stars', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')
                    .col-lg-3.col-md-6.col-sm-6
                        +cardGridStyle3_1('assets/imgs/page/homepage3/sp4.png', "Apple", "-17%", 'Portable Blender USB Rechargeable Juicer Cup Smoothies Mixer Fruit Machine', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                            .box-count
                                .deals-countdown(data-countdown='2022/12/25 00:00:00')

