section.section-box.mt-30
    .container
        .banner-ads.text-center
            h2.color-brand-2.font-46.mb-5 kitchen appliances
            p.font-bold.font-17.color-white
                | Keep cabinets, countertops &amp; more in order with
                br.d-none.d-lg-block
                |  the right solves. Get it now!
            .mt-20
                a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop Now
