section.section-box.pt-50
    .container
        .bg-9.box-bdrd-4.pt-35.pb-35.pl-25.pr-25
            .head-main
                .row
                    .col-lg-6
                        .box-icon-flash
                            h3.mb-5 OFFRE CHOQUANTE
                            p.font-16.font-bold.color-gray-900 L'occasion passera vite. Prends-le!
                    .col-lg-6.text-end
                        .box-all-hurry.box-all-hurry-round
                            .d-inline-block.box-text-hurryup
                                span.font-md-bold.color-gray-900 Dépêchez-Vous!
                                br
                                span.font-xs.color-gray-500 Les offres se terminent par :
                            .box-count.box-count-square.hide-period
                                .deals-countdown(data-countdown='2023/09/25 00:00:00')
            .mt-0
                .list-products-5
                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-10%", 'Apple iMac 2022 avec écran Retina 5K 8 Go de RAM', '$3225.6', "$2856.3", 'shop-single-product-3.html', '568', '289')
                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp4.png', "Philips", "-5%", 'Écouteurs sans fil supra-auriculaires Philips H4205 avec 32 mm V201', '$173.2', "$170.3", 'shop-single-product-3.html', '568', '125')
                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-15%", 'Ordinateur portable Apple MacBook Air 2020 : Puce Apple M1, 13”', '$225', "$169", 'shop-single-product-3.html', '568', '16')
                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Montre intelligente Apple Watch série 8 [GPS 45 mm]', '$2756.6', "$2514.3", 'shop-single-product-3.html', '568', '185')
                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp7.png', "Kami Tech", "-30%", 'Kami by YI 4pc 1080p Caméras de sécurité pour la maison', '$125.6', "$115.0", 'shop-single-product-3.html', '568', '68')