.footer-1
  .container
    .row
      .col-lg-3.width-25.mb-30
        h4.mb-30.color-gray-1000 Contact
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Address:
          |  502 New Design Str, Melbourne, San Francisco, CA 94110, United States
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Phone:
          |  (+01) 123-456-789
        .font-md.mb-20.color-gray-900
          strong.font-md-bold E-mail:
          |  contact@ecom-market.com
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Hours:
          |  8:00 - 17:00, Mon - Sat
        .mt-30
          a.icon-socials.icon-facebook(href='#')
          a.icon-socials.icon-instagram(href='#')
          a.icon-socials.icon-twitter(href='#')
          a.icon-socials.icon-linkedin(href='#')
      .col-lg-3.width-20.mb-30
        h4.mb-30.color-gray-1000 Make Money with Us
        ul.menu-footer
          li
            a(href='page-about-us.html') Mission &amp; Vision
          li
            a(href='page-about-us.html') Our Team
          li
            a(href='page-careers.html') Careers
          li
            a(href='#') Press &amp; Media
          li
            a(href='#') Advertising
          li
            a(href='#') Testimonials
      .col-lg-3.width-16.mb-30
        h4.mb-30.color-gray-1000 Company
        ul.menu-footer
          li
            a(href='blog-2.html') Our Blog
          li
            a(href='#') Plans &amp; Pricing
          li
            a(href='#') Knowledge Base
          li
            a(href='#') Cookie Policy
          li
            a(href='#') Office Center
          li
            a(href='blog.html') News &amp; Events
      .col-lg-3.width-16.mb-30
        h4.mb-30.color-gray-1000 My account
        ul.menu-footer
          li
            a(href='#') FAQs
          li
            a(href='#') Editor Help
          li
            a(href='#') Community
          li
            a(href='#') Live Chatting
          li
            a(href='page-contact.html') Contact Us
          li
            a(href='#') Support Center
      .col-lg-3.width-23
        h4.mb-30.color-gray-1000 App &amp; Payment
        div
          p.font-md.color-gray-900
            | Download our Apps and get extra 15% Discount on your first Order&mldr;!
          .mt-20
            a.mr-10(href='#')
              img(src='assets/imgs/template/appstore.png', alt='Ecom')
            a(href='#')
              img(src='assets/imgs/template/google-play.png', alt='Ecom')
          p.font-md.color-gray-900.mt-20.mb-10 Secured Payment Gateways
          img(src='assets/imgs/template/payment-method.png', alt='Ecom')
.footer-2
  .footer-bottom-1
    .container
      .footer-2-top.mb-20
        a(href='index.html')
          img(alt='Ecom', src='assets/imgs/template/logo-2.svg')
        a.font-xs.color-gray-1000(href='#') EcomMarket.com
        a.font-xs.color-gray-1000(href='#') Ecom Partners
        a.font-xs.color-gray-1000(href='#') Ecom Bussiness
        a.font-xs.color-gray-1000(href='#') Ecom Factory
      .footer-2-bottom
        .head-left-footer
          h6.color-gray-1000 Electronic:
        .tags-footer
          a(href='shop-fullwidth.html') Cell Phones
          a(href='shop-grid.html') Headphones
          a(href='shop-grid-2.html') Television &amp; Video
          a(href='shop-list.html') Game Controller
          a(href='shop-list-2.html') Apple Watch
          a(href='shop-grid.html') HTC
          a(href='shop-grid.html') Ipad
          a(href='shop-grid.html') Keyboard
          a(href='shop-grid.html') Samsung
          a(href='shop-grid.html') Wireless Speaker
          a(href='shop-grid.html') Samsung Galaxy
          a(href='shop-grid.html') Gaming Mouse
          a(href='shop-grid.html') eBook Readers
          a(href='shop-grid.html') Service Plans
          a(href='shop-grid.html') Home Audio
          a(href='shop-grid.html') Office Electronics
          a(href='shop-grid.html') Lenovo
          a(href='shop-grid.html') Mackbook Pro M1
          a(href='shop-grid.html') HD Videos Player
      .footer-2-bottom
        .head-left-footer
          h6.color-gray-1000 Furniture:
        .tags-footer
          a(href='shop-grid.html') Sofa
          a(href='shop-grid.html') Chair
          a(href='shop-grid.html') Dining Table
          a(href='shop-grid.html') Living Room
          a(href='shop-grid.html') Table Lamp
          a(href='shop-grid.html') Night Stand
          a(href='shop-grid.html') Computer Desk
          a(href='shop-grid.html') Bar Table
          a(href='shop-grid.html') Pillow
          a(href='shop-grid.html') Radio
          a(href='shop-grid.html') Clock
          a(href='shop-grid.html') Bad Room
          a(href='shop-grid.html') Stool
          a(href='shop-grid.html') Television
          a(href='shop-grid.html') wardrobe
          a(href='shop-grid.html') Living Room Tables
          a(href='shop-grid.html') Dressers
          a(href='shop-grid.html') Patio Sofas
          a(href='shop-grid.html') Nursery
          a(href='shop-grid.html') Kitchen
          a(href='shop-grid.html') Accent Furniture
          a(href='shop-grid.html') Replacement Parts
  .container
    .footer-bottom.mt-20
      .row
        .col-lg-6.col-md-12.text-center.text-lg-start
          span.color-gray-900.font-sm Copyright &copy; 2022 Ecom Market. All rights reserved.
        .col-lg-6.col-md-12.text-center.text-lg-end
          ul.menu-bottom
            li
              a.font-sm.color-gray-900(href='page-term.html') Conditions of Use
            li
              a.font-sm.color-gray-900(href='page-term.html') Privacy Notice
            li
              a.font-sm.color-gray-900(href='page-careers.html') Interest-Based Ads
