include ../components/top-bar-4.pug
header.header.header-container.sticky-bar.border-none
    .container
        .main-header
            .header-left
                .header-logo
                    a(href='index.html')
                        img(alt='Ecom', src='assets/imgs/template/logo.svg')
                .header-search
                    .box-header-search
                        form.form-search(method='post', action='#')
                            .box-category
                                select.select-active.select2-hidden-accessible(data-select2-id='1', tabindex='-1', aria-hidden='true')
                                    option Toutes catégories
                                    option(value='Computers Accessories') Accessoires d'ordinateurs
                                    option(value='Cell Phones') Téléphones portables
                                    option(value='Gaming Gatgets') Gadgets de jeu
                                    option(value='Smart watches') Montres intelligentes
                                    option(value='Wired Headphone') Casque filaire
                                    option(value='Mouse & Keyboard') Clavier Souris
                                    option(value='Headphone') casque de musique
                                    option(value='Bluetooth devices') Appareils Bluetooth
                                    option(value='Cloud Software') Logiciel infonuagique
                            .box-keysearch
                                input.form-control.font-xs(type='text', value='', placeholder='Search for items')
                .header-nav.text-start
                    nav.nav-main-menu.d-none.d-xl-block
                        ul.main-menu
                            li
                                a.active(href='#') Offres Flash
                            li
                                a(href='#') Spéciale
                            li
                                a(href='#') Meilleures ventes
                    .burger-icon.burger-icon-white
                        span.burger-icon-top
                        span.burger-icon-mid
                        span.burger-icon-bottom
                .header-shop
                    .d-inline-block.box-dropdown-cart
                        span.font-lg.icon-list.icon-account
                            span Compte
                        .dropdown-account
                            ul
                                li
                                    a(href='page-account.html')
                                        | Mon compte
                                li
                                    a(href='page-account.html')
                                        | Suivi de commande
                                li
                                    a(href='page-account.html')
                                        | Mes commandes
                                li
                                    a(href='page-account.html')
                                        | Ma liste d'envies
                                li
                                    a(href='page-account.html')
                                        | Paramètre
                                li
                                    a(href='page-login.html')
                                        | se déconnecter
                    a.font-lg.icon-list.icon-wishlist(href='shop-wishlist.html')
                        span Liste de souhaits
                        span.number-item.font-xs 5
                    .d-inline-block.box-dropdown-cart
                        span.font-lg.icon-list.icon-cart
                            span Chariot
                            span.number-item.font-xs 2
                        .dropdown-cart
                            .item-cart.mb-20
                                .cart-image
                                    img(src="assets/imgs/page/homepage1/imgsp5.png", alt="Ecom")
                                .cart-info
                                    a.font-sm-bold.color-brand-3(href="shop-single-product.html") 2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD
                                    p
                                        span.color-brand-2.font-sm-bold 1 x $2856.4
                            .item-cart.mb-20
                                .cart-image
                                    img(src="assets/imgs/page/homepage1/imgsp4.png", alt="Ecom")
                                .cart-info
                                    a.font-sm-bold.color-brand-3(href="shop-single-product-2.html") 2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD
                                    p
                                        span.color-brand-2.font-sm-bold 1 x $2856.4
                            .border-bottom.pt-0.mb-15
                            .cart-total
                                .row
                                    .col-6.text-start
                                        span.font-md-bold.color-brand-3 Total
                                    .col-6
                                        span.font-md-bold.color-brand-1 $2586.3
                                .row.mt-15
                                    .col-6.text-start
                                        a.btn.btn-cart.w-auto(href="shop-cart.html") View cart
                                    .col-6
                                        a.btn.btn-buy.w-auto(href="shop-checkout.html") Checkout
                    a.font-lg.icon-list.icon-compare(href='shop-compare.html')
                        span Compare
    .header-bottom.header-brand-2
        .container
            .box-header-bottom
                .dropdown.d-inline-block
                    button#dropdownCategory.btn.dropdown-toggle.btn-category(type='button', data-bs-toggle='dropdown', aria-expanded='true', data-bs-display='static')
                        span.dropdown-right.font-sm-bold.color-white
                            | Shop By Categories
                    .sidebar-left.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownCategory', data-bs-popper='static')
                        ul.menu-texts.menu-close
                            li.has-children
                                a(href='javascript:;')
                                    span.img-link
                                        img(src='assets/imgs/template/monitor.svg', alt="Ecom")
                                    span.text-link Des ordinateurs &amp; Accessoires
                                ul.sub-menu
                                    li
                                        a(href='#') Accessoires informatiques
                                    li
                                        a(href='#') Boîtiers d'ordinateur
                                    li
                                        a(href='#') Ordinateur portable
                                    li
                                        a(href='#') Disque dur
                                    li
                                        a(href='#') RAM
                                    li
                                        a(href='#') casque de musique
                            li.has-children
                                a.active(href='javascript:;')
                                    span.img-link
                                        img(src='assets/imgs/template/mobile.svg', alt="Ecom")
                                    span.text-link Téléphones portables
                                ul.sub-menu
                                    li
                                        a(href='#') Accessoires de téléphones
                                    li
                                        a(href='#') Coque de téléphone
                                    li
                                        a(href='#') Téléphones postpayés
                                    li
                                        a(href='#') Téléphones déverrouillés
                                    li
                                        a(href='#') Téléphones prépayés
                                    li
                                        a(href='#') Forfaits prépayés
                                    li
                                        a(href='#') Téléphones remis à neuf
                                    li
                                        a(href='#') Parler franchement
                                    li
                                        a(href='#') iPhone
                                    li
                                        a(href='#') Samsung Galaxy
                                    li
                                        a(href='#') Samsung Galaxy
                                    li
                                        a(href='#') Samsung Galaxy
                                    li
                                        a(href='#') Samsung Galaxy
                                    li
                                        a(href='#') Samsung Galaxy
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/game.svg', alt="Ecom")
                                    span.text-link Gadgets de jeu
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/clock.svg', alt="Ecom")
                                    span.text-link Montres intelligentes
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/airpod.svg', alt="Ecom")
                                    span.text-link Airpod
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/airpods.svg', alt="Ecom")
                                    span.text-link Casque filaire
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/mouse.svg', alt="Ecom")
                                    span.text-link Mouse &amp; Keyboard
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/music-play.svg', alt="Ecom")
                                    span.text-link Headphone
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/bluetooth.svg', alt="Ecom")
                                    span.text-link Bluetooth devices
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/clound.svg', alt="Ecom")
                                    span.text-link Cloud Software
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/electricity.svg', alt="Ecom")
                                    span.text-link Electric accessories
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/cpu.svg', alt="Ecom")
                                    span.text-link Mainboard &amp; CPU
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/devices.svg', alt="Ecom")
                                    span.text-link Desktop
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/driver.svg', alt="Ecom")
                                    span.text-link Speaker
                            li
                                a(href='#')
                                    span.img-link
                                        img(src='assets/imgs/template/lamp.svg', alt="Ecom")
                                    span.text-link Computer Decor
                .header-nav.d-inline-block
                    include ../components/main-menu-2.pug
                .discount.font-16.font-bold.color-white
                    | SPECIAL OFFER
