.section-box.box-quickmenu
    .container
        .box-inner-quickmenu
            ul
                li
                    a(href='#') Today's Deals
                li
                    a(href='#') 12 Days of Deals
                li
                    a(href='#') Customer Service
                li
                    a(href='#') Gift Cards
                li
                    a(href='#') Dressers
                li
                    a(href='#') Patio Sofas
                li
                    a(href='#') Nursery
                li
                    a(href='#') Kitchen
                li
                    a(href='#') Accent Furniture
                li
                    a(href='#') Replacement Parts