nav.nav-main-menu.d-none.d-xl-block
    ul.main-menu
        li.has-children
            a.active(href='/') Nos produits
            ul.sub-menu.two-col
                each item in menus
                    li
                        a(href='/products')= '| ' + item
        li.has-children
            a(href='#') Vendeurs
            ul.sub-menu
                li
                    a(href='/vendors')
                        | Liste du vendeurs
                li
                    a(href='/vendors')
                        | Liste du boutiques
        li.has-children
            a(href='#') Utilisateur
            ul.sub-menu
                li
                    a(href='/register')
                        | S'inscrire
                li
                    a(href='/login')
                        | Se connecter
        li
            a(href='/page-contact') Contactez

