nav.nav-main-menu.d-none.d-xl-block
    ul.main-menu
        li.has-children
            a.active(href='index.html') Home
            ul.sub-menu.two-col
                li
                    a(href='index.html')
                        | Homepage - 1
                li
                    a(href='index-2.html')
                        | Homepage - 2
                li
                    a(href='index-3.html')
                        | Homepage - 3
                li
                    a(href='index-4.html')
                        | Homepage - 4
                li
                    a(href='index-5.html')
                        | Homepage - 5
                li
                    a(href='index-6.html')
                        | Homepage - 6
                li
                    a(href='index-7.html')
                        | Homepage - 7
                li
                    a(href='index-8.html')
                        | Homepage - 8
                li
                    a(href='index-9.html')
                        | Homepage - 9
                li
                    a(href='index-10.html')
                        | Homepage - 10
        li.has-children 
            a(href="shop-grid.html") Electronics
            ul.sub-menu.two-col
                li
                    a(href='shop-grid.html')
                        | Shop Grid
        li.has-children 
            a(href="shop-grid.html") Appliances
        li.has-children 
            a(href="shop-grid.html") New Arrivals
        li.has-children
            a(href='shop-grid.html') Shop
            ul.sub-menu.two-col
                li
                    a(href='shop-grid.html')
                        | Shop Grid
                li
                    a(href='shop-grid-2.html')
                        | Shop Grid 2
                li
                    a(href='shop-list.html')
                        | Shop list - Left sidebar
                li
                    a(href='shop-list-2.html')
                        | Shop list - Right sidebar
                li
                    a(href='shop-fullwidth.html')
                        | Shop Fullwidth
                li
                    a(href='shop-single-product.html')
                        | Single Product
                li
                    a(href='shop-single-product-2.html')
                        | Single Product 2
                li
                    a(href='shop-single-product-3.html')
                        | Single Product 3
                li
                    a(href='shop-single-product-4.html')
                        | Single Product 4
                li
                    a(href='shop-cart.html')
                        | Shop Cart
                li
                    a(href='shop-checkout.html')
                        | Shop Checkout
                li
                    a(href='shop-compare.html')
                        | Shop Compare
                li
                    a(href='shop-wishlist.html')
                        | Shop Wishlist
        li.has-children
            a(href='#') Pages
            ul.sub-menu
                li
                    a(href='page-about-us.html')
                        | About Us
                li
                    a(href='page-contact.html')
                        | Contact Us
                li
                    a(href='page-careers.html')
                        | Careers
                li
                    a(href='page-term.html')
                        | Term and Condition
                li
                    a(href='page-register.html')
                        | Register
                li
                    a(href='page-login.html')
                        | Login
                li
                    a(href='page-404.html')
                        | Error 404
        li.has-children
            a(href='shop-vendor-list.html') Vendors
            ul.sub-menu
                li
                    a(href='shop-vendor-list.html')
                        | Vendors Listing
                li
                    a(href='shop-vendor-single.html')
                        | Vendor Single
        li
            a(href='page-contact.html') Contact
