.box-menu-category 
    ul.list-nav-arrow
        li
            a(href='shop-grid.html')
                | Porridge for baby food
        li
            a(href='shop-grid.html')
                | Coffee Creamers
        li
            a(href='shop-grid.html')
                | Dairy Milks
        li
            a(href='shop-grid.html')
                | Snack seasoning
        li
            a(href='shop-grid.html')
                | Flavored Milks
        li
            a(href='shop-grid.html')
                | Half & Half Creams
        li
            a(href='shop-grid.html')
                | Heavy Creams
        li
            a(href='shop-grid.html')
                | Light Creams
        li
            a(href='shop-grid.html')
                | Whipping Creams 
        li
            a(href='shop-grid.html')
                | Cereal weaning
        li
            a(href='shop-grid.html')
                | Vitamins increase
        li
            a(href='shop-grid.html')
                | Weaning powder