.sidebar-left
    a.btn.btn-open(href='#')
    ul.menu-icons.hidden
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/template/monitor.svg', alt='Ecom')
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/template/mobile.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/game.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/clock.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/airpod.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/airpods.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/mouse.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/music-play.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/bluetooth.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/clound.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/electricity.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/cpu.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/devices.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/driver.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/lamp.svg', alt='Ecom')
    ul.menu-texts.menu-close
        li.has-children
            a(href='shop-grid-2.html')
                span.img-link
                    img(src='assets/imgs/template/monitor.svg', alt='Ecom')
                span.text-link
                    | Ordinateurs &amp; Accessoires
            ul.sub-menu
                li
                    a(href='shop-grid.html') Accessoires informatiques
                li
                    a(href='shop-grid.html') Boîtiers d'ordinateur
                li
                    a(href='shop-grid.html') Ordinateur portable
                li
                    a(href='shop-grid.html') Disque dur
                li
                    a(href='shop-grid.html') RAM
                li
                    a(href='shop-grid.html') Casque de musique
        li.has-children
            a(href='#')
                span.img-link
                    img(src='assets/imgs/template/mobile.svg', alt='Ecom')
                span.text-link Téléphones portables
            ul.sub-menu
                li
                    a(href='shop-grid.html') Accessoires de téléphones
                li
                    a(href='shop-grid.html') Coque de téléphone
                li
                    a(href='shop-grid.html') Téléphones postpayés
                li
                    a(href='shop-grid.html') Téléphones déverrouillés
                li
                    a(href='shop-grid.html') Téléphones prépayés
                li
                    a(href='shop-grid.html') Téléphones prépayés
                li
                    a(href='shop-grid.html') Téléphones remis à neuf
                li
                    a(href='shop-grid.html') Parler franchement
                li
                    a(href='shop-grid.html') iPhone
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/game.svg', alt='Ecom')
                span.text-link Gadgets de jeu
            ul.sub-menu
                li
                    a(href='shop-grid.html') Routeurs sans fil
                li
                    a(href='shop-grid.html') Nouveaux gadgets sympas
                li
                    a(href='shop-grid.html') Technologie et gadgets
                li
                    a(href='shop-grid.html') Cadeaux et Gadgets Geek
                li
                    a(href='shop-grid.html') Accessoires Xbox
                li
                    a(href='shop-grid.html') Accessoires PlayStation
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/clock.svg', alt='Ecom')
                span.text-link Montres intelligentes
            ul.sub-menu
                li
                    a(href='shop-grid.html') Montres intelligentes
                li
                    a(href='shop-grid.html') Montres intelligentes de mode
                li
                    a(href='shop-grid.html') Bracelets intelligents
                li
                    a(href='shop-grid.html') Montres de poche
                li
                    a(href='shop-grid.html') Anneaux intelligents
                li
                    a(href='shop-grid.html') Autres montres
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/airpods.svg', alt='Ecom')
                span.text-link Casque filaire
            ul.sub-menu
                li
                    a(href='shop-grid.html') Casque supra-auriculaire
                li
                    a(href='shop-grid.html') Écouteur & Dans l'oreille
                li
                    a(href='shop-grid.html') Casque DJ
                li
                    a(href='shop-grid.html') Accessoires informatiques
                li
                    a(href='shop-grid.html') Casques de jeu PC
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/mouse.svg', alt='Ecom')
                span.text-link Souris &amp; Clavier
            ul.sub-menu
                li
                    a(href='shop-grid.html') Logitech
                li
                    a(href='shop-grid.html') Redragon
                li
                    a(href='shop-grid.html') Les bases d'Amazon
                li
                    a(href='shop-grid.html') Microsoft
                li
                    a(href='shop-grid.html') MageGee
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/music-play.svg', alt='Ecom')
                span.text-link casque de musique
            ul.sub-menu
                li
                    a(href='shop-grid.html') Systèmes audio de voiture
                li
                    a(href='shop-grid.html') Téléphones portables
                li
                    a(href='shop-grid.html') Ordinateurs de bureau
                li
                    a(href='shop-grid.html') Consoles de jeux
                li
                    a(href='shop-grid.html') Téléphones
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/bluetooth.svg', alt='Ecom')
                span.text-link Appareils Bluetooth
            ul.sub-menu
                li
                    a(href='shop-grid.html') Accessoires de joueur
                li
                    a(href='shop-grid.html') Accessoires informatiques
                li
                    a(href='shop-grid.html') Haut-parleurs & Audio
                li
                    a(href='shop-grid.html') Réseaux informatiques
                li
                    a(href='shop-grid.html') Movies & Films
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/clound.svg', alt='Ecom')
                span.text-link Logiciel infonuagique
            ul.sub-menu
                li
                    a(href='shop-grid.html') Android
                li
                    a(href='shop-grid.html') Linux & Unix
                li
                    a(href='shop-grid.html') Macintosh
                li
                    a(href='shop-grid.html') Windows
                li
                    a(href='shop-grid.html') iPhone & iOS
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/electricity.svg', alt='Ecom')
                span.text-link Accessoires électriques
            ul.sub-menu
                li
                    a(href='shop-grid.html') Hauts de forme d'antenne
                li
                    a(href='shop-grid.html') Pare-balles automobile
                li
                    a(href='shop-grid.html') Onduleur
                li
                    a(href='shop-grid.html') Portes de réservoir de gaz
                li
                    a(href='shop-grid.html') Écopes de capot & Évents
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/cpu.svg', alt='Ecom')
                span.text-link Carte mère &amp; CPU
            ul.sub-menu
                li
                    a(href='shop-grid.html') Processeurs d'unité centrale de traitement d'ordinateur
                li
                    a(href='shop-grid.html') Ventilateurs internes & Refroidissement
                li
                    a(href='shop-grid.html') Cartes graphiques
                li
                    a(href='shop-grid.html') Cartes de ports E/S réseau
                li
                    a(href='shop-grid.html') Carte mémoire interne
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/devices.svg', alt='Ecom')
                span.text-link Ordinateur de bureau
            ul.sub-menu
                li
                    a(href='shop-grid.html') PC graphique
                li
                    a(href='shop-grid.html') PC de bureau
                li
                    a(href='shop-grid.html') PC de jeu
                li
                    a(href='shop-grid.html') Serveur
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/driver.svg', alt='Ecom')
                span.text-link Conférencier
            ul.sub-menu
                li
                    a(href='shop-grid.html') JBL
                li
                    a(href='shop-grid.html') Anker
                li
                    a(href='shop-grid.html') Pyle
                li
                    a(href='shop-grid.html') Bose
                li
                    a(href='shop-grid.html') Logitech
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/airpod.svg', alt='Ecom')
                span.text-link Casque Bluetooth
            ul.sub-menu
                li
                    a(href='shop-grid.html') Casque supra-auriculaire
                li
                    a(href='shop-grid.html') Écouteurs intra-auriculaires
                li
                    a(href='shop-grid.html') Écouteur
                li
                    a(href='shop-grid.html') Casque supra-auriculaire
                li
                    a(href='shop-grid.html') Autre
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/lamp.svg', alt='Ecom')
                span.text-link Décor d'ordinateur
            ul.sub-menu
                li
                    a(href='shop-grid.html') Détenteurs de droits
                li
                    a(href='shop-grid.html') Serre-livres de bureau
                li
                    a(href='shop-grid.html') Porte-cartes de visite
                li
                    a(href='shop-grid.html') Bureaux pour genoux
                li
                    a(href='shop-grid.html') Tapis de souris
