.sidebar-border.mb-0
    .sidebar-head
        h6.color-gray-900 Product Categories
    .sidebar-content
        ul.list-nav-arrow
            li
                a(href='shop-grid.html')
                    | Computers &amp; Laptop
                    span.number 09
            li
                a(href='shop-grid.html')
                    | Electric accessories
                    span.number 12
            li
                a(href='shop-grid.html')
                    | Mainboard &amp; CPU
                    span.number 24
            li
                a(href='shop-grid.html')
                    | Bluetooth devices
                    span.number 34
            li
                a(href='shop-grid.html')
                    | Mouse &amp; Keyboard
                    span.number 65
            li
                a(href='shop-grid.html')
                    | Wired Headphone
                    span.number 15
            li
                a(href='shop-grid.html')
                    | Gaming Gatgets
                    span.number 76
            li
                a(href='shop-grid.html')
                    | Smart watches
                    span.number 89
            li
                a(href='shop-grid.html')
                    | Cell Phones
                    span.number 23
            li
                a(href='shop-grid.html')
                    | Headphone
                    span.number 98
        div
            #moreMenu.collapse
                ul.list-nav-arrow
                    li
                        a(href='shop-grid.html')
                            | Home theater
                            span.number 98
                    li
                        a(href='shop-grid.html')
                            | Cameras & drones
                            span.number 124
                    li
                        a(href='shop-grid.html')
                            | PC gaming
                            span.number 56
                    li
                        a(href='shop-grid.html')
                            | Smart home
                            span.number 87
                    li
                        a(href='shop-grid.html')
                            | Networking
                            span.number 36
            a.link-see-more.mt-5(data-bs-toggle='collapse', href='#moreMenu', role='button', aria-expanded='false', aria-controls='moreMenu') See More