.sidebar-border
    .sidebar-head
        h6.color-gray-900 Vendor by industry
    .sidebar-content
        ul.list-nav-arrow
            li
                a(href='shop-vendor-list.html')
                    | Computers & Laptop
                    span.number 09
            li
                a(href='shop-vendor-list.html')
                    | Electric accessories
                    span.number 12
            li
                a(href='shop-vendor-list.html')
                    | Fashion & Beauty
                    span.number 24
            li
                a(href='shop-vendor-list.html')
                    | Furniture & Appliances
                    span.number 34
            li
                a(href='shop-vendor-list.html')
                    | Sports and Outdoors
                    span.number 65
            li
                a(href='shop-vendor-list.html')
                    | Food, condiments
                    span.number 15
            li
                a(href='shop-vendor-list.html')
                    | Book, Office supplies
                    span.number 76
            li
                a(href='shop-vendor-list.html')
                    | Children and mothers
                    span.number 89
            li
                a(href='shop-vendor-list.html')
                    | Cars, motorbikes
                    span.number 23
            li
                a(href='shop-vendor-list.html')
                    | Other
                    span.number 98
        div
            #moreMenu.collapse
                ul.list-nav-arrow
                    li
                        a(href='shop-vendor-list.html')
                            | Home theater
                            span.number 98
                    li
                        a(href='shop-vendor-list.html')
                            | Cameras & drones
                            span.number 124
                    li
                        a(href='shop-vendor-list.html')
                            | PC gaming
                            span.number 56
                    li
                        a(href='shop-vendor-list.html')
                            | Smart home
                            span.number 87
                    li
                        a(href='shop-vendor-list.html')
                            | Networking
                            span.number 36
            a.link-see-more.mt-5(data-bs-toggle='collapse', href='#moreMenu', role='button', aria-expanded='false', aria-controls='moreMenu') See More

.box-slider-item
    .head.pb-15.border-brand-2
        h5.color-gray-900 Vendor by tags
    .content-slider.mb-50
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Games
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Electronics
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Video
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Cellphone
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Indoor
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') VGA Card
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') USB
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Lightning
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Camera
        a.btn.btn-border(href='shop-vendor-list.html') Window
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Air Vent
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Bedroom
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Laptop
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Dashboard
        a.btn.btn-border.mr-5(href='shop-vendor-list.html') Keyboard

.box-slider-item
    .head.pb-15.border-brand-2.mb-20
        h5.color-gray-900 Make money with us
    .content-slider.mb-50
        .footer
            ul.menu-footer
                li
                    a(href='#') Open shop on Ecom
                li
                    a(href='#') Sell Your Services on Ecom
                li
                    a(href='#') Sell on Ecom Business
                li
                    a(href='#') Sell Your Apps on Ecom
                li
                    a(href='#') Become an Affilate
                li
                    a(href='#') Advertise Your Products
                li
                    a(href='#') Sell-Publish with Us
