section.section-box.mt-30
    .container
        .row
            .col-xl-4.col-lg-4.col-md-6.col-sm-12.mb-30
                .bg-19.pt-30.box-bdrd-4.block-water
                    h3.font-xl.mb-10
                        | World&rsquo;s Best
                        br.d-none.d-lg-block
                        | RO Water Purifiers
                    p.font-16.color-brand-3.mb-10 Water 100% Pure
                    div
                        ul.list-disc.mt-10
                            li.font-11 Makes Water 100% Pure
                            li.font-11 Multiple Purification Process
                            li.font-11 Retains Essential Minerals
            .col-xl-5.col-lg-5.col-md-6.col-sm-12.mb-30
                .bg-20.pt-30.box-bdrd-4.block-kitchen
                    h3.font-xl.mb-10
                        | Smart Kitchen
                        br.d-none.d-lg-block
                        | Appliances
                    p.font-16.color-brand-3.mb-10
                        | Cook Smart, Cook Tasty
                        br.d-none.d-lg-block
                        |  and Cook Easy
                    a.btn.btn-link.font-xs.pl-0.text-uppercase.color-brand-1(href='shop-grid.html') learn more
            .col-xl-3.col-lg-3.col-md-12.col-sm-12
                .bg-21.pt-30.box-bdrd-4.block-electric
                    span.font-sm.color-brand-3 Starting from $82
                    h3.font-xl.mb-5 Electric Kettles
                    p.font-16.mb-10 High capacity electric kettles for boiling water
                    a.btn.btn-link.font-xs.pl-0.text-uppercase.color-brand-1(href='shop-grid.html') learn more
