section.section-box.mt-50
    .container
        .row
            .col-lg-6
                .block-ads-1
                    h4.color-gray-1000.mb-10
                        | Make Everyday A Fine
                        br.d-none.d-lg-block
                        |  Dining Experience
                    p.color-border-1 With Our Kitchen Appliances
                    .mt-25
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-list-2.html') Shop Now
            .col-lg-6
                .block-ads-2
                    h4.color-gray-1000.mb-10
                        | Be the best gift giver
                        br.d-none.d-lg-block
                        | this Wedding Season!
                    p.color-border-1 With Our Kitchen Appliances
                    .mt-25
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-list-2.html') Shop Now
