//- Master layout
block mixins
  include ../mixins/mixins
doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(property='og:title', content='')
    meta(property='og:type', content='')
    meta(property='og:url', content='')
    meta(property='og:image', content='')
    //- Favicons
    link(rel='shortcut icon' type='image/x-icon' href='assets/imgs/theme/favicon.svg')
    link(href='assets/css/style.css?v=1.0.0', rel='stylesheet')

    //- Title
    block title
      title Ecom - Marketplace Dashboard Template

  body
    .screen-overlay
    //- Sidebar
    include ../components/sidebar.pug

    //- block content
    main.main-wrap
      //- Header
      include ../components/header.pug

      section.content-main
        block content

      //- Footer
      include ../components/footer.pug

    //- Scripts
    include ../components/script-vendors.pug
    include ../components/script-main.pug
    include ../components/script-chart.pug