extends ../layouts/master.pug

block title
	title Ecom - Marketplace Dashboard Template

block content
	.row
		.col-9
			.content-header
				h2.content-title Ajouter nouvel produit
				div
					button.btn.btn-light.rounded.font-sm.mr-5.text-body.hover-up Enregistrer dans le brouillon
					button.btn.btn-md.rounded.font-sm.hover-up Publier
		.col-lg-6
			.card.mb-4
				.card-header
					h4 Basique
				.card-body
					form
						.mb-4
							label.form-label(for='product_name') Titre d'un produit
							input#product_name.form-control(type='text' placeholder='Type here')
						.mb-4
							label.form-label Description
							textarea.form-control(placeholder='Type here' rows='4')
						.row
							.col-lg-4
								.mb-4
									label.form-label Prix ​​habituel
									.row.gx-2
									input.form-control(placeholder='$' type='text')
							.col-lg-4
								.mb-4
									label.form-label Prix promotionnel
									input.form-control(placeholder='$' type='text')
							.col-lg-4
								label.form-label monnaie
								select.form-select
									option  USD
									option  EUR
									option  RUBL
						.mb-4
							label.form-label Taux d'imposition
							input#product_name.form-control(type='text' placeholder='%')
						label.form-check.mb-4
							input.form-check-input(type='checkbox' value='')
							span.form-check-label  Faire un modèle
			.card.mb-4
				.card-header
					h4 Expédition
				.card-body
					form
						.row
							.col-lg-6
								.mb-4
									label.form-label(for='product_name') Largeur
									input#product_name.form-control(type='text' placeholder='inch')
							.col-lg-6
								.mb-4
									label.form-label(for='product_name') Hauteur
									input#product_name.form-control(type='text' placeholder='inch')
							.mb-4
								label.form-label(for='product_name') Lester
								input#product_name.form-control(type='text' placeholder='gam')
							.mb-4
								label.form-label(for='product_name') Frais de port
								input#product_name.form-control(type='text' placeholder='$')
		.col-lg-3
			.card.mb-4
				.card-header
					h4 Médias
				.card-body
					.input-upload
						img(src='/backend/assets/imgs/theme/upload.svg' alt='')
						input.form-control(type='file')
			.card.mb-4
				.card-header
					h4 Organisation
				.card-body
					.row.gx-2
						.col-sm-6.mb-3
							label.form-label Catégorie
							select.form-select
								option  Voitures
								option  Articles pour la maison
								option  Électronique
								option  Smartphones
								option  Articles de sport
								option  Bébé et Jouets
						.col-sm-6.mb-3
							label.form-label Sous-catégorie
							select.form-select
								option  Nissan
								option  Honda
								option  Mercedes
								option  Chevrolet
						.mb-4
							label.form-label(for='product_name') Mots clés
							input.form-control(type='text')
