section.section-box.pt-70.bg-26.pb-90.mt-60
    .container
        .head-main
            .row
                .col-xl-5.col-lg-5
                    h3.mb-5 Trending This Week
                    p.font-base.color-gray-500 Special products in this month.
                .col-xl-7.col-lg-7
                    ul.nav.nav-tabs.nav-tabs-underline.text-uppercase(role='tablist')
                        li
                            a.active(href='#tab-all', data-bs-toggle='tab', role='tab', aria-controls='tab-all', aria-selected='true') All
                        li
                            a(href='#tab-bestseller', data-bs-toggle='tab', role='tab', aria-controls='tab-bestseller', aria-selected='true') Best seller
                        li
                            a(href='#tab-mostviewed', data-bs-toggle='tab', role='tab', aria-controls='tab-mostviewed', aria-selected='true') Most viewed
                        li
                            a(href='#tab-topbrands', data-bs-toggle='tab', role='tab', aria-controls='tab-topbrands', aria-selected='true') Top Brands
        .tab-content
            #tab-all.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-all')
                .list-products-5.list-style-brand-2
                    +cardGridStyle3('assets/imgs/page/homepage5/sp1.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp3.png', "Apple", "-15%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp4.png', "Apple", "-16%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp5.png', "Apple", "-22%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
            #tab-bestseller.tab-pane.fade(role='tabpanel', aria-labelledby='tab-bestseller')
                .list-products-5.list-style-brand-2
                    +cardGridStyle3('assets/imgs/page/homepage5/sp1.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp3.png', "Apple", "-15%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp4.png', "Apple", "-16%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp5.png', "Apple", "-22%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
            #tab-mostviewed.tab-pane.fade(role='tabpanel', aria-labelledby='tab-mostviewed')
                .list-products-5.list-style-brand-2
                    +cardGridStyle3('assets/imgs/page/homepage5/sp1.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp3.png', "Apple", "-15%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp4.png', "Apple", "-16%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp5.png', "Apple", "-22%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
            #tab-topbrands.tab-pane.fade(role='tabpanel', aria-labelledby='tab-topbrands')
                .list-products-5.list-style-brand-2
                    +cardGridStyle3('assets/imgs/page/homepage5/sp1.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp3.png', "Apple", "-15%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp4.png', "Apple", "-16%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    +cardGridStyle3('assets/imgs/page/homepage5/sp5.png', "Apple", "-22%", '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
