section.section-box.d-block
    .banner-hero.banner-home5.pt-0.pb-0
        .box-swiper
            .swiper-container.swiper-group-1
                .swiper-wrapper
                    .swiper-slide
                        .banner-slide(style='background: url(assets/imgs/page/homepage5/banner.png) no-repeat top center;')
                            .banner-desc
                                label.lbl-newarrival nouvelle arrivée
                                h1.color-gray-1000.mb-10 Obtenez la meilleure collection d'outils à main
                                a.btn.btn-gray-1000.btn-shop-now Achetez maintenant
                    .swiper-slide
                        .banner-slide(style='background: url(assets/imgs/page/homepage5/banner-2.png) no-repeat top center;')
                            .banner-desc
                                label.lbl-newarrival nouvelle arrivée
                                h1.color-gray-1000.mb-10 Obtenez la meilleure collection d'outils à main
                                a.btn.btn-gray-1000.btn-shop-now Achetez maintenant
                .swiper-pagination.swiper-pagination-1