.section-box.mt-50
    .container
        .row
            .col-lg-6.wow.animate__animated.animate__fadeInUp
                a(href="#")
                    img.w-100.hover-up(src="assets/imgs/page/homepage5/ads2.png", alt="Ecom")
            .col-lg-6.wow.animate__animated.animate__fadeInUp
                a(href="#")
                    img.w-100.hover-up(src="assets/imgs/page/homepage5/ads3.png", alt="Ecom")