.section-box.mt-50
    .container
        .row
            .col-lg-1
            .col-lg-5.wow.animate__animated.animate__fadeInUp
                img.w-100(src="assets/imgs/page/homepage5/ads4.png", alt="Ecom")
            .col-lg-5.wow.animate__animated.animate__fadeInUp
                img.w-100(src="assets/imgs/page/homepage5/ads5.png", alt="Ecom")