section.section-box.mt-10
    .container
        .pb-0.head-main.text-center.border-none
            h4.color-gray-900 Most Popular Categories
        .mt-10
            ul.list-9-col
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.0s')
                    +categoryItem('assets/imgs/page/homepage5/img1.png', 'Drilling Machine', '1025 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                    +categoryItem('assets/imgs/page/homepage5/cordless.png', 'Cordless Tools', '2185 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    +categoryItem('assets/imgs/page/homepage5/blades.png', 'Blades', '635 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    +categoryItem('assets/imgs/page/homepage5/abra.png', 'Abrasives', '965 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    +categoryItem('assets/imgs/page/homepage5/nail.png', 'Nailers', '1254 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                    +categoryItem('assets/imgs/page/homepage5/staple.png', 'Staple Guns', '325 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                    +categoryItem('assets/imgs/page/homepage5/appliance.png', 'Home Appliances', '3256 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.7s')
                    +categoryItem('assets/imgs/page/homepage5/outdoor.png', 'Outdoor Power', '9658 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.8s')
                    +categoryItem('assets/imgs/page/homepage5/measure.png', 'Measuring', '2356 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.1s')
                    +categoryItem('assets/imgs/page/homepage5/bit.png', 'Bits', '325 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.2s')
                    +categoryItem('assets/imgs/page/homepage5/safety.png', 'Safety Equipment', '6536 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.3s')
                    +categoryItem('assets/imgs/page/homepage5/entertainment.png', 'Entertainment', '2458 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.4s')
                    +categoryItem('assets/imgs/page/homepage5/cutting.png', 'Cutting Tools', '2563 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.5s')
                    +categoryItem('assets/imgs/page/homepage5/hand.png', 'Hand Tools', '15k items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.6s')
                    +categoryItem('assets/imgs/page/homepage5/air.png', 'Air Tools', '1254 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.7s')
                    +categoryItem('assets/imgs/page/homepage5/electric.png', 'Electric Power', '2589 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.8s')
                    +categoryItem('assets/imgs/page/homepage5/site.png', 'Site lighting', '6358 items', 'shop-grid.html')
                li.wow.animate__animated.animate__fadeIn(data-wow-delay='.9s')
                    +categoryItem('assets/imgs/page/homepage5/safety2.png', 'Safety Tools', '10254 items', 'shop-grid.html')