section.section-box.bg-home9
    .banner-hero.banner-home9
        .container
            .row
                .col-xl-6.col-lg-5.mb-20
                    .box-swiper
                        .swiper-container.swiper-group-1.home-9
                            .swiper-wrapper
                                .swiper-slide
                                    .banner-big-home9.bg-2
                                        .info-banner
                                            span.font-sm.text-uppercase.label-green new arrival
                                            h4.mt-10.color-gray-1000 Super discount for
                                                br.d-none.d-lg-block
                                                | your first purchase
                                            p.font-nd.color-brand-1 Use discount code in checkout page.
                                            .mt-30
                                                a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop now
                                        .box-img-banner
                                            img(src="assets/imgs/page/homepage9/banner.png", alt="Ecom")
                                .swiper-slide
                                    .banner-big-home9.bg-2
                                        .info-banner
                                            span.font-sm.text-uppercase.label-green new arrival
                                            h4.mt-10.color-gray-1000 Super discount for
                                                br.d-none.d-lg-block
                                                | your first purchase
                                            p.font-md.color-brand-1 Use discount code in checkout page.
                                            .mt-30
                                                a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop now
                                        .box-img-banner
                                            img(src="assets/imgs/page/homepage9/banner.png", alt="Ecom")

                            .swiper-pagination.swiper-pagination-1
                .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12.mb-20
                    .banner-small.bg-5.text-center
                        span.color-brand-3.font-sm New Arrivals
                        h4.mb-5.mt-5.color-gray-1000 Weekly Deal
                        span.color-brand-1.font-md Up to
                            span.color-brand-2.font-md.font-bold $252.00
                            span.color-brand-3.font-md OFF
                        .mt-20
                            a.btn.btn-brand-3.btn-arrow-right(href='shop-grid.html') Shop Now
                        .mt-30
                            img(src="assets/imgs/page/homepage9/weekly.png", alt="Ecom")
                .col-xl-3.col-lg-3.col-md-6.col-sm-6.col-12.mb-20
                    .banner-small.bg-30.text-center
                        span.color-brand-3.font-sm New Arrivals
                        h4.mt-5.mb-10.color-gray-1000 Certified Deals On Surface Pro 2022
                        .mt-15
                            a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop Now
                        .mt-10
                            img(src="assets/imgs/page/homepage9/certify.png", alt="Ecom")