.container.mt-10
    .box-swiper
        .swiper-container.swiper-group-4
            .swiper-wrapper.pt-5
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage5/news1.png', 'Technology', 'The latest technologies to be used for VR in 2022', 'September 02, 2022', '4', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage5/news2.png', 'Technology', 'How can Web 3.0 Bring Changes to the Gaming?', 'August 30, 2022', '5', 'blog-single.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage5/news3.png', 'Gaming', 'NFT Blockchain Games That Might Take Off', 'August 25, 2022', '3', 'blog-single-3.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage5/news4.png', 'Blockchain', 'Blockchain Gaming And Its Three Challenges', 'August 15, 2022', '7', 'blog-single-2.html')