.container.mt-10
    .box-swiper
        .swiper-container.swiper-group-4
            .swiper-wrapper.pt-5
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/blog/blog-1.jpg', 'Technology', 'The latest technologies to be used for VR in 2022', 'September 02, 2022', '4', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/blog/blog-2.jpg', 'Technology', 'How can Web 3.0 Bring Changes to the Gaming?', 'August 30, 2022', '5', 'blog-single.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/blog/blog-3.jpg', 'Gaming', 'NFT Blockchain Games That Might Take Off', 'August 25, 2022', '3', 'blog-single-3.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/blog/blog-4.jpg', 'Blockchain', 'Blockchain Gaming And Its Three Challenges', 'August 15, 2022', '7', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/blog/blog-5.jpg', 'Development', 'HTML5 – The Future of Mobile App Development', 'August 12, 2022', '9', 'blog-single-2.html')
