.container.mt-10
    .box-swiper
        .swiper-container.swiper-group-4
            .swiper-wrapper.pt-5
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage10/news1.png', 'News', 'Ten Reasons We\'re Wrong About the World', 'August 30, 2022', '4', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage10/news2.png', 'News', 'How the Courage to Be Vulnerable Transforms', 'August 30, 2022', '5', 'blog-single.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage10/news3.png', 'News', 'Why Some Companies Make the Leap and Others', 'August 30, 2022', '3', 'blog-single-3.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage10/news4.png', 'Tips', 'The Art of Stress-Free Productivity', 'August 30, 2022', '7', 'blog-single-2.html')