.container.mt-10
    .box-swiper
        .swiper-container.swiper-group-4
            .swiper-wrapper.pt-5
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage7/news1.png', 'News', 'The latest technologies to be used for VR in 2022', 'August 30, 2022', '4', 'blog-single-2.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage7/news2.png', 'News', 'The latest technologies to be used for VR in 2022', 'August 30, 2022', '5', 'blog-single.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage7/news3.png', 'News', 'The latest technologies to be used for VR in 2022', 'August 30, 2022', '3', 'blog-single-3.html')
                .swiper-slide
                    +cardGridStyle1('assets/imgs/page/homepage7/news4.png', 'Tips', 'The latest technologies to be used for VR in 2022', 'August 30, 2022', '7', 'blog-single-2.html')