section.section-box.shop-template.mt-30
    .container
        .row
            .col-lg-1
            .col-lg-10
                include ../elements/box-filters-blog.pug
        .row.mt-30
            .col-lg-1
            .col-lg-10
                -
                    const blogLists = [
                        {
                            image: 'assets/imgs/page/blog/img-big.png',
                            title: 'Actress details sexual harassment on sitcom set',
                            date: 'August 30, 2022',
                            minute: '4',
                            tag: 'Technology',
                            link: 'blog-single.html'

                        },
                        {
                            image: 'assets/imgs/page/blog/img-big2.png',
                            title: 'The FTC Is Closing in on Runaway AI',
                            date: 'August 30, 2022',
                            minute: '4',
                            tag: 'Technology',
                            link: 'blog-single.html'
                        },
                        {
                            image: 'assets/imgs/page/blog/img-big3.png',
                            title: 'Who Will Own the Art of the Future?',
                            date: 'August 30, 2022',
                            minute: '4',
                            tag: 'Technology',
                            link: 'blog-single.html'
                        },
                        {
                            image: 'assets/imgs/page/blog/img-big4.png',
                            title: 'To Fix Tech, Democracy Needs to Grow Up',
                            date: 'August 30, 2022',
                            minute: '4',
                            tag: 'Technology',
                            link: 'blog-single.html'
                        },
                        {
                            image: 'assets/imgs/page/blog/img-big5.png',
                            title: 'The latest technologies to be used for VR in 2022',
                            date: 'August 30, 2022',
                            minute: '4',
                            tag: 'Technology',
                            link: 'blog-single.html'

                        }
                    ]
                each blog in blogLists
                    .col-lg-12.mb-80
                        .card-grid-style-1
                            .image-box
                                a(href= blog.link)
                                img.w-100(src= blog.image, alt='Ecom')
                            .info-blog
                                a.tag-dot.font-xs(href='blog.html')= blog.tag
                                a.color-gray-1100(href= blog.link)
                                    h3.mt-5.mb-10= blog.title
                                p.font-sm.color-gray-500 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                .row.mt-20
                                    .col-8
                                        span.color-gray-500.font-xs.mr-30= blog.date
                                        span.color-gray-500.font-xs= blog.minute
                                            span Mins read
                                    .col-4.text-end
                                        a.btn.btn-arrow-2.btn-arrow-2-reverse.font-sm-bold Read more
                .nav-center
                    include ../elements/pagination.pug