section.section-box.shop-template.mt-10
    .container
        .row
            .col-lg-9.order-first.order-lg-last
                .row
                    .col-lg-12.mb-50.display-list
                        a.tag-dot.font-xs(href='blog.html') Technology
                        h3.mt-15.mb-25 The latest technologies to be used for VR in 2022
                        .box-author.mb-5
                            .img-author.mr-30
                                img(src="assets/imgs/page/blog/author.png", alt="Ecom")
                                span.font-md-bold By Sugar Rosie
                            span.datepost.color-gray-500.font-sm.mr-30 August 30, 2022
                            span.timeread.color-gray-500.font-sm 4 Mins read
                        .image-feature
                            img(src='assets/imgs/page/blog/img-big.png', alt='Ecom')
                        .content-text
                            p
                                | Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                                br
                                | Tribe Capital, Republic Crypto and Kraken invested in the seed round, a source said, requesting anonymity as the information is not public.
                                br
                                | Sethi co-founded the startups with four industry veterans — including Sankha Banerjee, formerly with Credence Capital and Binance; and Boris Revsin, who co-founded Republic Capital. Nibiru has attracted nearly two dozen contributors from firms including Meta, Reddit, JP Morgan and Yahoo, an investor deck obtained by TechCrunch showed.
                            p
                                | The crypto market is flooded with centralized (Binance, FTX) and decentralized ETH-based perpetuals and options trading platforms (Dydx, Opyn, Perpetual Protocol). Nibiru is attempting to build the first mainstream decentralized multichain solution, according to its website.
                                br
                                | Currently in private testnet, Nibiru’s decentralized protocol unifies derivatives trading, spot trading, staking and bonded liquidity, and aims to serve users across over 40 blockchains, it says on the website.
                                br
                                |On its investor deck, Nibiru says it will provide customers with unlocked hedging opportunities, extremely low gas costs, MEV resistance and high futures volume. It is also creating composable yield in rising/falling regimes using decentralized perps and options, the deck added.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch. has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                            h4.mt-20.mb-20 The FTC Is Closing in on Runaway AI
                            p
                                | Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                                br
                                | Tribe Capital, Republic Crypto and Kraken invested in the seed round, a source said, requesting anonymity as the information is not public.
                                br
                                | Sethi co-founded the startups with four industry veterans — including Sankha Banerjee, formerly with Credence Capital and Binance; and Boris Revsin, who co-founded Republic Capital. Nibiru has attracted nearly two dozen contributors from firms including Meta, Reddit, JP Morgan and Yahoo, an investor deck obtained by TechCrunch showed.

                            .image-single
                                img(src='assets/imgs/page/blog/img-single.png', alt='Ecom')

                            p
                                | Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                                br
                                | Tribe Capital, Republic Crypto and Kraken invested in the seed round, a source said, requesting anonymity as the information is not public.
                                br
                                | Sethi co-founded the startups with four industry veterans — including Sankha Banerjee, formerly with Credence Capital and Binance; and Boris Revsin, who co-founded Republic Capital. Nibiru has attracted nearly two dozen contributors from firms including Meta, Reddit, JP Morgan and Yahoo, an investor deck obtained by TechCrunch showed.
                            p
                                | The crypto market is flooded with centralized (Binance, FTX) and decentralized ETH-based perpetuals and options trading platforms (Dydx, Opyn, Perpetual Protocol). Nibiru is attempting to build the first mainstream decentralized multichain solution, according to its website.
                                br
                                | Currently in private testnet, Nibiru’s decentralized protocol unifies derivatives trading, spot trading, staking and bonded liquidity, and aims to serve users across over 40 blockchains, it says on the website.
                                br
                                |On its investor deck, Nibiru says it will provide customers with unlocked hedging opportunities, extremely low gas costs, MEV resistance and high futures volume. It is also creating composable yield in rising/falling regimes using decentralized perps and options, the deck added.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch. has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                        .border-bottom-4.mb-20
                        .row
                            .col-lg-6
                                .box-tags
                                    a.btn.btn-tags.mr-10.hover-up Technology
                                    a.btn.btn-tags.mr-10.hover-up Devices
                                    a.btn.btn-tags.mr-10.hover-up AI
                            .col-lg-6.text-end
                                .d-inline-block.pt-5.pb-5
                                    .share-link
                                        span.font-md-bold.color-brand-3.mr-15 Share
                                        a.facebook.hover-up(href='#')
                                        a.printest.hover-up(href='#')
                                        a.twitter.hover-up(href='#')
                                        a.instagram.hover-up(href='#')
                        .border-bottom-4.mt-20.mb-30
                        .comment-box
                            .comment-item
                                .top-comment
                                    .image-author
                                        img(src='assets/imgs/page/blog/author.png', alt='Ecom')
                                    .author-name
                                        span.font-md-bold.color-gray-900 Sugar Rosie
                                        .info-author
                                            span.font-sm.color-gray-500 306 posts
                                            span.font-sm.color-gray-500 Since 2012
                                .comment-content.font-md
                                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                        .border-bottom-4.mt-40.mb-90
                        h5.font-md-bold.mb-30 Leave a comment
                        .form-comment
                            .row
                                .col-lg-12
                                    .form-group
                                        textarea.form-control(placeholder='Write comment', rows='5')
                                .col-lg-6
                                    .form-group
                                        input.form-control(type="text", placeholder='Name')
                                .col-lg-6
                                    .form-group
                                        input.form-control(type="email", placeholder='Email')
                                .col-lg-12
                                    .form-group
                                        input.btn.btn-buy.w-auto(type="submit", value='Post Comment')

                        h5.font-md-bold.mb-30.mt-20 Comments
                        .comment-box.mb-60
                            .comment-item.comment-item-small
                                .top-comment
                                    .image-author
                                        img(src='assets/imgs/page/blog/author.png', alt='Ecom')
                                    .author-name
                                        span.font-md-bold.color-gray-900.mr-20 Siena Kim
                                        span.font-sm.color-gray-500 August 30, 2022
                                .comment-content.font-md
                                        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.

                            .comment-item.comment-item-small
                                .top-comment
                                    .image-author
                                        img(src='assets/imgs/page/blog/author.png', alt='Ecom')
                                    .author-name
                                        span.font-md-bold.color-gray-900.mr-20 Siena Kim
                                        span.font-sm.color-gray-500 August 30, 2022
                                .comment-content.font-md
                                        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.

                            .comment-item.comment-item-small
                                .top-comment
                                    .image-author
                                        img(src='assets/imgs/page/blog/author.png', alt='Ecom')
                                    .author-name
                                        span.font-md-bold.color-gray-900.mr-20 Siena Kim
                                        span.font-sm.color-gray-500 August 30, 2022
                                .comment-content.font-md
                                        | Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Nibiru, a new crypto derivatives protocol co-founded by Tribe Capital GP Arjun Sethi, has raised $7.5 million in seed funding at a valuation of $100 million, two sources familiar with the matter told TechCrunch.
                        .nav-center.text-end
                            include ../elements/pagination.pug
            .col-lg-3.order-last.order-lg-first
                include ../components/sidebar-blog.pug