section.section-box.box-newsletter.box-newsletter-home10.bg-success
    .container
        .row
            .col-lg-1.col-md-12.col-sm-12
            .col-lg-6.col-md-7.col-sm-12
                h3.color-white
                    | Subscrible &amp; Get 
                    span.color-gray-1000 10%
                    |  Discount
                p.font-lg.color-white
                    | Get E-mail updates about our latest shop and 
                    span.font-lg-bold special offers.
            .col-lg-4.col-md-5.col-sm-12
                .box-form-newsletter.mt-15
                    form.form-newsletter
                        input.input-newsletter.font-xs(value='', placeholder='Your email Address')
                        button.btn.btn-brand-2 Sign Up
