section.section-box.box-newsletter.bg-brand-1.bg-newsletter-home7
  .container
    .row
      .col-lg-12.text-center
        h3.color-white.mb-5
          | Subscrible &amp; Get 
          span.color-warning 10%
          |  Discount
        p.font-lg.color-white.mb-10
          | Get E-mail updates about our latest shop and 
          span.font-lg-bold special offers.
    .row  
        .col-lg-12.text-center
            .box-form-newsletter.mw-newsletter.mt-15.d-inline-block
                form.form-newsletter
                    input.input-newsletter.font-xs(value='', placeholder='Your email Address')
                    button.btn.btn-brand-2 Sign Up
