section.section-box.shop-template.mt-30
    .container
        +bannerTop('assets/imgs/page/shop/grid-2/banner.png')
        .row
            .col-lg-9.order-first.order-lg-last
                include ../elements/box-filters.pug
                .row.mt-20.display-list
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM Tower PC', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Bose Sport Earbuds True Wireless Bluetooth Headphones', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", '2022 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Chromecast with Google TV - Streaming Entertainment', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'HDR Smart Portable Projector - SP-LSP3BLAXZA 2022', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", 'Lenovo Legion 5i 15.6" Laptop, Intel Core i5-10500H', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Kasa Outdoor Smart Plug, Smart Home Wi-Fi Outlet with 2 Sockets', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Sceptre 24" Professional Thin 75Hz 1080p LED Monitor 2x HDMI', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Seagate Portable 2TB External Hard Drive Portable HDD – USB 3.0', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'SanDisk 128GB Ultra microSDXC UHS-I Memory Card with Adapter ', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Original HP 63XL Black High-yield Ink Cartridge | Works', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", 'HP 24mh FHD Monitor - Computer Monitor with 23.8-Inch', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-lg-12
                        +cardGridStyle3_list('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'Logitech MK345 Wireless Combo Full-Sized Keyboard with Palm ', '$3225.6', "$2856.3", 'shop-single-product.html')
                include ../elements/pagination.pug
            .col-lg-3.order-last.order-lg-first
                include ../components/sidebar.pug