.section-box.shop-template.mt-30
    .container
        .row
            .col-lg-9.order-first.order-lg-last
                .banner-ads-top.mb-30
                    a(href='shop-single-product-3.html')
                        img(src='assets/imgs/page/shop/banner.png', alt='Ecom')
                include ../elements/box-filters.pug
                .row.mt-20
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Dell Optiplex 9020 Small Form Business Desktop', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'HP 24 All-in-One PC, Intel Core i3-1115G4', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Gateway 23.8" All-in-one Desktop, Fully Adjustable', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'HP 22 All-in-One PC, Intel Pentium Silver J5040', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'HP Slim Desktop, Intel Celeron J4025, 4GB RAM', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", 'Class 4K UHD (2160P) LED Roku Smart TV HDR', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'Galaxy Tab S7 Plus 12.4" 128GB Mystic Black', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'HP 11.6" Chromebook, AMD A4, 4GB RAM, 32GB Storage', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'RCA 43" Class 4K Ultra HD (2160P) HDR Roku Smart', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Bose Sport Earbuds True Wireless Headphones', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", 'Apple Watch Series 7 GPS + Cellular, 41mm Midnight', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'Hisense 43" Class 4K UHD LED XClass Smart TV HDR', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", '2022 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Chromecast with Google TV - Streaming Entertainment', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'LG 65" Class 4K UHD Smart TV OLED A1 Series', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'HDR Smart Portable Projector - SP- 2022', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Lenovo Legion 5i 15.6" Laptop, Intel Core i5', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", 'Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", '2022 Apple iMac Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Razer Power Up Gaming Bundle V2 - Cynosa Lit', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Seagate Portable 2TB External Hard Drive Portable', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'SanDisk 128GB Ultra microSDXC UHS-I Memory', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Original HP 63XL Black High-yield Ink Cartridge', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp1.png', "Apple", "-17%", '2022 Apple iMac Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp2.png', "Apple", "-17%", 'Logitech C920x HD Pro Webcam, Full HD', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'HP 24mh FHD Monitor - Computer Monitor with 23.8-Inch', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Logitech H390 Wired Headset, Stereo Headphones with Noise', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Logitech MK345 Wireless Combo Full-Sized Keyboard with Palm', '$3225.6', "$2856.3", 'shop-single-product.html')
                    .col-xl-3.col-lg-4.col-md-6.col-sm-6.col-12
                        +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Logitech Brio 4K Webcam, Ultra 4K HD Video Calling 2T Storage', '$3225.6', "$2856.3", 'shop-single-product.html')
                include ../elements/pagination.pug
            .col-lg-3.order-last.order-lg-first
                include ../components/sidebar.pug