.section-box.shop-template.mt-30
    .container
        .box-swiper.slider-shop-2
            .swiper-container.swiper-group-3
                .swiper-wrapper.pt-5
                    .swiper-slide
                        +cardGridStyle2('assets/imgs/page/homepage2/cat-img-6.png', 'YSSOA Store', 'Chair Mesh Ergonomic Adjustable Swivel Task Chair with Headrest', '$3225.6', '$2556.3', 'shop-single-product.html')
                            span.label.bg-brand-2 -12%
                    .swiper-slide
                        +cardGridStyle2('assets/imgs/page/homepage2/cat-img-9.png', 'Apple', 'Straight Talk Samsung Galaxy A03s, 32GB, Black', '$3225.6', '$2556.3', 'shop-single-product.html')
                            span.label.bg-brand-2 -17%
                    .swiper-slide
                        +cardGridStyle2('assets/imgs/page/homepage2/cat-img-10.png', 'Apple', 'iMac MNE92LL/A 27 Inch, 3.4 GHz Intel Core i5, 8GB RAM, 1TB Drive', '$3225.6', '$2556.3', 'shop-single-product.html')
                            span.label.bg-brand-2 -20%
                    .swiper-slide
                        +cardGridStyle2('assets/imgs/page/homepage2/cat-img-16.png', 'Apple', 'Apple Watch Series 8 [GPS 45mm] Smart Watch w/ Midnight Case ', '$3225.6', '$2556.3', 'shop-single-product.html')
                            span.label.bg-brand-2 -22%
            .swiper-button-next.swiper-button-next-group-3
            .swiper-button-prev.swiper-button-next-group-3