section.section-box.shop-template
    .container
        .row
            .col-lg-6
                .gallery-image
                    .galleries
                        .detail-gallery
                            label.label -17%
                            .product-image-slider
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')
                        .slider-nav-thumbnails
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')
            .col-lg-6
                h3.color-brand-3.mb-25 Samsung 36" French door 28 cu. ft. Smart Energy Star Refrigerator
                span.bytext by
                a.byAUthor(href='shop-vendor-single.html')
                    |  Ecom Tech
                .rating.mt-5
                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                    span.font-xs.color-gray-500
                        |  (65)
                .border-bottom.pt-20.mb-40
                .box-product-price
                    h3.color-brand-3.price-main.d-inline-block.mr-10 $2856.3
                    span.color-gray-500.price-line.font-xl.line-througt $3225.6
                .product-description.mt-20.color-gray-900
                    | – Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    br
                    | – Nulla sit amet diam elementum, vehicula elit nec, accumsan velit.
                    br
                    | – Integer consectetur lacus nec vestibulum auctor.
                    br
                    | – Nulla suscipit tellus vel sem rhoncus auctor.
                .buy-product.mt-20
                    p.font-sm.mb-20 Quantity
                    .box-quantity
                        .input-quantity
                            input.font-xl.color-brand-3(type="text", value="1")
                            span.minus-cart
                            span.plus-cart
                        .button-buy
                            a.btn.btn-cart(href='shop-cart.html') Add to cart
                            a.btn.btn-buy(href='shop-checkout.html') Buy now
                .border-bottom.pt-30.mb-20
                a.mr-30(href='shop-wishlist.html')
                    span.btn.btn-wishlist.mr-5.opacity-100.transform-none
                    span.font-md.color-gray-900 Add to Wish list
                a(href='shop-compare.html')
                    span.btn.btn-compare.mr-5.opacity-100.transform-none
                    span.font-md.color-gray-900 Add to Compare
                .info-product.mt-20.font-md.color-gray-900
                    | SKU: EcomTech12321
                    br
                    | Category: Smartphones
                    br
                    | Tags: Blue, Smartphone
                .mt-20
                    a.font-md.color-gray-900(href="shop-compare.html") Compare with similar items

        .border-bottom.pt-20.mb-40
        h4.color-brand-3.mb-20 Frequently Bought Together
        .box-bought-together
            .box-product-bought
                .product-bought
                    img(src="assets/imgs/page/product/img-bought.png", alt="Ecom")
                .product-bought
                    img(src="assets/imgs/page/product/img-bought2.png", alt="Ecom")
            .price-bought
                h3.color-brand-3.mr-10 $2856.3
                span.font-lg.color-gray-900 (3 items)
                .box-btn-add-cart
                    a.btn.btn-cart(href='shop-cart.html') Add To Cart
        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                strong This item:
                | iPhone 12 Pro Max 128GB Pacific Blue - $1,099.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple AirPods Pro, Active Noise Cancellation, Custom Fit - $197.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple iMac 24" All-In-One Computer, Apple M1, 8GB RAM, 512GB SSD, macOS Big Sur, Green, MGPJ3LL/A - $1,599.00
            span.checkmark

        .border-bottom.pt-30.mb-10