section.section-box.shop-template
    .container
        .pt-30.mb-10
            ul.nav.nav-tabs.nav-tabs-product(role='tablist')
                li
                    a.active(href='#tab-description', data-bs-toggle='tab', role='tab', aria-controls='tab-description', aria-selected='true') Description
                li
                    a(href='#tab-specification', data-bs-toggle='tab', role='tab', aria-controls='tab-specification', aria-selected='true') Specification
                li
                    a(href='#tab-additional', data-bs-toggle='tab', role='tab', aria-controls='tab-additional', aria-selected='true') Additional information
                li
                    a(href='#tab-reviews', data-bs-toggle='tab', role='tab', aria-controls='tab-reviews', aria-selected='true') Reviews (2)
                li
                    a(href='#tab-vendor', data-bs-toggle='tab', role='tab', aria-controls='tab-vendor', aria-selected='true') Vendor
            .tab-content
                #tab-description.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-description')
                    .display-text-short
                        p
                            | It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                        p
                            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word “and” and the Little Blind Text should turn around and return to its own, safe country. It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar.
                        p
                            img(src="assets/imgs/page/product/product-banner.jpg", alt="Ecom")
                        p
                            | It is a paradisematic country, in which roasted parts of sentences fly into your mouth. Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic life One day however a small line of blind text by the name of Lorem Ipsum decided to leave for the far World of Grammar. The Big Oxmox advised her not to do so, because there were thousands of bad Commas, wild Question Marks and devious Semikoli, but the Little Blind Text didn’t listen. She packed her seven versalia, put her initial into the belt and made herself on the way.
                        p
                            img(src="assets/imgs/page/product/product-banner-2.jpg", alt="Ecom")
                        p
                            | When she reached the first hills of the Italic Mountains, she had a last view back on the skyline of her hometown Bookmarksgrove, the headline of Alphabet Village and the subline of her own road, the Line Lane. Pityful a rethoric question ran over her cheek, then she continued her way. On her way she met a copy. The copy warned the Little Blind Text, that where it came from it would have been rewritten a thousand times and everything that was left from its origin would be the word “and” and the Little Blind Text should turn around and return to its own, safe country.
                    .mt-20.text-center
                        a.btn.btn-border.font-sm-bold.pl-80.pr-80.btn-expand-more More Details

                #tab-specification.tab-pane.fade(role='tabpanel', aria-labelledby='tab-specification')
                    h5.mb-25 Specification
                    .table-responsive
                        table.table.table-striped
                            tr
                                td Mode
                                td #SK10923
                            tr
                                td Brand
                                td SamSung
                            tr
                                td Size
                                td 6.7"
                            tr
                                td Finish
                                td Pacific Blue
                            tr
                                td Origin of Country
                                td United States
                            tr
                                td Manufacturer
                                td USA
                            tr
                                td Released Year
                                td 2022
                            tr
                                td Warranty
                                td International

                #tab-additional.tab-pane.fade(role='tabpanel', aria-labelledby='tab-additional')
                    h5.mb-25 Additional information
                    .table-responsive
                        table.table.table-striped
                            tbody
                                tr
                                    td Weight
                                    td
                                        p 0.240 kg
                                tr
                                    td Dimensions
                                    td
                                        p 0.74 x 7.64 x 16.08 cm

                #tab-reviews.tab-pane.fade(role='tabpanel', aria-labelledby='tab-reviews')
                    .comments-area
                        .row
                            .col-lg-8
                                h4.mb-30.title-question Customer questions &amp; answers
                                .comment-list
                                    .single-comment.justify-content-between.d-flex.mb-30.hover-up
                                        .user.justify-content-between.d-flex
                                            .thumb.text-center
                                                img(src='assets/imgs/page/product/author-2.png', alt='Ecom')
                                                a.font-heading.text-brand(href='#') Sienna
                                            .desc
                                                .d-flex.justify-content-between.mb-10
                                                    .d-flex.align-items-center
                                                        span.font-xs.color-gray-700 December 4, 2022 at 3:12 pm
                                                    .product-rate.d-inline-block
                                                        .product-rating(style='width: 100%')
                                                p.mb-10.font-sm.color-gray-900
                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi
                                                    | repudiandae minus ab deleniti totam officia id incidunt?
                                                    a.reply(href='#')
                                                        |  Reply
                                    .single-comment.justify-content-between.d-flex.mb-30.ml-30.hover-up
                                        .user.justify-content-between.d-flex
                                            .thumb.text-center
                                                img(src='assets/imgs/page/product/author-3.png', alt='Ecom')
                                                a.font-heading.text-brand(href='#') Brenna
                                            .desc
                                                .d-flex.justify-content-between.mb-10
                                                    .d-flex.align-items-center
                                                        span.font-xs.color-gray-700 December 4, 2022 at 3:12 pm
                                                    .product-rate.d-inline-block
                                                        .product-rating(style='width: 80%')
                                                p.mb-10.font-sm.color-gray-900
                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi
                                                    | repudiandae minus ab deleniti totam officia id incidunt?
                                                    a.reply(href='#')
                                                        |  Reply
                                    .single-comment.justify-content-between.d-flex.hover-up
                                        .user.justify-content-between.d-flex
                                            .thumb.text-center
                                                img(src='assets/imgs/page/product/author-4.png', alt='Ecom')
                                                a.font-heading.text-brand(href='#') Gemma
                                            .desc
                                                .d-flex.justify-content-between.mb-10
                                                    .d-flex.align-items-center
                                                        span.font-xs.color-gray-700 December 4, 2022 at 3:12 pm
                                                    .product-rate.d-inline-block
                                                        .product-rating(style='width: 80%')
                                                p.mb-10.font-sm.color-gray-900
                                                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus, suscipit exercitationem accusantium obcaecati quos voluptate nesciunt facilis itaque modi commodi dignissimos sequi
                                                    | repudiandae minus ab deleniti totam officia id incidunt?
                                                    a.reply(href='#')
                                                        |  Reply
                            .col-lg-4
                                h4.mb-30.title-question Customer reviews
                                .d-flex.mb-30
                                    .product-rate.d-inline-block.mr-15
                                        .product-rating(style='width: 90%')
                                    h6 4.8 out of 5
                                .progress
                                    span 5 star
                                    .progress-bar(role='progressbar', style='width: 50%', aria-valuenow='50', aria-valuemin='0', aria-valuemax='100') 50%
                                .progress
                                    span 4 star
                                    .progress-bar(role='progressbar', style='width: 25%', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100') 25%
                                .progress
                                    span 3 star
                                    .progress-bar(role='progressbar', style='width: 45%', aria-valuenow='45', aria-valuemin='0', aria-valuemax='100') 45%
                                .progress
                                    span 2 star
                                    .progress-bar(role='progressbar', style='width: 65%', aria-valuenow='65', aria-valuemin='0', aria-valuemax='100') 65%
                                .progress.mb-30
                                    span 1 star
                                    .progress-bar(role='progressbar', style='width: 85%', aria-valuenow='85', aria-valuemin='0', aria-valuemax='100') 85%
                                a.font-xs.text-muted(href='#') How are ratings calculated?

                #tab-vendor.tab-pane.fade(role='tabpanel', aria-labelledby='tab-vendor')
                    .vendor-logo.d-flex.mb-30
                        img(src='assets/imgs/page/product/futur.png', alt='')
                        .vendor-name.ml-15
                            h6
                                a(href='shop-vendor-single.html') Futur Tech.
                            .product-rate-cover.text-end
                                .product-rate.d-inline-block
                                    .product-rating(style='width: 90%')
                                span.font-small.ml-5.text-muted  (32 reviews)
                    ul.contact-infor.mb-50
                        li
                            img(src='assets/imgs/page/product/icon-location.svg', alt='')
                            strong Address:
                            span  5171 W Campbell Ave undefined Kent, Utah 53127 United States
                        li
                            img(src='assets/imgs/page/product/icon-contact.svg', alt='')
                            strong Contact Seller:
                            span  (+91) - 540-025-553
                    .d-flex.mb-25
                        .mr-30
                            p.color-brand-1.font-xs Rating
                            h4.mb-0 92%
                        .mr-30
                            p.color-brand-1.font-xs Ship on time
                            h4.mb-0 100%
                        div
                            p.color-brand-1.font-xs Chat response
                            h4.mb-0 89%
                    p.font-sm.color-gray-500.mb-15
                        | Noodles &amp; Company is an American fast-casual restaurant that offers international and American noodle dishes and pasta in addition to soups and salads. Noodles &amp; Company was founded in 1995 by Aaron Kennedy and is headquartered in Broomfield,
                        | Colorado. The company went public in 2013 and recorded a $457 million revenue in 2017.In late 2018, there were 460 Noodles &amp; Company locations across 29 states and Washington, D.C.
                    p.font-sm.color-gray-500
                        | Proin congue dapibus rhoncus. Curabitur ipsum orci, malesuada in porttitor a, porttitor quis diam. Nunc at arcu ut turpis facilisis volutpat. Proin tristique, mauris non gravida dignissim, purus mauris malesuada tellus, in tincidunt orci enim eget ligula. Quisque bibendum, ipsum id malesuada placerat, purus felis vehicula risus, vel fringilla justo erat ullamcorper ligula. Fusce congue ullamcorper ligula, at commodo turpis molestie vel.

                .border-bottom.pt-30.mb-50

                h4.color-brand-3 Related Products
                .list-products-5.mt-20
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Dell", "-17%", 'Dell Optiplex 9020 Small Form Business Desktop Tower', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "HP", "-17%", 'HP 24 All-in-One PC, Intel Core i3-1115G4, 4GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Gateway", "-17%", 'Gateway 23.8" All-in-one Desktop, Fully Adjustable', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "HP", "-17%", 'HP 22 All-in-One PC, Intel Pentium Silver J5040, 4GB RAM', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Sceptre", "-17%", 'Sceptre 24" Professional Thin 75Hz 1080p LED Monitor', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                .border-bottom.pt-20.mb-40
                h4.color-brand-3 You may also like
                .list-products-5.mt-20
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'HP DeskJet 2755e Wireless Color All-in-One Printer', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Razer Power Up Gaming Bundle V2 - Cynosa Lite', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'HP 24mh FHD Monitor - Computer Monitor', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                .border-bottom.pt-20.mb-40
                h4.color-brand-3 Recently viewed items
                .row.mt-40
                    .col-lg-3.col-md-6.col-sm-12
                        +cardGridStyle2_1('assets/imgs/page/homepage1/imgsp1.png', 'Apple', 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', '$2556.3', 'shop-single-product-3.html')
                    .col-lg-3.col-md-6.col-sm-12
                        +cardGridStyle2_1('assets/imgs/page/homepage1/imgsp2.png', 'Apple', 'Class 4K UHD (2160P) LED Roku Smart TV HDR', '$3225.6', '$2556.3', 'shop-single-product-3.html')
                    .col-lg-3.col-md-6.col-sm-12
                        +cardGridStyle2_1('assets/imgs/page/homepage1/imgsp1.png', 'Apple', 'HP 24mh FHD Monitor - Computer Monitor with 23.8-Inch', '$3225.6', '$2556.3', 'shop-single-product-3.html')
                    .col-lg-3.col-md-6.col-sm-12
                        +cardGridStyle2_1('assets/imgs/page/homepage1/imgsp2.png', 'Apple', 'Logitech H390 Wired Headset, Stereo Headphones', '$3225.6', '$2556.3', 'shop-single-product-3.html')
                .border-bottom.pt-20.mb-40
                h4.color-brand-3 Similar products to compare
                .list-products-5.mt-20
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-17%", 'Logitech MK345 Wireless Combo Full-Sized Keyboard', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp4.png', "Apple", "-17%", 'Logitech Brio 4K Webcam, Ultra 4K HD Video Calling', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-17%", 'HP 24mh FHD Monitor - Computer Monitor', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                    +cardGridStyle3('assets/imgs/page/homepage1/imgsp7.png', "Apple", "-17%", 'Seagate Portable 2TB External Hard Drive', '$3225.6', "$2856.3", 'shop-single-product-3.html')