section.section-box.shop-template
    .container
        .row
            .col-lg-5
                .gallery-image
                    .galleries
                        .detail-gallery
                            label.label -17%
                            .product-image-slider
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                                figure.border-radius-10
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')
                        .slider-nav-thumbnails
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-1.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-2.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-3.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-4.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-5.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-6.jpg', alt='product image')
                            div
                                .item-thumb
                                    img(src='assets/imgs/page/product/img-gallery-7.jpg', alt='product image')

            .col-lg-7
                h3.color-brand-3.mb-25
                    | Samsung Galaxy S22 Ultra, 8K Camera & Video, Brightest Display Screen, S Pen Pro
                .row.align-items-center
                    .col-lg-4.col-md-4.col-sm-3.mb-mobile
                        span.bytext.color-gray-500.font-xs.font-medium by
                        a.byAUthor.color-gray-900.font-xs.font-medium(href='shop-vendor-single.html')
                            |  Ecom Tech
                        .rating.mt-5
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                            span.font-xs.color-gray-500.font-medium
                                |  (65 reviews)
                    .col-lg-8.col-md-8.col-sm-9.text-start.text-sm-end
                        a.mr-20(href='shop-wishlist.html')
                            span.btn.btn-wishlist.mr-5.opacity-100.transform-none
                            span.font-md.color-gray-900 Add to Wish list
                        a(href='shop-compare.html')
                            span.btn.btn-compare.mr-5.opacity-100.transform-none
                            span.font-md.color-gray-900 Add to Compare

                .border-bottom.pt-10.mb-20
                .box-product-price
                    h3.color-brand-3.price-main.d-inline-block.mr-10 $2856.3
                    span.color-gray-500.price-line.font-xl.line-througt $3225.6
                .product-description.mt-20.color-gray-900
                    .row
                        .col-lg-6.col-md-6.col-sm-12
                            ul.list-dot
                                li 8k super steady video
                                li Nightography plus portait mode
                                li 50mp photo resolution plus bright display
                        .col-lg-6.col-md-6.col-sm-12
                            ul.list-dot
                                li Adaptive color contrast
                                li premium design & craftmanship
                                li Long lasting battery plus fast charging
                .box-product-color.mt-20
                    p.font-sm.color-gray-900 Color:
                        span.color-brand-2.nameColor Pink Gold
                    ul.list-colors
                        li.disabled
                            img(src="assets/imgs/page/product/img-gallery-1.jpg", alt="Ecom", title='Pink')
                        li
                            img(src="assets/imgs/page/product/img-gallery-2.jpg", alt="Ecom", title='Gold')
                        li
                            img(src="assets/imgs/page/product/img-gallery-3.jpg", alt="Ecom", title='Pink Gold')
                        li
                            img(src="assets/imgs/page/product/img-gallery-4.jpg", alt="Ecom", title='Silver')
                        li.active
                            img(src="assets/imgs/page/product/img-gallery-5.jpg", alt="Ecom", title='Pink Gold')
                        li.disabled
                            img(src="assets/imgs/page/product/img-gallery-6.jpg", alt="Ecom", title='Black')
                        li.disabled
                            img(src="assets/imgs/page/product/img-gallery-7.jpg", alt="Ecom", title='Red')

                .box-product-style-size.mt-20
                    .row
                        .col-lg-6.col-md-6.mb-20
                            p.font-sm.color-gray-900 Style:
                                span.color-brand-2.nameStyle S22
                            ul.list-styles
                                li.disabled(title='S22 Ultra') S22 Ultra
                                li.active(title='S22') S22
                                li(title='S22 + Standing Cover') S22 + Standing Cover
                        .col-lg-6.col-md-6.mb-20
                            p.font-sm.color-gray-900 Size:
                                span.color-brand-2.nameSize 512GB
                            ul.list-sizes
                                li.disabled(title='1GB') 1GB
                                li.active(title='512 GB') 512 GB
                                li(title='256 GB') 256 GB
                                li(title='128 GB') 128 GB
                                li.disabled(title='64GB') 64GB

                .buy-product.mt-30
                    p.font-sm.mb-20 Quantity
                    .box-quantity
                        .input-quantity
                            input.font-xl.color-brand-3(type="text", value="1")
                            span.minus-cart
                            span.plus-cart
                        .button-buy
                            a.btn.btn-cart(href='shop-cart.html') Add to cart
                            a.btn.btn-buy(href='shop-checkout.html') Buy now

                .info-product.mt-40
                    .row.align-items-end
                        .col-lg-4.col-md-4.mb-20
                            span.font-sm.font-medium.color-gray-900
                                | SKU:
                                span.color-gray-500 iphone12pro128
                                br
                                | Category:
                                span.color-gray-500 Smartphones
                                br
                                | Tags:
                                span.color-gray-500 Blue, Smartphone
                        .col-lg-4.col-md-4.mb-20
                            span.font-sm.font-medium.color-gray-900
                                | Free Delivery
                                br
                                span.color-gray-500 Available for all locations.
                                br
                                span.color-gray-500 Delivery Options & Info
                        .col-lg-4.col-md-4.mb-20.text-start.text-md-end
                            .d-inline-block
                                .share-link
                                    span.font-md-bold.color-brand-3.mr-15 Share
                                    a.facebook.hover-up(href='#')
                                    a.printest.hover-up(href='#')
                                    a.twitter.hover-up(href='#')
                                    a.instagram.hover-up(href='#')

        .border-bottom.pt-30.mb-40
        h4.color-brand-3.mb-20 Frequently Bought Together
        .box-bought-together
            .box-product-bought
                .product-bought
                    img(src="assets/imgs/page/product/sp1.png", alt="Ecom")
                .product-bought
                    img(src="assets/imgs/page/product/sp2.png", alt="Ecom")
                .product-bought
                    img(src="assets/imgs/page/product/sp3.png", alt="Ecom")
            .price-bought
                h3.color-brand-3.mr-10 $2856.3
                span.font-lg.color-gray-900 (3 items)
                .box-btn-add-cart
                    a.btn.btn-cart(href='shop-cart.html') Add To Cart
        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                strong This item:
                | iPhone 12 Pro Max 128GB Pacific Blue - $1,099.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple AirPods Pro, Active Noise Cancellation, Custom Fit - $197.00
            span.checkmark

        label.cb-container-2
            input(type='checkbox', checked='checked')
            span.font-md.color-brand-3
                | Apple iMac 24" All-In-One Computer, Apple M1, 8GB RAM, 512GB SSD, macOS Big Sur, Green, MGPJ3LL/A - $1,599.00
            span.checkmark