extends ../layouts/master.pug
block variables
    - var PageTitle = 'About us'
block title
    title About us - Ecom Marketplace Template

block header
    include ../components/header.pug

block content
    include ../sections/about_sec1.pug

    include ../sections/homepage1/home1_sec9.pug
    include ../sections/newsletter.pug

    block scripts-custom