extends ../layouts/master.pug

block title
    title Checkout - Ecom Marketplace Template

block header
    include ../components/header.pug

block content
    include ../sections/checkout_sec1.pug
    include ../sections/checkout_sec2.pug

    include ../sections/homepage1/home1_sec9.pug
    include ../sections/newsletter.pug

    block scripts-custom
    include ../components/modal-search.pug