extends ../layouts/master.pug

block title
    title Shop Grid 2 - Ecom Marketplace Template

block header
    include ../components/header.pug

block content
    include ../sections/shop_grid_2_sec1.pug
    include ../sections/shop_grid_2_sec2.pug
    include ../sections/shop_grid_2_sec3.pug
    include ../sections/homepage1/home1_sec9.pug
    include ../sections/newsletter.pug
    include ../components/modal-search.pug
    include ../elements/quickview.pug

    block scripts-custom