extends ../layouts/master.pug
block variables
    - var PageTitle = 'Vendor listing'
block title
    title Vendor - Ecom Marketplace Template

block header
    include ../components/header.pug

block content
    include ../elements/vendor_head.pug
    include ../sections/vendor_sec1.pug
    include ../sections/homepage1/home1_sec9.pug
    include ../sections/newsletter.pug
    include ../components/modal-search.pug
    include ../elements/quickview.pug

    block scripts-custom
