extends ../layouts/master.pug

block title
    title Account - Ecom Marketplace Template

block header
    include ../components/header.pug

block content
    include ../sections/account_sec1.pug
    include ../sections/newsletter.pug
    include ../components/modal-search.pug
    include ../elements/quickview.pug

    block scripts-custom
