.section-box.mt-30
    .container
        .box-swiper
            .swiper-container.swiper-group-9
                .swiper-wrapper.pt-5
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat1.png', 'Snake Plant', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat2.png', 'Pothos', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat3.png', 'Evergreen', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat4.png', 'Parlor Palm', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat5.png', 'Maranta', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat6.png', 'Monstera', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat7.png', 'Alocasia', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat8.png', 'Guiana', '2356 items')
                    .swiper-slide
                        +cardCategoryItem('assets/imgs/page/homepage10/cat9.png', 'Peperomia', '2356 items')

