.section-box.mt-30
    .container
        .box-ads-1 
            .ads-1 
                a(href='#')
                    img(src="assets/imgs/page/homepage7/ads1.png", alt="Ecom")
            .ads-2 
                a(href='#')
                    img(src="assets/imgs/page/homepage7/ads2.png", alt="Ecom")
            .ads-3 
                a(href='#')
                    img(src="assets/imgs/page/homepage7/ads3.png", alt="Ecom") 