.section-box.mt-5
    .container
        .row
            .col-lg-8.col-md-8.mb-15
                .box-swiper.swiper-home7
                    .swiper-container.swiper-group-1
                        .swiper-wrapper
                            .swiper-slide
                                .banner-big-7
                                    img(src="assets/imgs/page/homepage7/banner.png", alt="Ecom")
                            .swiper-slide
                                .banner-big-7
                                    img(src="assets/imgs/page/homepage7/banner-2.png", alt="Ecom")
                            .swiper-slide
                                .banner-big-7
                                    img(src="assets/imgs/page/homepage7/banner-3.png", alt="Ecom")
                        .swiper-pagination.swiper-pagination-1
            .col-lg-4.col-md-4.mb-15
                .banner-right-7
                    img(src="assets/imgs/page/homepage7/banner2.png", alt="Ecom")