section.section-box.mt-40
    .container
        .pb-0.head-main.text-center.border-none
            h4.color-gray-900 Most Popular Categories
        .mt-10
            .box-swiper.js-swiper-9
                .swiper-container.swiper-group-9.pb-50
                    .swiper-wrapper
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy1.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy2.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy3.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy4.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy5.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy6.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy7.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy8.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                        .swiper-slide
                            .card-circle 
                                .card-image 
                                    .inner-image
                                        img(src="assets/imgs/page/homepage7/toy9.png", alt="Ecom")
                                .card-info 
                                    a.font-md-bold(href="#") Teddy bear
                                    p.font-xs.color-gray-500 2356 items
                    .swiper-pagination.swiper-pagination-3.text-center