.section-box.mt-5.mb-20
    .container
        .box-swiper
            .swiper-container.swiper-group-15
                .swiper-wrapper
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo1.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo2.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo3.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo4.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo5.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo6.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo7.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo8.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo9.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo10.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo11.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo12.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo13.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo14.png", alt="Ecom")
                    .swiper-slide
                        img(src="assets/imgs/page/homepage7/logo15.png", alt="Ecom")