.section-box.mt-10
    .container
        .box-ads-home10 
            img(src="assets/imgs/page/homepage10/ads.png", alt="Ecom")
            .info-ads-home10 
                .d-inline-block.text-start
                    h5.color-white 70% off on limited chairs
                    p.font-base.color-white.mb-10 Free shipping available for purchases more than $80.
                    a.btn.btn-success.font-sm-bold View Products 