section.section-box
    .banner-hero.banner-home10
        .container
            .row
                .col-xl-6.col-lg-6.mb-20
                    .box-swiper
                        .swiper-container.swiper-group-1
                            .swiper-wrapper
                                .swiper-slide
                                    .banner-big-home10.bg-3
                                        .info-banner
                                            span.font-xs.text-uppercase.color-brand-2.font-bold new arrival
                                            h3.mt-10.color-gray-1000.mb-0 Make Your Home Beautiful 
                                                br.d-none.d-lg-block 
                                                | With 
                                                span.color-success Green Plants
                                            .mt-10 
                                                ul.list-disc.mt-0
                                                    li.font-sm.color-brand-3 Free Shipping. Secure Payment
                                                    li.font-sm.color-brand-3 Contact us 24hrs a day
                                                    li.font-sm.color-brand-3 Support gift service
                                                    li.font-sm.color-brand-3 Garden care
                                            .mt-20
                                                a.btn.btn-success(href='shop-grid.html') Shop now
                                                a.btn.btn-link-brand-3(href='shop-grid.html') Learn more
                                        .box-img-banner 
                                            img(src="assets/imgs/page/homepage10/banner.png", alt="Ecom")
                                .swiper-slide
                                    .banner-big-home10.bg-3
                                        .info-banner
                                            span.font-xs.text-uppercase.color-brand-2.font-bold new arrival
                                            h3.mt-10.color-gray-1000.mb-0 Make Your Home Beautiful 
                                                br.d-none.d-lg-block 
                                                | With 
                                                span.color-success Green Plants
                                            .mt-10 
                                                ul.list-disc.mt-0
                                                    li.font-sm.color-brand-3 Free Shipping. Secure Payment
                                                    li.font-sm.color-brand-3 Contact us 24hrs a day
                                                    li.font-sm.color-brand-3 Support gift service
                                                    li.font-sm.color-brand-3 Garden care
                                            .mt-20
                                                a.btn.btn-success(href='shop-grid.html') Shop now
                                                a.btn.btn-link-brand-3(href='shop-grid.html') Learn more
                                        .box-img-banner 
                                            img(src="assets/imgs/page/homepage10/banner.png", alt="Ecom")

                            .swiper-pagination.swiper-pagination-1
                .col-xl-6.col-lg-6.mb-20
                    .banner-big-home10.bg-2
                        .info-banner
                            span.font-sm.text-uppercase.color-brand-2.font-bold new arrival
                            h3.mt-10.color-gray-1000.mb-10 Plant a Tree Today
                            p.font-base.color-gray-500 Remains until the end of the offer
                            .box-count.box-count-square
                                .deals-countdown(data-countdown='2022/09/25 00:00:00')
                            .mt-30
                                a.btn.btn-success(href='shop-grid.html') Shop now
                        .box-img-banner-2 
                            img(src="assets/imgs/page/homepage10/banner2.png", alt="Ecom")