section.section-box.mt-50
    .container
        .head-main.text-center.border-none.mb-0
            h3.mb-5 Featured Products
            p.font-base.color-gray-500 The best products from Spring
        .mt-0
            .list-products-5.list-products-home10
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp1.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp2.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    span.label.bg-danger Hot
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp3.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    span.label.bg-success New
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp4.png', "Amish", "", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp5.png', "Amish", "", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp6.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp7.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    span.label.bg-danger Hot
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp8.png', "Amish", "-17%", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                    span.label.bg-success New
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp9.png', "Amish", "", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')
                +cardGridStyle3_home6_2('assets/imgs/page/homepage10/sp10.png', "Amish", "", 'Crown of Thorns. 2 months. Good vitality. Including pots.', '$3225.6', "$2856.3", 'shop-single-product-2.html')