section.section-box.mt-50
    .container
        .row   
            .col-lg-4.mb-20
                .banner-small-home10.bg-2
                    .info-banner
                        h1.color-gray-1000.mb-10 Sale
                        h3.color-brand-3.mb-5 70% OFF
                        h4.color-gray-500.mb-5 Potted in home
                        .mt-30
                            a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop now
                    .box-img-banner 
                        img.img1(src="assets/imgs/page/homepage10/banner3.png", alt="Ecom")
            .col-lg-4.mb-20
                .banner-small-home10.bg-3
                    .info-banner
                        h1.color-gray-1000.mb-10 Deals
                        h3.color-gray-500.mb-5 Cactus Collection
                        h4.color-gray-500.mb-5 Free Shipping
                        .mt-30
                            a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop now
                    .box-img-banner 
                        img.img2(src="assets/imgs/page/homepage10/banner4.png", alt="Ecom")
            .col-lg-4.mb-20
                .banner-small-home10.bg-32
                    .info-banner
                        h1.color-gray-1000 Hot 
                            br.d-none.d-lg-block 
                            | Trend
                        h3.color-gray-500.mb-0 Summer 2022
                        .mt-0
                            a.btn.btn-link-brand-2.btn-arrow-brand-2.font-normal(href='shop-grid.html') Learn more
                    .box-img-banner 
                        img.img3(src="assets/imgs/page/homepage10/banner5.png", alt="Ecom")