aside#offcanvas_aside.navbar-aside
  .aside-top
    a.brand-wrap(href='index.html')
      img.logo(src='assets/imgs/theme/logo.svg', alt='Evara Dashboard')
    div
      button.btn.btn-icon.btn-aside-minimize
        i.text-muted.material-icons.md-menu_open
  nav
    ul.menu-aside
      li.menu-item.active
        a.menu-link(href='index.html')
          i.icon.material-icons.md-home
          span.text Dashboard
      li.menu-item.has-submenu
        a.menu-link(href='page-products-list.html')
          i.icon.material-icons.md-shopping_bag
          span.text Products
        .submenu
          a(href='page-products-list.html') Product List
          a(href='page-products-grid.html') Product grid
          a(href='page-products-grid-2.html') Product grid 2
          a(href='page-categories.html') Categories
      li.menu-item.has-submenu
        a.menu-link(href='page-orders-1.html')
          i.icon.material-icons.md-shopping_cart
          span.text Orders
        .submenu
          a(href='page-orders-1.html') Order list 1
          a(href='page-orders-2.html') Order list 2
          a(href='page-orders-detail.html') Order detail
          a(href='page-orders-tracking.html') Order tracking
          a(href='page-invoice.html') Invoice
      li.menu-item.has-submenu
        a.menu-link(href='page-sellers-cards.html')
          i.icon.material-icons.md-store
          span.text Sellers
        .submenu
          a(href='page-sellers-cards.html') Sellers cards
          a(href='page-sellers-list.html') Sellers list
          a(href='page-seller-detail.html') Seller profile
      li.menu-item.has-submenu
        a.menu-link(href='page-form-product-1.html')
          i.icon.material-icons.md-add_box
          span.text Add product
        .submenu
          a(href='page-form-product-1.html') Add product 1
          a(href='page-form-product-2.html') Add product 2
          a(href='page-form-product-3.html') Add product 3
          a(href='page-form-product-4.html') Add product 4
      li.menu-item.has-submenu
        a.menu-link(href='page-transactions-1.html')
          i.icon.material-icons.md-monetization_on
          span.text Transactions
        .submenu
          a(href='page-transactions-1.html') Transaction 1
          a(href='page-transactions-2.html') Transaction 2
          a(href='page-transactions-details.html') Transaction Details
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-person
          span.text Account
        .submenu
          a(href='page-account-login.html') User login
          a(href='page-account-register.html') User registration
          a(href='page-error-404.html') Error 404
      li.menu-item
        a.menu-link(href='page-reviews.html')
          i.icon.material-icons.md-comment
          span.text Reviews
      li.menu-item
        a.menu-link(href='page-brands.html')
          i.icon.material-icons.md-stars
          span.text Brands
      li.menu-item
        a.menu-link(disabled='', href='#')
          i.icon.material-icons.md-pie_chart
          span.text Statistics
    hr
    ul.menu-aside
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-settings
          span.text Settings
        .submenu
          a(href='page-settings-1.html') Setting sample 1
          a(href='page-settings-2.html') Setting sample 2
      li.menu-item
        a.menu-link(href='page-blank.html')
          i.icon.material-icons.md-local_offer
          span.text  Starter page