aside#offcanvas_aside.navbar-aside
  .aside-top
    a.brand-wrap(href='index')
      img.logo(src='backend/assets/imgs/theme/logo.svg', alt='Evara Dashboard')
    div
      button.btn.btn-icon.btn-aside-minimize
        i.text-muted.material-icons.md-menu_open
  nav
    ul.menu-aside
      li.menu-item.active
        a.menu-link(href='index')
          i.icon.material-icons.md-home
          span.text Dashboard
      li.menu-item.has-submenu
        a.menu-link(href='page-products-list')
          i.icon.material-icons.md-shopping_bag
          span.text Products
        .submenu
          a(href='page-products-list') Product List
          a(href='page-products-grid') Product grid
          a(href='page-products-grid-2') Product grid 2
          a(href='page-categories') Categories
      li.menu-item.has-submenu
        a.menu-link(href='page-orders-1')
          i.icon.material-icons.md-shopping_cart
          span.text Orders
        .submenu
          a(href='page-orders-1') Order list 1
          a(href='page-orders-2') Order list 2
          a(href='page-orders-detail') Order detail
          a(href='page-orders-tracking') Order tracking
          a(href='page-invoice') Invoice
      li.menu-item.has-submenu
        a.menu-link(href='page-sellers-cards')
          i.icon.material-icons.md-store
          span.text Sellers
        .submenu
          a(href='page-sellers-cards') Sellers cards
          a(href='page-sellers-list') Sellers list
          a(href='page-seller-detail') Seller profile
      li.menu-item.has-submenu
        a.menu-link(href='page-form-product-1')
          i.icon.material-icons.md-add_box
          span.text Add product
        .submenu
          a(href='page-form-product-1') Add product 1
          a(href='page-form-product-2') Add product 2
          a(href='page-form-product-3') Add product 3
          a(href='page-form-product-4') Add product 4
      li.menu-item.has-submenu
        a.menu-link(href='page-transactions-1')
          i.icon.material-icons.md-monetization_on
          span.text Transactions
        .submenu
          a(href='page-transactions-1') Transaction 1
          a(href='page-transactions-2') Transaction 2
          a(href='page-transactions-details') Transaction Details
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-person
          span.text Account
        .submenu
          a(href='page-account-login') User login
          a(href='page-account-register') User registration
          a(href='page-error-404') Error 404
      li.menu-item
        a.menu-link(href='page-reviews')
          i.icon.material-icons.md-comment
          span.text Reviews
      li.menu-item
        a.menu-link(href='page-brands')
          i.icon.material-icons.md-stars
          span.text Brands
      li.menu-item
        a.menu-link(disabled='', href='#')
          i.icon.material-icons.md-pie_chart
          span.text Statistics
    hr
    ul.menu-aside
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-settings
          span.text Settings
        .submenu
          a(href='page-settings-1') Setting sample 1
          a(href='page-settings-2') Setting sample 2
      li.menu-item
        a.menu-link(href='page-blank')
          i.icon.material-icons.md-local_offer
          span.text  Starter page