aside#offcanvas_aside.navbar-aside
  .aside-top
    a.brand-wrap(href='index')
      img.logo(src='/backend/assets/imgs/theme/logo.svg', alt='Evara Dashboard')
    div
      button.btn.btn-icon.btn-aside-minimize
        i.text-muted.material-icons.md-menu_open
  nav
    ul.menu-aside
      li.menu-item.active
        a.menu-link(href='index')
          i.icon.material-icons.md-home
          span.text Tableau de bord
      li.menu-item.has-submenu
        a.menu-link(href='page-products-list')
          i.icon.material-icons.md-shopping_bag
          span.text Produits
        .submenu
          a(href='page-products-list') Liste de produits
          a(href='page-products-grid') Grille de produits
          a(href='page-products-grid-2') Grille de produits 2
          a(href='page-categories') Catégories
      li.menu-item.has-submenu
        a.menu-link(href='page-orders-1')
          i.icon.material-icons.md-shopping_cart
          span.text Commandes
        .submenu
          a(href='page-orders-1') Liste de commande 1
          a(href='page-orders-2') Liste de commande 2
          a(href='page-orders-detail') Détails de la commande
          a(href='page-orders-tracking') Suivi de commande
          a(href='page-invoice') Facture
      li.menu-item.has-submenu
        a.menu-link(href='page-sellers-cards')
          i.icon.material-icons.md-store
          span.text Les vendeurs
        .submenu
          a(href='page-sellers-cards') Cartes de vendeurs
          a(href='page-sellers-list') Liste des vendeurs
          a(href='page-seller-detail') Profil du vendeur
      li.menu-item.has-submenu
        a.menu-link(href='page-form-product-1')
          i.icon.material-icons.md-add_box
          span.text Ajouter un produit
        .submenu
          a(href='page-form-product-1') Ajouter un produit 1
          a(href='page-form-product-2') Ajouter un produit 2
          a(href='page-form-product-3') Ajouter un produit 3
          a(href='page-form-product-4') Ajouter un produit 4
      li.menu-item.has-submenu
        a.menu-link(href='page-transactions-1')
          i.icon.material-icons.md-monetization_on
          span.text Transactions
        .submenu
          a(href='page-transactions-1') Transaction 1
          a(href='page-transactions-2') Transaction 2
          a(href='page-transactions-details') Détails de la transaction
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-person
          span.text Compte
        .submenu
          a(href='page-account-login') User login
          a(href='page-account-register') User registration
          a(href='page-error-404') Error 404
      li.menu-item
        a.menu-link(href='page-reviews')
          i.icon.material-icons.md-comment
          span.text Commentaires
      li.menu-item
        a.menu-link(href='page-brands')
          i.icon.material-icons.md-stars
          span.text Marques
      li.menu-item
        a.menu-link(disabled='', href='#')
          i.icon.material-icons.md-pie_chart
          span.text Statistiques
    hr
    ul.menu-aside
      li.menu-item.has-submenu
        a.menu-link(href='#')
          i.icon.material-icons.md-settings
          span.text Paramètres
        .submenu
          a(href='page-settings-1') Exemple de réglage 1
          a(href='page-settings-2') Exemple de réglage 2
      li.menu-item
        a.menu-link(href='page-blank')
          i.icon.material-icons.md-local_offer
          span.text  Page de démarrage