section.section-box.mt-50
    .container
        .row
            .col-lg-8
                .head-main
                    h3.mb-5 Top Selling Products
                    p.font-base.color-gray-500 Special products in this month.
                    .box-button-slider
                        .swiper-button-next.swiper-button-next-group-1
                        .swiper-button-prev.swiper-button-prev-group-1
                .box-swiper
                    .swiper-container.swiper-group-1
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .row
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'Philips', 'Philips H4205 On-Ear Wireless Headphones with 32mm', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp3.png', 'Apple', '2020 Apple MacBook Air Laptop: Apple M1 Chip, 13”', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp4.png', 'Apple', 'Apple Watch Series 8 [GPS 45mm] Smart Watch', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp5.png', 'Kami Tech', 'Kami by YI 4pc 1080p Home Security Cameras', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp6.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-slide
                                .row
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp1.png', 'Philips', 'Philips H4205 On-Ear Wireless Headphones with 32mm', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp7.png', 'Apple', '2020 Apple MacBook Air Laptop: Apple M1 Chip, 13”', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp5.png', 'Apple', 'Apple Watch Series 8 [GPS 45mm] Smart Watch', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp6.png', 'Kami Tech', 'Kami by YI 4pc 1080p Home Security Cameras', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .col-lg-6.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp3.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product-2.html')
            .col-lg-4
                +bannerRight
