section.section-box.mt-50
  .container
    .row
      .col-xl-4.col-lg-12
        .banner-2.bg-xbox
          span.color-danger.text-uppercase Flat 20% off
          h3.font-30 Microsoft
          h4.font-59 Xbox
          h5.font-55.mb-15 Series S
          span.font-16 From $3500.00
          .mt-25
            a.btn.btn-brand-2.btn-arrow-right(href='shop-fullwidth.html') Shop Now
      .col-xl-8.col-lg-12
        .image-gallery
          .image-big
            .banner-img-left.bg-controller
              h3.font-33.mb-10 Xbox Core Wireless Controller
              p.font-18 Aqua Shift Special Edition
              .mt-25
                a.btn.btn-info.btn-arrow-right(href='shop-fullwidth.html') Shop Now
          .image-small
            .bg-metaverse
              h3.mb-10.font-32 Metaverse
              p.font-16
                | The Future of
                br.d-none.d-lg-block
                |  Creativity
              .mt-15
                a.btn.btn-link-brand-2.btn-arrow-brand-2(href='shop-fullwidth.html') learn more
        .image-gallery
          .image-small
            .bg-electronic
              h3.font-32 Electronic
              p.font-16.color-brand-3 Hot devices, Latest trending
          .image-big
            .bg-phone
              h3.font-33.mb-15 Super discount for your first purchase
              p.font-18 Use discount code in checkout page.
              .mt-25
                a.btn.btn-brand-2.btn-arrow-right(href='shop-fullwidth.html') Shop Now
