extends ../layouts/master.pug

block title
	title Ecom - Marketplace Dashboard Template

block content
	.content-header
		div
			h2.content-title.card-title Brand
			p Brand and vendor management
		div
			a.btn.btn-primary(href='#')
				i.text-muted.material-icons.md-post_add
				| Add New Brand
	.card.mb-4
		header.card-header
			.row.gx-3
				.col-lg-4.mb-lg-0.mb-15.me-auto
					input.form-control(type='text', placeholder='Search...')
				.col-lg-2.col-6
					.custom_select
						select.form-select.select-nice
							option(selected='') Categories
							option Technology
							option Fashion
							option Home Decor
							option Healthy
							option Travel
							option Auto-car
				.col-lg-2.col-6
					input.form-control(type='date', name='')
		.card-body
			.row.gx-3
				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-1.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Cardinal
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-2.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 BirdFly
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-3.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Cocorico
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-4.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Yogilist
							a(href='#')  87 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-5.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Acerie
							a(href='#')  10 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-6.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Shivakin
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-7.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Acera
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-8.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Lion electronics
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-9.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 TwoHand
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-10.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Kiaomin
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-11.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Nokine
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-12.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-13.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-14.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-15.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  398 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-16.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-17.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  13 items

				.col-xl-2.col-lg-3.col-md-4.col-6
					figure.card.border-1
						.card-header.bg-white.text-center
							img.img-fluid(height='76', src='assets/imgs/brands/brand-18.jpg', alt='Logo')
						figcaption.card-body.text-center
							h6.card-title.m-0 Company name
							a(href='#')  13 items