extends ../layouts/master.pug

block title
	title Ecom - Marketplace Dashboard Template

block content
	.row.mt-60
		.col-sm-12
			.w-50.mx-auto.text-center
				img(src='assets/imgs/theme/404.svg', alt='Page Not Found')
				h3.mt-40.mb-15 Oops! Page not found
				p
					| It&apos;s looking like you may have taken a wrong turn. Don&apos;t worry... it happens to the best of us. Here&apos;s a little tip that might help you get back on track.
				a.btn.btn-primary.mt-4(href='index.html')
					i.material-icons.md-keyboard_return
					|  Back to main