extends ../layouts/master.pug

block title
	title Ecom - Marketplace Dashboard Template

block content
	.content-header
		div
			h2.content-title.card-title Invoice
			p Details for Order ID: 3453012
	.row
		.col-lg-8.col-md-12
			.card
				header.card-header
					.row.align-items-center
						.col-lg-6.col-md-6.mb-lg-0.mb-15
							span
								i.material-icons.md-calendar_today
								b Wed, Aug 13, 2022, 4:34PM
							br
							small.text-muted Order ID: 3453012
						.col-lg-6.col-md-6.ms-auto.text-md-end
							a.btn.btn-primary(href='#')
								i.icon.material-icons.md-cloud_download.mr-5
								| Save PDF
							a.btn.btn-secondary.print.ms-2(href='#')
								i.icon.material-icons.md-print.mr-5
								| Print
				.card-body
					.receipt-content
						.container.bootstrap.snippets.bootdey
							.row
								.col-md-12
									.invoice-wrapper
										.intro
											| Hi
											strong
												|  Steven Jobs
											| ,
											br
											|  This is the receipt for a payment of
											strong
												|  $312.00
											|  (USD) for your works
										.payment-info
											.row
												.col-sm-6
													span Payment No.
													strong 434334343
												.col-sm-6.text-end
													span Payment Date
													strong Jul 09, 2022 - 12:20 pm
										.payment-details
											.row
												.col-sm-6
													span Client
													strong
														| Andres felipe posada
													p
														| 989 5th Avenue
														br
														| City of monterrey
														br
														| 55839
														br
														| USA
														br
														a(href='#')
															| jonnydeff@gmail.com
												.col-sm-6.text-end
													span Payment To
													strong
														| Juan fernando arias
													p
														| 344 9th Avenue
														br
														| San Francisco
														br
														| 99383
														br
														| USA
														br
														a(href='#')
															| juanfer@gmail.com
										.line-items
											.headers.clearfix
												.row
													.col-md-4 Description
													.col-md-3 Quantity
													.col-md-5.text-end Amount
											.items
												.row.item
													.col-md-4.desc
														| T-shirt blue, XXL size
													.col-md-3.qty
														| 3
													.col-md-5.amount.text-end
														| $60.00
												.row.item
													.col-md-4.desc
														| Winter jacket for men
													.col-md-3.qty
														| 1
													.col-md-5.amount.text-end
														| $20.00
												.row.item
													.col-md-4.desc
														| Jeans wear for men
													.col-md-3.qty
														| 2
													.col-md-5.amount.text-end
														| $18.00
											.total.text-end
												p.extra-notes
													strong Extra Notes
													| Please send all items at the same time to shipping address by next week.
													| Thanks a lot.
												.field
													| Subtotal
													span $379.00
												.field
													| Shipping
													span $0.00
												.field
													| Discount
													span 4.5%
												.field.grand-total
													| Total
													span $312.00
									.footer
										| Copyright © 2022. company name