section.section-box.mt-50
    .container
        .row
            .col-lg-12
                .head-main
                    h3.mb-5 Top Selling Products
                    p.font-base.color-gray-500 Special products in this month.
                    .box-button-slider
                        .swiper-button-next.swiper-button-next-group-1
                        .swiper-button-prev.swiper-button-prev-group-1
                .box-swiper
                    .swiper-container.swiper-group-1
                        .swiper-wrapper.pt-5
                            .swiper-slide
                                .row
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'Apple', '2022 Apple iMac with Retina 5K Display 8GB RAM, 256GB SSD', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp3.png', 'Apple', 'Bose Sport Earbuds True Wireless Bluetooth Headphones', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp4.png', 'Apple', 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp5.png', 'Apple', 'Apple Watch Series 7 GPS + Cellular, 41mm Midnight', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp6.png', 'Apple', 'Hisense 43" Class 4K UHD LED XClass Smart TV HDR', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp7.png', 'Apple', 'Chromecast with Google TV - Streaming Entertainment', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp2.png', 'Apple', 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp3.png', 'Apple', 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', '$2556.3', 'shop-single-product.html')
                                    .col-lg-4.col-md-6.col-sm-12
                                        +cardGridStyle2('assets/imgs/page/homepage1/imgsp4.png', 'Apple', 'Razer Power Up Gaming Bundle V2 - Cynosa Lite', '$3225.6', '$2556.3', 'shop-single-product.html')
        include ../../sections/banner-ads.pug
        include ../../sections/category-list.pug