section.section-box
    .banner-hero.banner-1
        .container
            .row
                .col-lg-7
                    .box-swiper
                        .swiper-container.swiper-group-1
                            .swiper-wrapper
                                .swiper-slide
                                    .banner-big.banner-big-2.bg-15(style="background-image: url(assets/imgs/page/homepage2/bg-slide.png)")
                                        span.saleoff -25%
                                        span.font-sm.text-uppercase.label-green new arrival
                                        h2.mt-10.color-white Fly More Combo
                                        h1.color-white.lh-65 DJI Mavic Air
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                ul.list-disc
                                                    li.font-sm.color-white SmartCapture
                                                    li.font-sm.color-white 21-Minute Flight Time
                                                    li.font-sm.color-white Advanced Pilot Assistance System
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                            a.btn.btn-link.btn-link-white(href='shop-grid.html') Learn more
                                .swiper-slide
                                    .banner-big.banner-big-2.bg-15(style="background-image: url(assets/imgs/page/homepage2/bg-slide-2.png)")
                                        span.saleoff -25%
                                        span.font-sm.text-uppercase.label-green Best Sale
                                        h2.mt-10.color-white Omos Mobile
                                        h1.color-white.lh-65 KMSZ 14 2022
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                ul.list-disc
                                                    li.font-sm.color-white 6.8" WQHD+ Edge Screen.
                                                    li.font-sm.color-white 5,000mAh (45W Charging)
                                                    li.font-sm.color-white 8GB RAM | 128GB Storage
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                            a.btn.btn-link.btn-link-white(href='shop-grid.html') Learn more
                                .swiper-slide
                                    .banner-big.banner-big-2.bg-15(style="background-image: url(assets/imgs/page/homepage2/bg-slide-3.png)")
                                        span.saleoff -25%
                                        span.font-sm.text-uppercase.label-green new arrival
                                        h2.mt-10.color-white Kitchen equipment
                                        h1.color-white.lh-65 Trending Now
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                ul.list-disc
                                                    li.font-sm.color-white Free Shipping
                                                    li.font-sm.color-white 24 month support
                                                    li.font-sm.color-white Advanced Assistance System
                                        .mt-30
                                            a.btn.btn-brand-2.btn-gray-1000(href='shop-grid.html') Shop now
                                            a.btn.btn-link.btn-link-white(href='shop-grid.html') Learn more
                            .swiper-pagination.swiper-pagination-1
                .col-lg-5
                    .row
                        .col-lg-6.col-md-6.col-sm-6.col-6
                            .banner-small.banner-laptop.bg-16.text-center
                                span.color-brand-3.font-md New Arrivals
                                h4.mb-10.color-gray-1000 Tables Collection
                        .col-lg-6.col-md-6.col-sm-6.col-6
                            .banner-small.banner-player.bg-17
                                h6.mb-10.color-gray-1000 Xbox Core Wireless Controller
                                p.color-brand-1.font-sm
                                    | Aqua Shift
                                    br
                                    |  Special Edition
                        .col-lg-6.col-md-6.col-sm-6.col-6
                            .banner-small.banner-apple.bg-2.text-center
                                h4.mb-0.color-gray-1000 Apple Days
                                span.color-brand-3.font-md Hot devices, Latest trending
                                .mt-0
                                    a.btn.btn-link-orange(href='shop-grid.html') Shop Now
                        .col-lg-6.col-md-6.col-sm-6.col-6
                            .banner-small.banner-samsung.bg-4
                                span.color-brand-3.font-md New Arrivals
                                h4.mb-10.color-gray-1000
                                    | Samsung 2022 Led TV
                                    span.color-brand-3.font-md Special sale
