section.section-box.mt-50
    .container        
        .text-center.mt-30
            a(href="shop-single-product-3.html")
                img(src='assets/imgs/page/homepage2/banner-ads.png', alt='Ecom')