.section-box.mt-30
    .container
        .box-ads-2 
            img(src="assets/imgs/page/homepage7/banner-ads.png", alt="Ecom")
            .ads-info 
                h4.color-white Exclusively High Quality Products
                h3.color-white Shop For Kids Accessories & Gifts