section.section-box.mt-50
    .container
        .row   
            .col-lg-4.mb-20
                .block-sale-1 
                    .row 
                        .col-lg-8.col-sm-8.col-8
                            span.font-sm.color-danger.text-uppercase 10% 
                            span.font-sm.text-uppercase.color-brand-3 Sale Off
                            h3.mb-10 Buy Soft Spongy Teddy Bear
                            a.btn.btn-brand-2.btn-arrow-right(href="#") Shop Now
                        .col-lg-4.col-sm-4.col-4
                            img(src="assets/imgs/page/homepage7/sale1.png", alt="Ecom")
            .col-lg-4.mb-20
                .block-sale-1.bg-4 
                    .row 
                        .col-lg-8.col-sm-8.col-8
                            strong.font-sm.color-danger.font-bold.text-uppercase BIG DISCOUNT
                            h3.mb-10 Wooden toy products
                            a.btn.btn-brand-2.btn-arrow-right(href="#") Shop Now
                        .col-lg-4.col-sm-4.col-4
                            img(src="assets/imgs/page/homepage7/sale2.png", alt="Ecom")
            .col-lg-4.mb-20
                .block-sale-1.bg-10  
                    .row 
                        .col-lg-8.col-sm-8.col-8
                            strong.font-sm.color-danger.font-bold.text-uppercase Flat 50% discount
                            h3.mb-10 Milk powder for mother & baby
                            a.btn.btn-brand-2.btn-arrow-right(href="#") Shop Now
                        .col-lg-4.col-sm-4.col-4
                            img(src="assets/imgs/page/homepage7/sale3.png", alt="Ecom")