section.section-box.pt-50
    .container
        .bg-2.box-bdrd-4.pt-35.pb-35.pl-25.pr-25
            .head-main
                .row
                    .col-lg-6
                        .box-icon-flash
                            h3.mb-5 SHOCKING DEAL
                            p.font-16.font-bold.color-gray-900 The opportunity will quickly pass. Take it!
                    .col-lg-6.text-end
                        .box-all-hurry.box-all-hurry-round
                            .d-inline-block.box-text-hurryup
                                span.font-md-bold.color-gray-900 Hurry up!
                                br
                                span.font-xs.color-gray-500 Offers end in:
                            .box-count.box-count-square.hide-period
                                .deals-countdown(data-countdown='2023/09/25 00:00:00')
            .mt-0
                .box-swiper
                    .swiper-container.swiper-group-1.pb-30
                        .swiper-wrapper
                            .swiper-slide
                                .list-products-5.list-brand-2
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-10%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-3.html', '568', '289')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp4.png', "Philips", "-5%", 'Philips H4205 On-Ear Wireless Headphones with 32mm V201', '$173.2', "$170.3", 'shop-single-product-3.html', '568', '125')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-15%", '2020 Apple MacBook Air Laptop: Apple M1 Chip, 13”', '$225', "$169", 'shop-single-product-3.html', '568', '16')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Apple Watch Series 8 [GPS 45mm] Smart Watch', '$2756.6', "$2514.3", 'shop-single-product-3.html', '568', '185')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp7.png', "Kami Tech", "-30%", 'Kami by YI 4pc 1080p Home Security Cameras', '$125.6', "$115.0", 'shop-single-product-3.html', '568', '68')
                            .swiper-slide
                                .list-products-5.list-brand-2
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp3.png', "Apple", "-10%", '2022 Apple iMac with Retina 5K Display 8GB RAM', '$3225.6', "$2856.3", 'shop-single-product-3.html', '568', '289')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp4.png', "Philips", "-5%", 'Philips H4205 On-Ear Wireless Headphones with 32mm V201', '$173.2', "$170.3", 'shop-single-product-3.html', '568', '125')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp5.png', "Apple", "-15%", '2020 Apple MacBook Air Laptop: Apple M1 Chip, 13”', '$225', "$169", 'shop-single-product-3.html', '568', '16')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp6.png', "Apple", "-17%", 'Apple Watch Series 8 [GPS 45mm] Smart Watch', '$2756.6', "$2514.3", 'shop-single-product-3.html', '568', '185')
                                    +cardStyle3HideCart('assets/imgs/page/homepage1/imgsp7.png', "Kami Tech", "-30%", 'Kami by YI 4pc 1080p Home Security Cameras', '$125.6', "$115.0", 'shop-single-product-3.html', '568', '68')
