.box-menu-category.bg-white 
    h5.title-border-bottom.mb-20 Home Application
    ul.list-nav-arrow
        li
            a(href='shop-grid.html')
                | Camera & Photo
        li
            a(href='shop-grid.html')
                | Vehicle Electronics
        li
            a(href='shop-grid.html')
                | Electronic Equipment
        li
            a(href='shop-grid.html')
                | GPS, Finders & Accessories
        li
            a(href='shop-grid.html')
                | Home Audio & Theater
        li
            a(href='shop-grid.html')
                | Office Electronics
        li
            a(href='shop-grid.html')
                | Portable Audio & Video
        li
            a(href='shop-grid.html')
                | Wearable Technology
        li
            a(href='shop-grid.html')
                | Power Accessories