.sidebar-left
    a.btn.btn-open(href='#')
    ul.menu-icons.hidden
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/page/homepage6/armchair.svg', alt='Ecom')
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/page/homepage6/bathhub.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/bed.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/office.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/chair.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/chest.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/dressing.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/lamp.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/sofa.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/storage.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/electric.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/page/homepage6/wardrobe.svg', alt='Ecom')
    ul.menu-texts.menu-close
        li.has-children
            a(href='shop-grid-2.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/armchair.svg', alt='Ecom')
                span.text-link
                    | Armchair
            ul.sub-menu
                li
                    a(href='shop-grid.html') Cross Back
                li
                    a(href='shop-grid.html') Open Back
                li
                    a(href='shop-grid.html') Queen Anne Back
                li
                    a(href='shop-grid.html') Solid Back
                li
                    a(href='shop-grid.html') Wing Back
        li.has-children
            a(href='#')
                span.img-link
                    img(src='assets/imgs/page/homepage6/bathhub.svg', alt='Ecom')
                span.text-link Bathtub
            ul.sub-menu
                li
                    a(href='shop-grid.html') Freestanding Bathtubs
                li
                    a(href='shop-grid.html') Drop-In Bathtubs
                li
                    a(href='shop-grid.html') Recessed Bathtubs
                li
                    a(href='shop-grid.html') Faucets & Showerheads
                li
                    a(href='shop-grid.html') Baby Bath Tubs
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/bed.svg', alt='Ecom')
                span.text-link Bed
            ul.sub-menu
                li
                    a(href='shop-grid.html') Bamboo, Wood
                li
                    a(href='shop-grid.html') Fabric, Leather
                li
                    a(href='shop-grid.html') Glass, Plastic
                li
                    a(href='shop-grid.html') Leather, Metal
                li
                    a(href='shop-grid.html') Manufactured Wood
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/office.svg', alt='Ecom')
                span.text-link Office Cabinet
            ul.sub-menu
                li
                    a(href='shop-grid.html') Chair
                li
                    a(href='shop-grid.html') Chest
                li
                    a(href='shop-grid.html') Cross Back
                li
                    a(href='shop-grid.html') Open Back
                li
                    a(href='shop-grid.html') Queen Anne Back
                li
                    a(href='shop-grid.html') Solid Back
                li
                    a(href='shop-grid.html') Wing Back
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/chair.svg', alt='Ecom')
                span.text-link Chair
            ul.sub-menu
                li
                    a(href='shop-grid.html') Home Office Desk
                li
                    a(href='shop-grid.html') Living Room
                li
                    a(href='shop-grid.html') Computer Gaming
                li
                    a(href='shop-grid.html') Kitchen & Dining Room
                li
                    a(href='shop-grid.html') Office  & Sofas
                li
                    a(href='shop-grid.html') Managerial  & Executive
                li
                    a(href='shop-grid.html') Video Game
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/chest.svg', alt='Ecom')
                span.text-link Chest
            ul.sub-menu
                li
                    a(href='shop-grid.html') Chests of Drawers
                li
                    a(href='shop-grid.html') Ottomans
                li
                    a(href='shop-grid.html') Storage Benches
                li
                    a(href='shop-grid.html') Decorative Boxes
                li
                    a(href='shop-grid.html') Storage Chests
                li
                    a(href='shop-grid.html') Storage Trunks
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/dressing.svg', alt='Ecom')
                span.text-link Dressing Table
            ul.sub-menu
                li
                    a(href='shop-grid.html') Antique
                li
                    a(href='shop-grid.html') Casual
                li
                    a(href='shop-grid.html') Chinese
                li
                    a(href='shop-grid.html') Classic
                li
                    a(href='shop-grid.html') Colonial
                li
                    a(href='shop-grid.html') Contemporary
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/lamp.svg', alt='Ecom')
                span.text-link Lamp
            ul.sub-menu
                li
                    a(href='shop-grid.html') Desk Lamps
                li
                    a(href='shop-grid.html') Floor Lamps
                li
                    a(href='shop-grid.html') Table Lamps
                li
                    a(href='shop-grid.html') Lamp Sets
                li
                    a(href='shop-grid.html') Colonial
                li
                    a(href='shop-grid.html') Lamp Shades
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/sofa.svg', alt='Ecom')
                span.text-link Sofa
            ul.sub-menu
                li
                    a(href='shop-grid.html') Zinus
                li
                    a(href='shop-grid.html') Lifestyle Solutions
                li
                    a(href='shop-grid.html') Generic
                li
                    a(href='shop-grid.html') Rivet
                li
                    a(href='shop-grid.html') Design by Ashley
                li
                    a(href='shop-grid.html') Knight Home
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/storage.svg', alt='Ecom')
                span.text-link Storage
            ul.sub-menu
                li
                    a(href='shop-grid.html') Convertible
                li
                    a(href='shop-grid.html') Divan
                li
                    a(href='shop-grid.html') Futon
                li
                    a(href='shop-grid.html') Loveseat
                li
                    a(href='shop-grid.html') Recliner
                li
                    a(href='shop-grid.html') Standard
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/electric.svg', alt='Ecom')
                span.text-link Electric Table
            ul.sub-menu
                li
                    a(href='shop-grid.html') Modern
                li
                    a(href='shop-grid.html') Contemporary
                li
                    a(href='shop-grid.html') Armless
                li
                    a(href='shop-grid.html') Pillow-top
                li
                    a(href='shop-grid.html') Rolled-panel
                li
                    a(href='shop-grid.html') Leather
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/page/homepage6/wardrobe.svg', alt='Ecom')
                span.text-link Wardrobe
            ul.sub-menu
                li
                    a(href='shop-grid.html') ClosetMaid
                li
                    a(href='shop-grid.html') South Shore
                li
                    a(href='shop-grid.html') Sauder
                li
                    a(href='shop-grid.html') Bush Furniture
                li
                    a(href='shop-grid.html') Walker Edison
