.box-menu-category.bg-white 
    h5.title-border-bottom.mb-20 Computers Accessories
    ul.list-nav-arrow
        li
            a(href='shop-grid.html')
                | Monitors & Projects
        li
            a(href='shop-grid.html')
                | Screen Protectors
        li
            a(href='shop-grid.html')
                | Computers & Tablets
        li
            a(href='shop-grid.html')
                | Data Storage
        li
            a(href='shop-grid.html')
                | Laptop Accessories
        li
            a(href='shop-grid.html')
                | Networking Products
        li
            a(href='shop-grid.html')
                | Tablet Accessories
        li
            a(href='shop-grid.html')
                | Camera Privacy Covers
        li
            a(href='shop-grid.html')
                | Chargers & Adapters