.sidebar-left
    a.btn.btn-open(href='#')
    ul.menu-icons.hidden
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/template/monitor.svg', alt='Ecom')
        li
            a(href='javascript:void(0)')
                img(src='assets/imgs/template/mobile.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/game.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/clock.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/airpod.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/airpods.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/mouse.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/music-play.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/bluetooth.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/clound.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/electricity.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/cpu.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/devices.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/driver.svg', alt='Ecom')
        li
            a(href='#')
                img(src='assets/imgs/template/lamp.svg', alt='Ecom')
    ul.menu-texts.menu-close
        li.has-children
            a(href='shop-grid-2.html')
                span.img-link
                    img(src='assets/imgs/template/monitor.svg', alt='Ecom')
                span.text-link
                    | Computers &amp; Accessories
            ul.sub-menu
                li
                    a(href='shop-grid.html') Computer Accessories
                li
                    a(href='shop-grid.html') Computer Cases
                li
                    a(href='shop-grid.html') Laptop
                li
                    a(href='shop-grid.html') HDD
                li
                    a(href='shop-grid.html') RAM
                li
                    a(href='shop-grid.html') Headphone
        li.has-children
            a(href='#')
                span.img-link
                    img(src='assets/imgs/template/mobile.svg', alt='Ecom')
                span.text-link Cell Phones
            ul.sub-menu
                li
                    a(href='shop-grid.html') Phone Accessories
                li
                    a(href='shop-grid.html') Phone Cases
                li
                    a(href='shop-grid.html') Postpaid Phones
                li
                    a(href='shop-grid.html') Unlocked Phones
                li
                    a(href='shop-grid.html') Prepaid Phones
                li
                    a(href='shop-grid.html') Prepaid Plans
                li
                    a(href='shop-grid.html') Refurbished Phones
                li
                    a(href='shop-grid.html') Straight Talk
                li
                    a(href='shop-grid.html') iPhone
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
                li
                    a(href='shop-grid.html') Samsung Galaxy
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/game.svg', alt='Ecom')
                span.text-link Gaming Gatgets
            ul.sub-menu
                li
                    a(href='shop-grid.html') Wireless Routers
                li
                    a(href='shop-grid.html') Cool New Gadgets
                li
                    a(href='shop-grid.html') Tech and Gadgets
                li
                    a(href='shop-grid.html') Geek Gifts and Gadgets
                li
                    a(href='shop-grid.html') Xbox Accessories
                li
                    a(href='shop-grid.html') PlayStation Accessories
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/clock.svg', alt='Ecom')
                span.text-link Smart watches
            ul.sub-menu
                li
                    a(href='shop-grid.html') Smart Watches
                li
                    a(href='shop-grid.html') Fashion Smart Watches
                li
                    a(href='shop-grid.html') Smart Bracelets
                li
                    a(href='shop-grid.html') Pocket Watches
                li
                    a(href='shop-grid.html') Smart Rings
                li
                    a(href='shop-grid.html') Other Watches
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/airpods.svg', alt='Ecom')
                span.text-link Wired Headphone
            ul.sub-menu
                li
                    a(href='shop-grid.html') On-Ear Headphones
                li
                    a(href='shop-grid.html') Earbud & In-Ear
                li
                    a(href='shop-grid.html') DJ Headphones
                li
                    a(href='shop-grid.html') PC Accessories
                li
                    a(href='shop-grid.html') PC Game Headsets
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/mouse.svg', alt='Ecom')
                span.text-link Mouse &amp; Keyboard
            ul.sub-menu
                li
                    a(href='shop-grid.html') Logitech
                li
                    a(href='shop-grid.html') Redragon
                li
                    a(href='shop-grid.html') Amazon Basics
                li
                    a(href='shop-grid.html') Microsoft
                li
                    a(href='shop-grid.html') MageGee
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/music-play.svg', alt='Ecom')
                span.text-link Headphone
            ul.sub-menu
                li
                    a(href='shop-grid.html') Car Audio Systems
                li
                    a(href='shop-grid.html') Cellphones
                li
                    a(href='shop-grid.html') Desktops
                li
                    a(href='shop-grid.html') Gaming Consoles
                li
                    a(href='shop-grid.html') Telephones
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/bluetooth.svg', alt='Ecom')
                span.text-link Bluetooth devices
            ul.sub-menu
                li
                    a(href='shop-grid.html') Player Accessories
                li
                    a(href='shop-grid.html') Computer Accessories
                li
                    a(href='shop-grid.html') Speakers & Audio
                li
                    a(href='shop-grid.html') Computer Networking
                li
                    a(href='shop-grid.html') Movies & Films
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/clound.svg', alt='Ecom')
                span.text-link Cloud Software
            ul.sub-menu
                li
                    a(href='shop-grid.html') Android
                li
                    a(href='shop-grid.html') Linux & Unix
                li
                    a(href='shop-grid.html') Macintosh
                li
                    a(href='shop-grid.html') Windows
                li
                    a(href='shop-grid.html') iPhone & iOS
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/electricity.svg', alt='Ecom')
                span.text-link Electric accessories
            ul.sub-menu
                li
                    a(href='shop-grid.html') Antenna Toppers
                li
                    a(href='shop-grid.html') Automotive Body Armor
                li
                    a(href='shop-grid.html') Power Inverter
                li
                    a(href='shop-grid.html') Gas Tank Doors
                li
                    a(href='shop-grid.html') Hood Scoops & Vents
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/cpu.svg', alt='Ecom')
                span.text-link Mainboard &amp; CPU
            ul.sub-menu
                li
                    a(href='shop-grid.html') Computer CPU Processors
                li
                    a(href='shop-grid.html') Internal Fans & Cooling
                li
                    a(href='shop-grid.html') Graphics Cards
                li
                    a(href='shop-grid.html') Network I/O Port Cards
                li
                    a(href='shop-grid.html') Internal Memory Card
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/devices.svg', alt='Ecom')
                span.text-link Desktop PC
            ul.sub-menu
                li
                    a(href='shop-grid.html') Graphic PC
                li
                    a(href='shop-grid.html') Office PC
                li
                    a(href='shop-grid.html') Gaming PC
                li
                    a(href='shop-grid.html') Server
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/driver.svg', alt='Ecom')
                span.text-link Speaker
            ul.sub-menu
                li
                    a(href='shop-grid.html') JBL
                li
                    a(href='shop-grid.html') Anker
                li
                    a(href='shop-grid.html') Pyle
                li
                    a(href='shop-grid.html') Bose
                li
                    a(href='shop-grid.html') Logitech
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/airpod.svg', alt='Ecom')
                span.text-link Bluetooth Headphone
            ul.sub-menu
                li
                    a(href='shop-grid.html') On-Ear Headphones
                li
                    a(href='shop-grid.html') In-Ear Headphones
                li
                    a(href='shop-grid.html') Earbud
                li
                    a(href='shop-grid.html') Over-Ear Headphones
                li
                    a(href='shop-grid.html') Other
        li.has-children
            a(href='shop-grid.html')
                span.img-link
                    img(src='assets/imgs/template/lamp.svg', alt='Ecom')
                span.text-link Computer Decor
            ul.sub-menu
                li
                    a(href='shop-grid.html') Copyholders
                li
                    a(href='shop-grid.html') Office Bookends
                li
                    a(href='shop-grid.html') Business Card Holders
                li
                    a(href='shop-grid.html') Lap Desks
                li
                    a(href='shop-grid.html') Mouse Pads
