#ModalFiltersForm.modal.fade(tabindex='-1', aria-hidden='true', style='display: none;')
    .modal-dialog.modal-xl
        .modal-content.apply-job-form
            .modal-header
                h5.modal-title.color-gray-1000.filters-icon Addvance Fillters
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.p-30
                .row
                    .col-w-1
                        h6.color-gray-900.mb-0 Brands
                        ul.list-checkbox
                            li
                                label.cb-container
                                    input(type='checkbox', checked='checked')
                                    span.text-small Apple
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Samsung
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Baseus
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Remax
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Handtown
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Elecom
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Razer
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Auto Focus
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Nillkin
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Logitech
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small ChromeBook
                                    span.checkmark
                    .col-w-1
                        h6.color-gray-900.mb-0 Special offers
                        ul.list-checkbox
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small On sale
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox', checked='checked')
                                    span.text-small FREE shipping
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Big deals
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Shop Mall
                                    span.checkmark
                        h6.color-gray-900.mb-0.mt-40 Ready to ship in
                        ul.list-checkbox
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small 1 business day
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox', checked='checked')
                                    span.text-small 1&ndash;3 business days
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small in 1 week
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Shipping now
                                    span.checkmark
                    .col-w-1
                        h6.color-gray-900.mb-0 Ordering options
                        ul.list-checkbox
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Accepts gift cards
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Customizable
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox', checked='checked')
                                    span.text-small Can be gift-wrapped
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Installment 0%
                                    span.checkmark
                        h6.color-gray-900.mb-0.mt-40 Rating
                        ul.list-checkbox
                            li.mb-5
                                a(href='#')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    span.ml-10.font-xs.color-gray-500.d-inline-block.align-top (5 stars)
                            li.mb-5
                                a(href='#')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    span.ml-10.font-xs.color-gray-500.d-inline-block.align-top (4 stars)
                            li.mb-5
                                a(href='#')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    span.ml-10.font-xs.color-gray-500.d-inline-block.align-top (3 stars)
                            li.mb-5
                                a(href='#')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    span.ml-10.font-xs.color-gray-500.d-inline-block.align-top (2 stars)
                            li.mb-5
                                a(href='#')
                                    img(src='assets/imgs/template/icons/star.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    img(src='assets/imgs/template/icons/star-gray.svg', alt='Ecom')
                                    span.ml-10.font-xs.color-gray-500.d-inline-block.align-top (1 star)
                    .col-w-2
                        h6.color-gray-900.mb-0 Material
                        ul.list-checkbox
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Nylon (8)
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Tempered Glass (5)
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox', checked='checked')
                                    span.text-small Liquid Silicone Rubber (5)
                                    span.checkmark
                            li
                                label.cb-container
                                    input(type='checkbox')
                                    span.text-small Aluminium Alloy (3)
                                    span.checkmark
                        h6.color-gray-900.mb-20.mt-40 Product tags
                        div
                            a.btn.btn-border.mr-5(href='#') Games
                            a.btn.btn-border.mr-5(href='#') Electronics
                            a.btn.btn-border.mr-5(href='#') Video
                            a.btn.btn-border.mr-5(href='#') Cellphone
                            a.btn.btn-border.mr-5(href='#') Indoor
                            a.btn.btn-border.mr-5(href='#') VGA Card
                            a.btn.btn-border.mr-5(href='#') USB
                            a.btn.btn-border.mr-5(href='#') Lightning
                            a.btn.btn-border.mr-5(href='#') Camera
            .modal-footer.justify-content-start.pl-30
                a.btn.btn-buy.w-auto(href='#') Apply Fillter
                a.btn.font-sm-bold.color-gray-500(href='#') Reset Fillter
