.sidebar-border
    .sidebar-head
        h6.color-gray-900 Blog Categories
    .sidebar-content
        ul.list-nav-arrow
            li
                a(href='blog.html')
                    | Technology Trending
                    span.number 09
            li
                a(href='blog.html')
                    | Entertainment
                    span.number 12
            li
                a(href='blog.html')
                    | Tech Reviews
                    span.number 24
            li
                a(href='blog.html')
                    | Gaming Blog
                    span.number 34
            li
                a(href='blog.html')
                    | Crypto news
                    span.number 65
            li
                a(href='blog.html')
                    | Software Development
                    span.number 15
            li
                a(href='blog.html')
                    | FinTech
                    span.number 76
            li
                a(href='blog.html')
                    | Health Tech
                    span.number 89
            li
                a(href='blog.html')
                    | Tips and Tricks
                    span.number 23
            li
                a(href='blog.html')
                    | Make money online
                    span.number 98
        div
            #moreMenu.collapse
                ul.list-nav-arrow
                    li
                        a(href='blog-2.html')
                            | Home theater
                            span.number 98
                    li
                        a(href='blog-2.html')
                            | Cameras & drones
                            span.number 124
                    li
                        a(href='blog-2.html')
                            | PC gaming
                            span.number 56
            a.link-see-more.mt-5(data-bs-toggle='collapse', href='#moreMenu', role='button', aria-expanded='false', aria-controls='moreMenu') See More

.box-slider-item.mb-30
    .head.pb-15.border-brand-2
        h5.color-gray-900 Trending News
    .content-slider
        .box-swiper.slide-shop
            .swiper-container.swiper-best-seller
                .swiper-wrapper.pt-5
                    .swiper-slide
                        +cardListNews('assets/imgs/page/blog/blog-1.jpg', 'The latest technologies to be used for VR in 2022', 'August 30, 2022', '3', 'blog-single.html')
                            span.label.bg-brand-2 -17%
                        +cardListNews('assets/imgs/page/blog/blog-2.jpg', 'The fate of Elon Musks deal to buy Twitter', 'August 30, 2022', '4', 'blog-single.html')
                        +cardListNews('assets/imgs/page/blog/blog-3.jpg', 'Binance blockchain hit by $570 million crypto', 'August 30, 2022', '5', 'blog-single.html')
                        +cardListNews('assets/imgs/page/blog/blog-4.jpg', 'The Twitter-Musk trial is now on pause', 'August 30, 2022', '6', 'blog-single.html')
                    .swiper-slide
                        +cardListNews('assets/imgs/page/blog/blog-5.jpg', 'Apple unveils iPhone 14 at far out event', 'August 30, 2022', '3', 'blog-single.html')
                            span.label.bg-brand-2 -17%
                        +cardListNews('assets/imgs/page/blog/blog-6.jpg', 'Walmart enters the metaverse with Roblox', 'August 30, 2022', '4', 'blog-single.html')
                        +cardListNews('assets/imgs/page/blog/blog-7.jpg', 'Take no prisoners: In the Feds inflation fight', 'August 30, 2022', '5', 'blog-single.html')
                        +cardListNews('assets/imgs/page/blog/blog-8.jpg', 'Who is who: Meet the Murdoch Family', 'August 30, 2022', '6', 'blog-single.html')
            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-bestseller
            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-bestseller

.box-slider-item
    .head.pb-15.border-brand-2
        h5.color-gray-900 Popular Tags
    .content-slider.mb-50
        a.btn.btn-border.mr-5(href='blog.html') Games
        a.btn.btn-border.mr-5(href='blog.html') Electronics
        a.btn.btn-border.mr-5(href='blog.html') Video
        a.btn.btn-border.mr-5(href='blog.html') Cellphone
        a.btn.btn-border.mr-5(href='blog.html') Indoor
        a.btn.btn-border.mr-5(href='blog.html') VGA Card
        a.btn.btn-border.mr-5(href='blog.html') USB
        a.btn.btn-border.mr-5(href='blog.html') Lightning
        a.btn.btn-border.mr-5(href='blog.html') Camera
        a.btn.btn-border(href='blog.html') Window
        a.btn.btn-border.mr-5(href='blog.html') Air Vent
        a.btn.btn-border.mr-5(href='blog.html') Bedroom
        a.btn.btn-border.mr-5(href='blog.html') Laptop
        a.btn.btn-border.mr-5(href='blog.html') Dashboard
        a.btn.btn-border.mr-5(href='blog.html') Keyboard

.banner-right.h-500.text-center.mb-30
    span.text-no.font-11 No.9
    h5.font-23.mt-20
        | Sensitive Touch
        br.d-none.d-lg-block
        | without fingerprint
    p.text-desc.font-16.mt-15 Smooth handle and accurate click
