.box-notify 
    .container.position-relative 
        .row 
            .col-lg-4
                span.notify-text.color-white Save 20% on your first order. Code: EcomFirst
            .col-lg-4
                span.notify-text.color-white Premium brand products for an affordable price
            .col-lg-4
                span.notify-text.color-white Free exchange of products within 30 days
        a.btn.btn-close