.topbar
    .container-topbar
        .menu-topbar-left.d-none.d-xl-block
            ul.nav-small
                li
                    a.font-xs(href='page-about-us.html') About Us
                li
                    a.font-xs(href='page-careers.html') Careers
                li
                    a.font-xs(href='page-register.html') Open a shop
        .info-topbar.text-center.d-none.d-xl-block
            span.font-xs.color-brand-3 Free shipping for all orders over
            span.font-sm-bold.color-success
                |  $75.00
        .menu-topbar-right
            span.font-xs.color-brand-3 Need help? Call Us:
            span.font-sm-bold.color-success
                |  + 1800 900
            .dropdown.dropdown-language
                button#dropdownPage.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='true', data-bs-display='static')
                    span.dropdown-right.font-xs.color-brand-3
                        img(src='assets/imgs/template/en.svg', alt='Ecom')
                        |  English
                ul.dropdown-menu.dropdown-menu-light(aria-labelledby='dropdownPage', data-bs-popper='static')
                    li
                        a.dropdown-item(href='#')
                            img(src='assets/imgs/template/flag-en.svg', alt='Ecom')
                            |  English
                    li
                        a.dropdown-item(href='#')
                            img(src='assets/imgs/template/flag-fr.svg', alt='Ecom')
                            |  Français
                    li
                        a.dropdown-item(href='#')
                            img(src='assets/imgs/template/flag-es.svg', alt='Ecom')
                            |  Español
                    li
                        a.dropdown-item(href='#')
                            img(src='assets/imgs/template/flag-pt.svg', alt='Ecom')
                            |  Português
                    li
                        a.dropdown-item(href='#')
                            img(src='assets/imgs/template/flag-cn.svg', alt='Ecom')
                            |  中国人
            .dropdown.dropdown-language
                button#dropdownPage2.btn.dropdown-toggle(type='button', data-bs-toggle='dropdown', aria-expanded='true', data-bs-display='static')
                    span.dropdown-right.font-xs.color-brand-3
                        | USD
                ul.dropdown-menu.dropdown-menu-light.dropdown-menu-end(aria-labelledby='dropdownPage2', data-bs-popper='static')
                    li
                        a.dropdown-item.active(href='#') USD
                    li
                        a.dropdown-item(href='#') EUR
                    li
                        a.dropdown-item(href='#') AUD
                    li
                        a.dropdown-item(href='#') SGP