section.section-box.pt-30.bg-home9 
    .container
        .box-product-category
            .d-flex
                .box-category-left
                    .box-menu-category.bg-white 
                        h5.title-border-bottom.mb-20 Furniture & Decor
                        ul.list-nav-arrow
                            li
                                a(href='shop-grid.html')
                                    | Sofas & Couches
                            li
                                a(href='shop-grid.html')
                                    | Living Room Tables
                            li
                                a(href='shop-grid.html')
                                    | Living Room Furniture
                            li
                                a(href='shop-grid.html')
                                    | Dressers & Chests
                            li
                                a(href='shop-grid.html')
                                    | Beds, Frames & Bases
                            li
                                a(href='shop-grid.html')
                                    | Patio Conversation Sets
                            li
                                a(href='shop-grid.html')
                                    | Living Room Tables
                            li
                                a(href='shop-grid.html')
                                    | Chaise Lounges
                            li
                                a(href='shop-grid.html')
                                    | TV & Media Furniture
                .box-category-right
                    .row
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp23.png', "Apple", "-17%", 'Wyze Cam v3 1080p HD Indoor/Outdoor', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp24.png', "Apple", "", 'Sonos Ray Compact Soundbar with Wall Mount', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-danger Hot
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp25.png', "Apple", "", 'Universal Balance Hoverboard Electric Scooter', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-info Deal
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp26.png', "Apple", "", 'Inspire 7255e All-in-One InkJet Printer', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-danger Hot