section.section-box.pt-30.bg-home9 
    .container
        .box-product-category
            .d-flex
                .box-category-left
                    include ../../components/menu-category-3.pug
                .box-category-right
                    .row
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp19.png', "Apple", "-17%", 'Wyze Cam v3 1080p HD Indoor/Outdoor', '$3225.6', "$2856.3", 'shop-single-product-3.html')
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp20.png', "Apple", "", 'Sonos Ray Compact Soundbar with Wall Mount', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-danger Hot
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp21.png', "Apple", "", 'Universal Balance Hoverboard Electric Scooter', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-info Deal
                        .col-xl-3.col-lg-4.col-md-6.col-sm-6 
                            +cardGridStyle3_4('assets/imgs/page/homepage9/sp22.png', "Apple", "", 'Inspire 7255e All-in-One InkJet Printer', '$3225.6', "$2856.3", 'shop-single-product.html')
                                span.label.bg-danger Hot