section.section-box.bg-home9 
    .container 
        .row 
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 New arrivals
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-newarrival
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-newarrival
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-newarrival
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp1.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp2.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp3.png', '$3256', '$2856.3')
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 Best selling
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-bestselling
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-bestselling
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-bestselling
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp4.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp5.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp6.png', '$3256', '$2856.3')
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 Hot Deals
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-hotdeal
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-hotdeal
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-hotdeal
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp7.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp8.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp9.png', '$3256', '$2856.3')
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 Top Ranking
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-topranking
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-topranking
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-topranking
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp10.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp11.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp12.png', '$3256', '$2856.3')
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 Dropshipping
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-dropshipping
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-dropshipping
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-dropshipping
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp13.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp14.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp15.png', '$3256', '$2856.3')
            .col-xl-4.col-lg-6.col-md-6.col-sm-12
                .box-slider-product 
                    .head-slider 
                        .row 
                            .col-lg-7 
                                h5 Upcoming deals
                            .col-lg-5 
                                .box-button-slider-2
                                    .swiper-button-prev.swiper-button-prev-style-top.swiper-button-prev-upcoming
                                    .swiper-button-next.swiper-button-next-style-top.swiper-button-next-upcoming
                    .content-products 
                        .box-swiper
                            .swiper-container.swiper-group-3-upcoming
                                .swiper-wrapper
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp16.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp17.png', '$3256', '$2856.3')
                                    .swiper-slide
                                        +cardProductSamll('assets/imgs/page/homepage9/sp18.png', '$3256', '$2856.3')