.footer-1.mb-0
  .container
    .row
      .col-lg-3.width-25.mb-2
        img(src='images/logo.jpg', alt='switch-gaming').logo
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Address:
          |  502 New Design Str, Melbourne, San Francisco, CA 94110, United States
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Phone:
          |  (+01) 123-456-789
        .font-md.mb-20.color-gray-900
          strong.font-md-bold E-mail:
          |  contact@ecom-market.com
        .font-md.mb-20.color-gray-900
          strong.font-md-bold Hours:
          |  8:00 - 17:00, Mon - Sat
        .mt-30
          a.icon-socials.icon-facebook(href='#')
          a.icon-socials.icon-instagram(href='#')
          a.icon-socials.icon-twitter(href='#')
          a.icon-socials.icon-linkedin(href='#')
      .col-lg-3.width-20.mb-2
        h4.mb-30.color-gray-1000 Besoin d'aide
        ul.menu-footer
          li
            a(href='page-about-us.html') Mission &amp; Vision
          li
            a(href='page-about-us.html') Our Team
          li
            a(href='page-careers.html') Careers
          li
            a(href='#') Press &amp; Media
          li
            a(href='#') Advertising
          li
            a(href='#') Testimonials
      .col-lg-3.width-16.mb-2
        h4.mb-30.color-gray-1000 Informations
        ul.menu-footer
          li
            a(href='blog-2.html') Our Blog
          li
            a(href='#') Plans &amp; Pricing
          li
            a(href='#') Knowledge Base
          li
            a(href='#') Cookie Policy
          li
            a(href='#') Office Center
          li
            a(href='blog.html') News &amp; Events
      .col-lg-3.width-16.mb-2
        h4.mb-30.color-gray-1000 Entreprise Française
        ul.menu-footer
          li
            a(href='#') FAQs
          li
            a(href='#') Editor Help
          li
            a(href='#') Community
          li
            a(href='#') Live Chatting
          li
            a(href='page-contact.html') Contact Us
          li
            a(href='#') Support Center
      .col-lg-3.width-23
        h4.mb-30.color-gray-1000 Abonnez vous maitenant
        div
          p.font-lg.color-white.font-size-16 Abonnez-vous à votre adresse e-mail pour recevoir la newletter et les activité en vedette en fonction de vos centres d'intétrêt
          .box-form-newsletter.mt-15
            form.form-newsletter
              input.input-newsletter.font-xs(value='', placeholder='Your email Address')
              button.btn.btn-brand-2 Sign Up
              
          img(src='assets/imgs/template/payment-method.png', alt='Ecom')
  .container
    .footer-bottom.mt-20
      .row
        .col-lg-6.col-md-12.text-center.text-lg-start
          span.color-gray-900.font-sm Copyright &copy; 2022 Ecom Market. All rights reserved.
        .col-lg-6.col-md-12.text-center.text-lg-end
          ul.menu-bottom
            li
              a.font-sm.color-gray-900(href='page-term.html') Conditions of Use
            li
              a.font-sm.color-gray-900(href='page-term.html') Privacy Notice
            li
              a.font-sm.color-gray-900(href='page-careers.html') Interest-Based Ads

