section.section-box.pt-50
    .container
        .row
            .col-lg-3.mb-20
                .bg-4.box-bdrd-4.bg-headphone
                    span.font-md.color-brand-3 Headphone
                    h4.font-32.color-gray-1000.mb-10.mt-5 Rockez 547
                    p.color-brand-1.font-sm
                        | MUSIC EVERYWHERE
                        br.d-none.d-lg-block
                        | ANYTIME
                    .mt-35
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop Now
            .col-lg-5.col-md-6.col-sm-6.mb-20
                .bg-6.box-bdrd-4.bg-watch.text-center
                    h4.font-33.color-gray-1000 LIMITED WEEKLY DEAL
                    p.font-18
                        | Last call for up to
                        strong.font-24.color-brand-2 $252.00
                        |  OFF
            .col-lg-4.col-md-6.col-sm-6.mb-20
                .bg-5.box-bdrd-4.bg-ipad.text-center
                    span.font-sm.color-brand-3 New Arrivals
                    h4.font-xl.color-gray-1000
                        | Certified Deals On
                        br.d-none.d-lg-block
                        span.color-brand-1 Surface Pro
                        |  2022
                    .mt-15
                        a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop Now
