section.section-box.mt-50
    .container
        .row
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Best seller
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-best-seller
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/camera.png', 'Razer', 'Razer Power Up Gaming Bundle V2 - Cynosa Lite', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/clock.png', 'Apple', 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/airpod.png', 'SAMSUNG', 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/airpod.png', 'Razer', 'Razer Power Up Gaming Bundle V2 - Cynosa Lite', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/camera.png', 'Apple', 'Apple AirPods Pro with MagSafe Charging Case', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/clock.png', 'SAMSUNG', 'SAMSUNG Galaxy Tab A7 Lite, 8.7" Tablet 32GB', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-bestseller
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-bestseller
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Featured products
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-featured
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-1.png', 'Lenovo', 'Lenovo Legion 5i 15.6" Laptop, Intel Core i5', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-2.png', 'LG', 'LG 65" Class 4K UHD Smart TV OLED A1 Series', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-3.png', 'Chromecast', 'Chromecast with Google TV - Streaming Entertainment', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-featured
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-featured
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Most viewed
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-mostviewed
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-4.png', 'Apple', '2022 Apple 10.9-inch iPad Air Wi-Fi 64GB - Silver', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-6.png', 'Hisense', 'Hisense 43" Class 4K UHD LED XClass Smart TV HDR', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-7.png', 'Apple', 'Apple Watch Series 7 GPS + Cellular, 41mm Midnight', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-mostviewed
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-mostviewed
            .col-lg-3.col-md-6.col-sm-12
                .box-slider-item
                    .head
                        h5 Trending
                    .content-slider
                        .box-swiper
                            .swiper-container.swiper-trending
                                .swiper-wrapper.pt-5
                                    .swiper-slide
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-8.png', 'ASUS', 'ASUS VivoBook 15.6" 1080p PC Laptops, Intel Core i3', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-5.png', 'MSI', 'MSI Optix G272 27" Full HD LED Gaming LCD Monitor', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                                            span.label.bg-brand-2 -17%
                                        +cardGridStyle2_1('assets/imgs/page/homepage2/cat-img-9.png', 'Ultra', 'RCA 43" Class 4K Ultra HD (2160P) HDR Roku Smart', '$3225.6', '$2556.3', 'shop-single-product-2.html')
                            .swiper-button-next.swiper-button-next-style-2.swiper-button-next-trending
                            .swiper-button-prev.swiper-button-prev-style-2.swiper-button-prev-trending
