section.section-box.bg-gray-50.pt-50.pb-50.mt-50
    .container
        .head-main.bd-gray-200
            .row
                .col-xl-7.col-lg-6
                    h3.mb-5 Top Brands
                    p.font-base.color-gray-500 Special products in this month.
                .col-xl-5.col-lg-6
                    ul.nav.nav-tabs.text-uppercase(role='tablist')
                        li
                            a.active(href='#tab-2-all', data-bs-toggle='tab', role='tab', aria-controls='tab-2-all', aria-selected='true') All
                        li
                            a(href='#tab-2-digitals', data-bs-toggle='tab', role='tab', aria-controls='tab-2-digitals', aria-selected='true') Digitals
                        li
                            a(href='#tab-2-furniture', data-bs-toggle='tab', role='tab', aria-controls='tab-2-furniture', aria-selected='true') Furniture
                        li
                            a(href='#tab-2-fashion', data-bs-toggle='tab', role='tab', aria-controls='tab-2-fashion', aria-selected='true') Fashion
        .tab-content
            #tab-2-all.tab-pane.fade.active.show(role='tabpanel', aria-labelledby='tab-2-all')
                .row
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-microsoft.png', 'assets/imgs/page/homepage2/microsoft.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 25% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-nokia.png', 'assets/imgs/page/homepage2/nokia.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 30% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-panasonic.png', 'assets/imgs/page/homepage2/panasonic.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-sharp.png', 'assets/imgs/page/homepage2/sharp.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 65% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-philip.png', 'assets/imgs/page/homepage2/philip.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 19% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-casio.png', 'assets/imgs/page/homepage2/casio.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 15% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-acer.png', 'assets/imgs/page/homepage2/acer.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 20% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-toshiba.png', 'assets/imgs/page/homepage2/toshiba.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 35% off", "shop-vendor-single.html")
            #tab-2-digitals.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-digitals')
                .row
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-acer.png', 'assets/imgs/page/homepage2/acer.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-toshiba.png', 'assets/imgs/page/homepage2/toshiba.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-microsoft.png', 'assets/imgs/page/homepage2/microsoft.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-nokia.png', 'assets/imgs/page/homepage2/nokia.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-panasonic.png', 'assets/imgs/page/homepage2/panasonic.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-sharp.png', 'assets/imgs/page/homepage2/sharp.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-philip.png', 'assets/imgs/page/homepage2/philip.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-casio.png', 'assets/imgs/page/homepage2/casio.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")

            #tab-2-furniture.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-furniture')
                .row
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-casio.png', 'assets/imgs/page/homepage2/casio.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-acer.png', 'assets/imgs/page/homepage2/acer.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-microsoft.png', 'assets/imgs/page/homepage2/microsoft.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-nokia.png', 'assets/imgs/page/homepage2/nokia.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-panasonic.png', 'assets/imgs/page/homepage2/panasonic.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-sharp.png', 'assets/imgs/page/homepage2/sharp.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-philip.png', 'assets/imgs/page/homepage2/philip.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-toshiba.png', 'assets/imgs/page/homepage2/toshiba.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
            #tab-2-fashion.tab-pane.fade(role='tabpanel', aria-labelledby='tab-2-fashion')
                .row
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-panasonic.png', 'assets/imgs/page/homepage2/panasonic.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-sharp.png', 'assets/imgs/page/homepage2/sharp.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-microsoft.png', 'assets/imgs/page/homepage2/microsoft.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-nokia.png', 'assets/imgs/page/homepage2/nokia.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-philip.png', 'assets/imgs/page/homepage2/philip.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-casio.png', 'assets/imgs/page/homepage2/casio.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-acer.png', 'assets/imgs/page/homepage2/acer.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
                    .col-xl-3.col-lg-6.col-md-6.col-sm-6.col-12
                        +cardGridStyle4('assets/imgs/page/homepage2/img-toshiba.png', 'assets/imgs/page/homepage2/toshiba.svg', "Shop Now", 'PC, Laptop, Smart Watch, Gaming Gear ...', "Up to 55% off", "shop-vendor-single.html")
