section.section-box.mt-30
  .container
    .border-bottom.pb-25.head-main
      h3 Featured Categories
      p.font-base Choose your necessary products from this feature categories.
      // Button slider
      .box-button-slider
        .swiper-button-next.swiper-button-next-group-2
        .swiper-button-prev.swiper-button-prev-group-2
      // End Button slider
    .mt-10
      .box-swiper
        .swiper-container.swiper-group-style-2
          .swiper-wrapper.pt-5
            .swiper-slide
              ul.list-9-col
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-1.png', 'Air Purifier', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-2.png', 'Women Bags', '125 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-3.png', 'Bluetooth', '625 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-4.png', 'Electronic', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-5.png', 'Gaming Gear', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-6.png', 'Gaming Chair', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-7.png', 'Home App', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-8.png', 'Kitchen', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-9.png', 'Mobile Gadgets', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-10.png', 'Computers', '325 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-11.png', 'Outdoor Camera', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-12.png', 'Entertainment', '6536 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-13.png', 'Sport', '2458 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-14.png', 'Tablet', '2563 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-15.png', 'Television', '1025 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-16.png', 'Watches', '1254 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-17.png', 'Drone & Flycam', '2589 items', 'shop-grid.html')
                li
                    +categoryItem('assets/imgs/page/homepage2/cat-img-18.png', 'Video & Camera', '6358 items', 'shop-grid.html')