.section-box
    .container
        .list-brands.list-none-border
            .box-swiper
                .swiper-container.swiper-group-10
                    .swiper-wrapper
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/microsoft.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/sony.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/acer.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/nokia.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/assus.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/casio.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/dell.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/panasonic.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/vaio.svg', alt='Ecom')
                        .swiper-slide
                            a(href='shop-grid.html')
                                img(src='assets/imgs/slider/logo/sharp.svg', alt='Ecom')
