section.section-box.mt-90.mb-50
    .container
        ul.list-col-5
            li
                +itemList('assets/imgs/template/delivery.svg', 'Free Delivery', 'From all orders over $10')
            li
                +itemList('assets/imgs/template/support.svg', 'Support 24/7', 'Shop with an expert')
            li
                +itemList('assets/imgs/template/voucher.svg', 'Gift voucher', 'Refer a friend')
            li
                +itemList('assets/imgs/template/return.svg', 'Return & Refund', 'Free return over $200')
            li
                +itemList('assets/imgs/template/secure.svg', 'Secure payment', '100% Protected')
