section.section-box
  .container
    .row
      .col-lg-5
        h3 Featured Categories
        p.font-base Choose your necessary products from this feature categories.
      .col-lg-7
        .list-brands
          .box-swiper
            .swiper-container.swiper-group-7
              .swiper-wrapper
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/acer.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/nokia.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/assus.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/casio.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/dell.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/panasonic.svg', alt='Ecom')
                .swiper-slide
                  a(href='shop-grid.html')
                    img(src='assets/imgs/slider/logo/vaio.svg', alt='Ecom')
    .mt-50
      .row
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/smartphone.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Smart Phone
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Phone Accessories
                li
                  a.font-sm(href='shop-grid.html') Phone Cases
                li
                  a.font-sm(href='shop-grid.html') Postpaid Phones
                li
                  a.font-sm(href='shop-grid.html') Refurbished Phones
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/television.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Television
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') HD DVD Players
                li
                  a.font-sm(href='shop-grid.html') Projection Screens
                li
                  a.font-sm(href='shop-grid.html') Television Accessories
                li
                  a.font-sm(href='shop-grid.html') TV-DVD Combos
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/computer.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Computers
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Computer Components
                li
                  a.font-sm(href='shop-grid.html') Computer Accessories
                li
                  a.font-sm(href='shop-grid.html') Desktops
                li
                  a.font-sm(href='shop-grid.html') Monitors
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/electric.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Electronics
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Office Electronics
                li
                  a.font-sm(href='shop-grid.html') Portable Audio &amp; Video
                li
                  a.font-sm(href='shop-grid.html') Washing Machine
                li
                  a.font-sm(href='shop-grid.html') Accessories &amp; Supplies
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/laptop.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Laptop &amp; Tablet
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Office laptop
                li
                  a.font-sm(href='shop-grid.html') Gaming laptop
                li
                  a.font-sm(href='shop-grid.html') Laptop accessories
                li
                  a.font-sm(href='shop-grid.html') Tablet
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/smartwatches.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Smartwatches
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Sport Watches
                li
                  a.font-sm(href='shop-grid.html') Chronograph Watches
                li
                  a.font-sm(href='shop-grid.html') Kids Watches
                li
                  a.font-sm(href='shop-grid.html') Luxury Watches
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/gaming.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Gaming
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Game Controllers
                li
                  a.font-sm(href='shop-grid.html') Gaming Keyboards
                li
                  a.font-sm(href='shop-grid.html') PC Gaming Mice
                li
                  a.font-sm(href='shop-grid.html') PC Game Headsets
              a.btn.btn-gray-abs(href='shop-grid.html') View all
        .col-xl-3.col-lg-6.col-md-6.col-sm-12.col-12
          .card-grid-style-2.card-grid-style-2-small.hover-up
            .image-box
              a(href='shop-grid.html')
                img(src='assets/imgs/page/homepage1/outdoor.png', alt='Ecom')
            .info-right
              a.color-brand-3.font-sm-bold(href='shop-grid.html')
                h6 Outdoor Camera
              ul.list-links-disc
                li
                  a.font-sm(href='shop-grid.html') Security &amp; Surveillance
                li
                  a.font-sm(href='shop-grid.html') Surveillance DVR Kits
                li
                  a.font-sm(href='shop-grid.html') Surveillance NVR Kits
                li
                  a.font-sm(href='shop-grid.html') Smart Outdoor Lighting
              a.btn.btn-gray-abs(href='shop-grid.html') View all
