section.section-box
    .banner-hero.banner-1
        .container
            .row
                .col-lg-8
                    .box-swiper
                        .swiper-container.swiper-group-1
                            .swiper-wrapper
                                .swiper-slide
                                    .banner-big.bg-11(style="background-image: url(assets/imgs/page/homepage1/banner.png)")
                                        span.font-sm.text-uppercase Hot Right Now
                                        h2.mt-10 Sale Up to 50% Off
                                        h1 Mobile Devices
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                p.font-sm.color-brand-3
                                                    | Curabitur id lectus in felis hendrerit efficitur quis quis lectus. Donec sollicitudin elit eu ipsum maximus blandit. Curabitur blandit tempus consectetur.
                                        .mt-30
                                            a.btn.btn-brand-2(href='shop-grid.html') Shop now
                                            a.btn.btn-link(href='shop-grid.html') Learn more
                                .swiper-slide
                                    .banner-big.bg-11-2(style="background-image: url(assets/imgs/page/homepage1/banner-hero-2.png)")
                                        span.font-sm.text-uppercase Trending Now
                                        h2.mt-10 Big Sale 25%
                                        h1 Laptop & PC
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                p.font-sm.color-brand-3
                                                    | Curabitur id lectus in felis hendrerit efficitur quis quis lectus. Donec sollicitudin elit eu ipsum maximus blandit. Curabitur blandit tempus consectetur.
                                        .mt-30
                                            a.btn.btn-brand-2(href='shop-grid.html') Shop now
                                            a.btn.btn-link(href='shop-grid.html') Learn more
                                .swiper-slide
                                    .banner-big.bg-11-3(style="background-image: url(assets/imgs/page/homepage1/banner-hero-3.png)")
                                        span.font-sm.text-uppercase Top Sale This Month
                                        h2.mt-10 Hot Collection
                                        h1 Virtual glasses
                                        .row
                                            .col-lg-5.col-md-7.col-sm-12
                                                p.font-sm.color-brand-3
                                                    | Curabitur id lectus in felis hendrerit efficitur quis quis lectus. Donec sollicitudin elit eu ipsum maximus blandit. Curabitur blandit tempus consectetur.
                                        .mt-30
                                            a.btn.btn-brand-2(href='shop-grid.html') Shop now
                                            a.btn.btn-link(href='shop-grid.html') Learn more
                            .swiper-pagination.swiper-pagination-1
                .col-lg-4
                    .row
                        .col-lg-12.col-md-6.col-sm-12
                            .banner-small.banner-small-1.bg-13
                                span.color-danger.text-uppercase.font-sm-lh32
                                    | 10%
                                    span.color-brand-3 Sale Off
                                h4.mb-10 Apple Watch Serial 7
                                p.color-brand-3.font-desc
                                    | Don&apos;t miss the last
                                    br.d-none.d-lg-block
                                    |  opportunity.
                                .mt-20
                                    a.btn.btn-brand-3.btn-arrow-right(href='shop-grid.html') Shop now
                        .col-lg-12.col-md-6.col-sm-12
                            .banner-small.banner-small-2.bg-14
                                span.color-danger.text-uppercase.font-sm-lh32 LATEST COLLECTION
                                h4.mb-10 Apple Devices &amp; Software
                                p.color-brand-3.font-md
                                    | Don&apos;t miss the last
                                    br.d-none.d-lg-block
                                    |  opportunity.
                                .mt-20
                                    a.btn.btn-brand-2.btn-arrow-right(href='shop-grid.html') Shop now
